{% extends "base_beheer.html" %}
{% load l10n %}
{% block title %}
    MOR-Core notificatie status overzicht | FixeR
{% endblock title %}
{% block body %}
    <div class="page__beheer">
        <div>
            <a href="{% url 'beheer' %}" class="link--back">
                {% include "icons/arrow-long.svg" %}
                Beheer
            </a>
        </div>
        <div class="container__flex">
            <h1>Achterstallige informatie of statussen voor MOR-Core</h1>
            {% if taken %}
                <div class="container__flex flex--end">
                    <form action="{% url 'notificatie_status_overzicht' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button {% if not taakgebeurtenissen_niet_bezig or bezig_versturen_van_notificaties %}disabled{% endif %}
                                type="submit"
                                class="btn btn-action">Verstuur notificaties</button>
                    </form>
                </div>
            {% endif %}
        </div>
        {% if not taken %}
            <div class="container__flex">
                <p>Alle taak notificaties zijn verstuurd</p>
            </div>
        {% else %}
            <div class="container__flex">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Taak aangemaakt</th>
                            <th>Taak</th>
                            <th>niet verstuurd/totaal</th>
                            <th>Notificatie statussen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for taak in taken %}
                            <tr>
                                <td style="background: {% if taak.taakgebeurtenissen_niet_bezig %}#d70d0d{% else %}#00811f{% endif %};
                                           width: 40px"></td>
                                <td>{{ taak.aangemaakt_op }}</td>
                                <td>
                                    <a href="{% url 'taak_detail' taak.uuid %}">{{ taak.titel }}</a>
                                </td>
                                <td>{{ taak.taakgebeurtenis_aantal_notificatie_niet_vertuurd }}/{{ taak.taakgebeurtenis_aantal }}</td>
                                <td>
                                    {% for k, v in taak.taakgebeurtenissen.items %}
                                        {{ k }}({{ v }})
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock body %}
