{% load file_exists from main_tags %}
{% load l10n %}
{% with id=widget.attrs.id %}
    <div class="form-row {{ classes.label }} {{ classes.value }} {{ classes.single_value }}">
        {% if id and not widget.attrs.hideLabel %}
            <h3 class="label {% if widget.attrs.hasMoreInfo and widget.help_text %}has-more-info{% endif %}">
                {{ widget.label }}{{ widget.attrs.hideLabel }}
            </h3>
        {% endif %}
        {% if widget.attrs.showSelectAll %}
            <div class="container__buttons">
                <button class="btn btn-textlink btn-inline"
                        data-action="selectAll#selectAll"
                        data-selectAll-filter-type-param="all">Selecteer alles</button>
                |
                <button class="btn btn-inline" data-action="selectAll#selectAll">Selecteer niets</button>
            </div>
        {% endif %}
        <div id="{{ id }}" class="container__table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Taak</th>
                        <th>Notificatie error</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group, options, index in widget.optgroups %}
                        {% for option in options %}
                            <tr class="row">
                                <td>
                                    <div class="form-check">{% include "django/forms/widgets/input.html" with widget=option %}</div>
                                </td>
                                <td>{{ option.label.taak.titel }}</td>
                                <td>
                                    {% if option.label.notificatie_error %}
                                        {{ option.label.notificatie_error }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endwith %}
