version: "3"
services:
  gateway:
    container_name: fixer.mor.local
    build: ./nginx
    volumes:
      - ./nginx/nginx-default.development.conf:/etc/nginx/conf.d/default.conf
      - ./media:/media
    depends_on:
      fixer_app:
        condition: service_started
    ports:
      - 8004:8004
    networks:
      - mor_bridge_network
    env_file:
      - .env.local
  fixer_app:
    build: &build-definition
      context: ./app
    env_file:
      - .env.local
    volumes:
      - ./media:/media
      - ./app:/app
    depends_on:
      redis:
        condition: service_started
      database:
        condition: service_healthy
    networks:
      - fixer_network
      - mor_bridge_network
    command: ["bash", "/app/deploy/docker-entrypoint.development.sh"]
    restart: always

  database:
    image: postgis/postgis:16-3.4
    shm_size: '1024m'
    ports:
      - "7996:5432"
    env_file:
      - .env.local
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-data-16:/var/lib/postgresql/data
    networks:
      - fixer_network

  redis:
    image: redis
    networks:
      - fixer_network
    ports:
      - "6379"

  celery:
    build: *build-definition
    command: ["bash", "/app/deploy/docker-entrypoint.celery.sh"]
    depends_on:
      database:
        condition: service_started
      redis:
        condition: service_started
    volumes:
      - ./media:/media
    env_file:
      - .env.local
    networks:
      - fixer_network
      - mor_bridge_network

  mercure:
    image: dunglas/mercure:v0.20
    restart: unless-stopped
    environment:
      MERCURE_EXTRA_DIRECTIVES: |
          cors_origins "http://fixer.mor.local:8004"
          anonymous
      SERVER_NAME: ':80'
    # command: /usr/bin/caddy run --config /etc/caddy/Caddyfile.dev
    env_file:
      - .env.local
    ports:
      - '7001:80'
      - '443:443'
    networks:
      - fixer_network
    volumes:
      - mercure_data:/data
      - mercure_config:/config


volumes:
  postgres-data-16:
  mercure_data:
  mercure_config:

networks:
  fixer_network:
    external: true
  mor_bridge_network:
    external: true
