{% extends "base.html" %}
{% load json_encode from main_tags %}
{% block title %}
    Taken | FixeR
{% endblock title %}
{% block body %}
    <turbo-frame id="taak_basis" data-turbo-action="advance">
    <form action="{% url 'taken_overzicht' %}"
          method="post"
          class="taken-overzicht"
          data-controller="taken-overzicht"
          data-taken-overzicht-taken-kaart-outlet="#taken_kaart"
          data-taken-overzicht-taken-lijst-outlet="#taken_lijst"
          data-action="keydown->taken-overzicht#keydownHandler"
          data-turbo-frame="false"
          id="taken_overzicht"
          data-testid="incidentFilterAllForm">
        {% csrf_token %}
        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        <div class="page-incidents">
            <div class="container__header"
                 data-taken-overzicht-target="containerHeader">
                <div class="row">
                    <h1 class="h3">
                        Taken <span class="count" id="stream_taken_aantal">{{ page_obj.paginator.count }}</span>
                    </h1>
                    <div class="container__controls">
                        <div class="wrapper__controls">
                            <div class="container__filter-button">
                                <button type="button"
                                        class="btn"
                                        data-taken-overzicht-target="filterButton"
                                        data-action="taken-overzicht#showFilters">
                                    <span data-taken-overzicht-target="filterCount" class="icon">{% include "icons/filter.svg" %}</span>
                                    <span>Filters</span>
                                    <span class="count count--filter" id="stream_taken_aantal_2">{{ page_obj.paginator.count }}</span>
                                    <span class="count count--filter hidden"
                                          data-taken-overzicht-target="selectedChoicesCount"></span>
                                </button>
                            </div>
                            <div class="container__buttons">
                                {% if request.user.profiel.context.template == "standaard" %}
                                    <div class="container__uitklapper">
                                        <button type="button"
                                                class="btn btn-navigate--small toggle-view"
                                                data-action="taken-overzicht#toggleMapViewHandler"
                                                data-taken-overzicht-target="toggleMapView">
                                            {% comment %} {% include "icons/kaart.svg" %}
                                            {% include "icons/lijst.svg" %} {% endcomment %}
                                            {% include "icons/eye.svg" %}
                                            <span>Weergave</span>
                                        </button>
                                        <div class="content">
                                            <ul class="list-clean">
                                                <li>
                                                    <button class="btn btn--list"
                                                            data-taken-overzicht-target="showList"
                                                            data-action="taken-overzicht#showList">
                                                        {% include "icons/lijst2.svg" %}
                                                        <span>Lijst</span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="btn btn--map"
                                                            data-taken-overzicht-target="showMap"
                                                            data-action="taken-overzicht#showMap">
                                                        {% include "icons/kaart2.svg" %}
                                                        <span>Kaart</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                                <button type="button"
                                        class="btn btn-sort--small"
                                        data-action="taken-overzicht#onToggleSortingContainer"
                                        aria-label="Sorteer de lijst">
                                    {% include "icons/caret-updown.svg" %}
                                    <span>Sorteren</span>
                                </button>
                                <button type="button"
                                        class="btn btn-sort--small"
                                        data-taken-overzicht-target="toggleZoeken"
                                        data-action="taken-overzicht#onToggleSearchContainer"
                                        aria-label="Toon zoekveld">
                                    {% include "icons/search-black.svg" %}
                                    <span>Zoeken</span>
                                </button>
                            </div>
                        </div>
                        <div class="container__search-default hidden-vertical"
                             data-taken-overzicht-target="zoekFieldDefaultContainer">
                            <div class="wrapper wrapper--search-group"
                                 data-taken-overzicht-target="zoekFieldset">
                                <div class="wrapper wrapper--search">
                                    <div class="wrapper--close">
                                        {{ form.q }}
                                        <button class="hide btn--close"
                                                type="button"
                                                data-taken-overzicht-target="cancelZoek"
                                                data-action="taken-overzicht#onCancelSearch">
                                            {% include "icons/close.svg" %}
                                        </button>
                                    </div>
                                    <button class="btn btn--search"
                                            type="button"
                                            data-taken-overzicht-target="zoekButton"
                                            data-action="taken-overzicht#onZoekButtonClick">
                                        <span>{% include "icons/search-black.svg" %}</span>
                                    </button>
                                </div>
                                {{ form.deactivate_filters.as_field_group }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container__list">
                <div class="container__flex list--navigation-tools">
                    <div class="container__sorting hidden-vertical"
                         data-taken-overzicht-target="sorteerOptiesFieldContainer">{{ form.sorteer_opties }}</div>
                    <div class="container__search hidden-vertical"
                         data-taken-overzicht-target="zoekFieldContainer"></div>
                    <div class="list__incidents" id="stream_taken_lijst">{% include "taken/overzicht/lijst.html" %}</div>
                </div>
                {% if request.user.profiel.context.template != "benc" %}
                    {% include "taken/overzicht/kaart.html" %}
                {% endif %}
            </div>
        </div>
        <dialog class="infosheet full-page-view full-page-view__filters"
                tabindex="0"
                data-taken-overzicht-target="filtersheet">
            <div class="full-page-view__main">
                <div class="full-page-view__header">
                    <div class="full-page-view__action_container">
                        <h2 class="full-page-view__title">Filters</h2>
                        <button autofocus
                                class="btn-close--small"
                                data-action="taken-overzicht#hideFilters"
                                aria-label="Sluiten">{% include "icons/close.svg" %}</button>
                    </div>
                    <div class="scroll-handle" data-taken-overzicht-target="scrollHandle"></div>
                </div>
                <div class="full-page-view__scroll-pane">
                    <div class="full-page-view__content">
                        <div>{% include "taken/overzicht/filter_form.html" %}</div>
                    </div>
                </div>
            </div>
        </dialog>
    </form>
    </turbo-frame>
{% endblock body %}
