<div class="container__message">
    <h2>Helemaal klaar!</h2>
    <div class="alert">
        <strong>
            <span class="badge-count">!</span>Let op
        </strong>
        <div>
            We hebben geen taken gevonden binnen je huidige filter-instellingen. Wil je taken zien die voor jou interessant zijn?
        </div>
    </div>
    <button class="btn btn-action" data-action="taken-overzicht#showFilters">Pas je filters aan</button>
    <p class="center">
        Heb je FixeR nog niet ingesteld?
        <br>
        <a href="{% url 'onboarding' %}" class="" data-turbo-frame="taak_basis">Stel hier je profiel in</a>
    </p>
</div>
