<details class="filter"
         id="foldout_{{ field.label|slugify }}"
         {% if filter.folded %}open{% endif %}>
    <summary>
        <span>{{ field.label }}</span>
        <span>(<span data-taken-overzicht-target="selectedChoicesCount"></span>)</span>
    </summary>
    <div class="container__list--districts foldout">
        <div class="container__list--header">
            <div>
                <button class="btn btn-textlink"
                        data-action="taken-overzicht#selectAll"
                        data-taken-overzicht-filter-type-param="all">Selecteer alles</button>
                <button class="btn btn-textlink" data-action="taken-overzicht#selectAll">/ niets</button>
            </div>
        </div>
        <ul class="list-clean">
            {{ field }}
        </ul>
    </div>
</details>
