<li class="container__check-department">
    <div class="form-check container__flex">
        <div class="container__input">{% include "django/forms/widgets/input.html" %}</div>
        {% comment %} <label for="{{ filter.key }}_{{ option.id }}">{{ option.label }}</label> {% endcomment %}
        <label class="form-check-label"
               {% if widget.attrs.id %}for="{{ widget.attrs.id }}"{% endif %}>{{ widget.label }}</label>
        {% if filter.key == "taken" %}
            <button class="btn btn-inline btn-info"
                    data-action="infosheet#openInfosheet"
                    data-infosheet-action-param="{% url 'taaktype_taakr' option.id %}"
                    aria-label="meer info">{% include "icons/info.svg" %}</button>
        {% endif %}
    </div>
</li>
