<details class="filter"
         data-action="filter#toggleActiveFilter"
         id="foldout_{{ field.label|slugify }}"
         {% if filter.folded %}open{% endif %}>
    <summary>
        <span>{{ field.label }}</span>
        <span>({{ filter.active|length }})</span>
    </summary>
    <div class="container__list--districts foldout">
        <div class="container__list--header">
            <div>
                <button class="btn btn-textlink"
                        data-action="filter#selectAll"
                        data-filter-filter-type-param="all">Selecteer alles</button>
                <button class="btn btn-textlink" data-action="filter#selectAll">/ niets</button>
            </div>
        </div>
        {{ field }}
    </div>
</details>
