{% with id=widget.attrs.id %}
    {% for group, options, index in widget.optgroups %}
        {% if group %}
            <li>
                <details class="filter"
                         id="foldout_{{ group|slugify }}"
                         {% if filter.folded %}open{% endif %}>
                    <summary>
                        <span>{{ group }}</span>
                        <span>(<span data-filter-target="selectedChoicesCount"></span>)</span>
                    </summary>
                    <div class="container__list--districts foldout">
                        <div class="container__list--header">
                            <h3 class="h5">{{ widget.attrs.sub_label }}</h3>
                            <div>
                                <button class="btn btn-textlink"
                                        data-action="filter#selectAll"
                                        data-filter-filter-type-param="all">Selecteer alles</button>
                                <button class="btn btn-textlink" data-action="filter#selectAll">/ niets</button>
                            </div>
                        </div>
                        <ul class="list-clean" data-test-id="incidentFilter{{ f.naam|capfirst }}">
                        {% endif %}
                        {% for option in options %}
                            {% include option.template_name with widget=option %}
                        {% endfor %}
                        {% if group %}
                        </ul>
                    </div>
                </details>
            </li>
        {% endif %}
    {% endfor %}
{% endwith %}
