{% load json_encode from main_tags %}
<details class="filter filter--active" id="foldout_active-filters">
    <summary>
        <span>Actieve filters</span>
        <span class="count count--filter"
              data-taken-overzicht-target="selectedChoicesCount">{{ filter_manager.active_filter_count }}</span>
    </summary>
    <fieldset>
        <ul class="list-clean" id="stream_active_filters">
            {% include "taken/overzicht/stream_snippets/stream_active_filters.html" %}
        </ul>
        <button class="btn-textlink btn-with-icon margin-vertical"
                data-action="taken-overzicht#removeAllFilters">
            {% include "icons/bin.svg" %}
            <span>Verwijder alle filters</span>
        </button>
    </fieldset>
</details>
{% for field in form.filter_fields %}{{ field.as_field_group }}{% endfor %}
{% include "snippets/alert_onboarding.html" %}
<div class="full-page-view__footer" id="stream_filter_button">
    {% include "taken/overzicht/stream_snippets/stream_filter_button.html" %}
</div>
