{% comment %} {% extends "base.html" %} {% endcomment %}
{% load webpack_static from webpack_loader %}
{% load json_encode from main_tags %}
{% load context_template from context_tags %}
<div class="list__incidents__scroll-wrapper"
     id="taken_lijst"
     data-controller="taken-lijst"
     data-taken-lijst-selected-taak-uuid-value="{{ selected_taak.uuid }}"
     data-taken-lijst-taken-kaart-outlet="#taken_kaart">
    {% if page_obj.paginator.count %}
        {% for taak in page_obj %}
            {% include "taken/overzicht/taak_lijst_item.html" %}
        {% endfor %}
    {% else %}
        {% include "taken/overzicht/bericht_te_weinig_taken.html" %}
    {% endif %}
</div>
{% include "snippets/paginator.html" with page_obj=page_obj %}
