{% extends "snippets/modal_context.html" %}
{% load l10n %}
{% load webpack_static from webpack_loader %}
{% load json_encode replace_comma_by_dot adres_order_nummer from main_tags %}
{% load mor_core_url mor_core_protected_url from main_tags %}
{% block before_modal_content %}
    <div data-taken-lijst-target="taakItem"
         data-modal-target="taakItem"
         data-taken-overzicht-target="taakItem"
         data-uuid="{{ taak.uuid }}"
         data-melding-uuid="{{ taak.melding.melding_uuid }}"
         data-titel="{{ taak.titel }}"
         data-adres="{{ taak.melding.locatie_verbose }}"
         data-geometrie="{% if taak.melding.geometrie %}{{ taak.melding.geometrie|json_encode }}{% else %}{% endif %}"
         {% if taak.melding.thumbnail_afbeelding_relative_url %}data-afbeelding-url="{{ taak.melding.thumbnail_afbeelding_relative_url|mor_core_protected_url }}"{% endif %}
         {% if taak.laatste_taakgebeurtenis_omschrijving_intern %}data-has-remark="true"{% endif %}
         class="list-item"
         data-controller="modal{% if taak.melding.locatie_type != 'graf' and not taak.afgesloten_op %} taak{% endif %}">
        <div class="wrapper__swipe" data-taak-target="swipeContainer">
            {% if taak.melding.locatie_type != "graf" and not taak.afgesloten_op %}
                <button class="container__actions handle--no-success" data-controller="incidentlistItem" data-uuid="{{ taak.uuid }}" data-taak-target="buttonNietOpgelost" data-modal-title-param="Taak afhandelen" data-modal-url-param="{% url 'taak_afhandelen' taak.uuid %}?resolutie=niet_opgelost" data-modal-id-param="incident_modal_handle_{{ taak.uuid }}" data-incidentListItem-taakid-param="{{ taak.uuid }}" data-action="incidentlistItem#saveTaakId modal#openModal" data-modal-sub-title-param="{% include "taken/taak_afhandelen_subtitel.html" %}" data-modal-info-extra-param="{% include "taken/taak_afhandelen_info_extra.html" %}">
                    <div>
                        <span>Niet opgelost</span>
                    </div>
                </button>
                <button class="container__actions handle--success" data-controller="incidentlistItem" data-uuid="{{ taak.uuid }}" data-taak-target="buttonOpgelost" data-modal-title-param="Taak afhandelen" data-modal-url-param="{% url 'taak_afhandelen' taak.uuid %}?resolutie=opgelost" data-modal-id-param="incident_modal_handle_{{ taak.uuid }}" data-modal-taakid-param="{{ taak.uuid }}" data-incidentListItem-taakid-param="{{ taak.uuid }}" data-action="incidentlistItem#saveTaakId modal#openModal" data-modal-sub-title-param="{% include "taken/taak_afhandelen_subtitel.html" %}" data-modal-info-extra-param="{% include "taken/taak_afhandelen_info_extra.html" %}">
                    <div>
                        <span>Afhandelen</span>
                    </div>
                </button>
            {% endif %}
            <div class="container__flex">
                <a href="{% url 'taak_detail' taak.uuid %}"
                   data-controller="incidentlistItem"
                   data-turbo-frame="taak_basis"
                   data-page="{{ page_obj.number }}"
                   aria-label="Bekijk taak {{ taak.uuid }}"
                   data-action="incidentlistItem#saveTaakId"
                   data-incidentlistItem-taakId-param="{{ taak.uuid }}">
                    <div class="container__image">
                        {% if taak.melding.thumbnail_afbeelding_relative_url %}
                            <div class="background-image"
                                 data-src="{{ taak.melding.thumbnail_afbeelding_relative_url|mor_core_protected_url }}">
                                <img alt="afbeelding_verkleind" />
                            </div>
                        {% else %}
                            <div class="background-image"
                                 data-src="{% webpack_static 'icons/noimage.svg' %}">
                                <img class="width60" alt="noimage" />
                            </div>
                        {% endif %}
                    </div>
                    <div class="container__info">
                        <div>
                            <h2 class="h5">
                                {{ taak.melding.locatie_verbose }}
                                {% if taak.taakstatus.naam %}
                                    <span class="badge {% if taak.taakstatus.naam == 'nieuw' or taak.taakstatus.naam == 'openstaand' %}badge--darkblue {% elif taak.taakstatus.naam == 'toegewezen' %}badge--yellow {% else %}badge--green{% endif %}">{{ taak.taakstatus.naam|lower|capfirst }}</span>
                                {% endif %}
                                {% if taak.laatste_taakgebeurtenis_omschrijving_intern %}
                                    <span class="badge-count badge-count--info">i</span>
                                {% endif %}
                            </h2>
                            {% if taak.melding.postcode or taak.melding.plaatsnaam %}
                                <strong>
                                    {% if taak.melding.postcode %}{{ taak.melding.postcode }}{% endif %}
                                    {% if taak.melding.postcode and taak.melding.plaatsnaam %},{% endif %}
                                    {% if taak.melding.plaatsnaam %}{{ taak.melding.plaatsnaam }}{% endif %}
                                </strong>
                            {% endif %}
                            <div>
                                <span class="incident__category">{{ taak.titel }}</span>
                            </div>
                            <div class="incident__moment">
                                <span data-taak-target="incidentDate">
                                    {% localize on %}
                                    {{ taak.taakstatus.aangemaakt_op|date:"D d M Y"|lower }} {{ taak.taakstatus.aangemaakt_op|time:"H:i" }}
                                    <br>
                                {% endlocalize %}
                            </span>
                        </div>
                        {% with taak.melding.geometrie as geo %}
                            {% if geo and taak.afstand %}
                                <div class="incident__distance">
                                    <span>
                                        <span data-taken-lijst-target="taakAfstand"
                                              data-latitude="{{ geo.1|replace_comma_by_dot }}"
                                              data-longitude="{{ geo.0|replace_comma_by_dot }}">
                                            {{ taak.afstand|floatformat:"0" }}&nbsp;
                                        </span>
                                        meter
                                    </span>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </a>
            {% if taak.melding.geometrie %}
                <button class="btn btn-icon--clean"
                        data-taken-lijst-taak-uuid-param="{{ taak.uuid }}"
                        data-taken-overzicht-code-param=""
                        data-action="taken-lijst#selectTaakMarker:prevent">{% include "icons/kaart.svg" %}</button>
            {% endif %}
        </div>
    </div>
{% endblock before_modal_content %}
{% block turbo_frame_id %}
    incident_modal_handle_{{ taak.uuid }}
{% endblock turbo_frame_id %}
{% block after_modal_content %}
</div>
{% endblock after_modal_content %}
