{% load l10n %}
{% load webpack_static from webpack_loader %}
{% load json_encode replace_comma_by_dot adres_order_nummer profiel_includes_taak from main_tags %}
{% load mor_core_url mor_core_protected_url from main_tags %}
{% profiel_includes_taak taak user.profiel as taak_in_profiel %}
<div data-taken-lijst-target="taakItem"
     data-taken-overzicht-target="taakItem"
     data-uuid="{{ taak.uuid }}"
     data-melding-uuid="{{ taak.melding.melding_uuid }}"
     data-titel="{{ taak.titel }}"
     data-adres="{{ taak.melding.locatie_verbose }}"
     data-geometrie="{% if taak.melding.geometrie %}{{ taak.melding.geometrie|json_encode }}{% else %}{% endif %}"
     {% if taak.melding.thumbnail_afbeelding_relative_url %}data-afbeelding-url="{{ taak.melding.thumbnail_afbeelding_relative_url|mor_core_protected_url }}"{% endif %}
     {% if taak.laatste_taakgebeurtenis_omschrijving_intern %}data-has-remark="true"{% endif %}
     {% if taak.melding.locatie_type != "graf" and not taak.afgesloten_op and taak_in_profiel %} data-controller="taak" {% endif %}
     class="list-item">
    <div class="wrapper__swipe" data-taak-target="swipeContainer">
        {% if taak.melding.locatie_type != "graf" and not taak.afgesloten_op and taak_in_profiel %}
            <button class="container__actions handle--no-success"
                    data-taak-target="buttonNietOpgelost"
                    data-action="modal#openModal"
                    disabled="true"
                    data-modal-action-param="{% url 'taak_afhandelen' taak.uuid %}?resolutie=niet_opgelost">
                <div>
                    <span>Niet opgelost</span>
                </div>
            </button>
            <button class="container__actions handle--success"
                    data-taak-target="buttonOpgelost"
                    data-action="modal#openModal"
                    disabled="true"
                    data-modal-action-param="{% url 'taak_afhandelen' taak.uuid %}?resolutie=opgelost">
                <div>
                    <span>Taak uitvoeren</span>
                </div>
            </button>
        {% endif %}
        <div class="container__flex">
            <a href="{% url 'taak_detail' taak.uuid %}"
               aria-label="Bekijk taak {{ taak.uuid }}">
                <div class="container__image">
                    <div class="background-image">
                        {% if taak.melding.thumbnail_afbeelding_relative_url %}
                            <img data-controller="lazyloader"
                                 data-src="{{ taak.melding.thumbnail_afbeelding_relative_url|mor_core_protected_url }}"
                                 alt="afbeelding_verkleind" />
                        {% else %}
                            <img class="width60"
                                 alt="noimage"
                                 src="{% webpack_static 'icons/noimage.svg?nocache=1' %}" />
                        {% endif %}
                    </div>
                </div>
                <div class="container__info">
                    <div>
                        <h2 class="h5">
                            <span class="adres">
                                {% if taak.melding.straatnaam %}
                                    <span class="straat">{{ taak.melding.straatnaam }}</span>
                                    <span class="huisnummer">
                                        {# djlint:off #}
                                        {% spaceless %}
                                            {% if taak.melding.huisnummer %}{{ taak.melding.huisnummer }}{% endif %}{% if taak.melding.huisletter %}{{ taak.melding.huisletter  }}{% endif %}{% if taak.melding.toevoeging %}-{{ taak.melding.toevoeging }}{% endif %}
                                        {% endspaceless %}
                                        {# djlint:on #}
                                    </span>
                                {% else %}
                                    <span class="straat">{{ taak.melding.locatie_verbose }}</span>
                                {% endif %}
                            </span>
                        </h2>
                        <div>
                            <span class="incident__category">{{ taak.titel }}</span>
                        </div>
                        {% if taak.melding.plaatsnaam %}
                            <div class="incident__moment primary">
                                <span>
                                    {% if taak.melding.plaatsnaam != "Rotterdam" %}{{ taak.melding.plaatsnaam }}{% endif %}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="incident__moment">
                        {% if taak.laatste_taakgebeurtenis_omschrijving_intern %}<span class="note"></span>{% endif %}
                        {% spaceless %}
                            <span data-controller="utils"
                                  data-utils-target="dateVerbose"
                                  data-utils-date-value="{{ taak.taakstatus.aangemaakt_op|date:'D d M Y'|lower }}"></span>
                            {% if taak.taakstatus.aangemaakt_op|time %}
                                {% localize on %}
                                <span>, {{ taak.taakstatus.aangemaakt_op|time:"H:i" }}</span>
                            {% endlocalize %}
                        {% endif %}
                        {% if taak.melding.locatie_type == "adres" %}
                            {% with taak.melding.geometrie as geo %}
                                <span>
                                    <span data-taken-overzicht-target="taakAfstand"
                                          data-latitude="{{ geo.1|replace_comma_by_dot }}"
                                          data-longitude="{{ geo.0|replace_comma_by_dot }}"></span>
                                </span>
                            {% endwith %}
                        {% endif %}
                    {% endspaceless %}
                </div>
                {% if taak.taakstatus.naam == 'voltooid' %}
                    <span class="badge__gradient-mask"><span class="badge badge--green">{{ taak.taakstatus.naam|lower|capfirst }}</span></span>
                {% elif taak.melding.response_json.urgentie >= 0.5 %}
                    <span class="badge__gradient-mask"><span class="badge badge--urgent">Spoed</span></span>
                {% elif taak.taakstatus.naam and taak.taakstatus.naam != "nieuw" %}
                    <span class="badge__gradient-mask"><span class="badge {% if taak.taakstatus.naam == 'openstaand' %}badge--lightblue {% elif taak.taakstatus.naam == 'toegewezen' %}badge--yellow{% endif %}">{{ taak.taakstatus.naam|lower|capfirst }}</span></span>
                {% endif %}
            </div>
        </a>
        {% if taak.melding.geometrie %}
            <button class="btn btn-icon--clean"
                    data-taken-lijst-taak-uuid-param="{{ taak.uuid }}"
                    data-taken-overzicht-code-param=""
                    data-action="taken-lijst#selectTaakMarker:prevent">{% include "icons/kaart.svg" %}</button>
        {% endif %}
    </div>
</div>
</div>
