.alert {
    position: relative;
    padding: 1.25em 1.25em;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;

    .badge-count {
        background-color: $black-tint01;
    }

    p {
        margin: 0;
        word-wrap: break-word;
    }
    a {
        color: inherit;
    }

    svg {
        padding-right: $input-padding-x;
    }

    &--info {
        background-color: $blue-tint02;
        .badge-count {
            background-color: $blue-tint01;
        }
        strong {
            display: block;
            color: $blue-tint01;
            margin-bottom: 0.25em;
        }
    }
    &--warning {
        background-color: $yellow-400;

        .badge-count {
            background-color: $black-tint01;
        }
        strong {
            display: block;
            color: $black-tint01;
            margin-bottom: 0.25em;
        }
    }
    &--confirmation {
        background-color: rgba(230, 243, 233, 1);
        border-color: rgba(172, 214, 183, 1);
        .badge-count {
            background-color: $green-tint01;
        }
        strong {
            display: block;
            color: $green-tint01;
            margin-bottom: 0.25em;
        }
    }

    .badge-count {
        font-size: 0.75em !important;
        width: 1.35em !important;
        height: 1.35em !important;
        line-height: 1.35em !important;
        transform: translateY(-2px) !important;
        display: inline-block;
        margin-right: 0.5em;
        right: auto !important;
        position: relative !important;
    }
}

.container__skyline-alert--confirmation {
    margin: 3em auto 0;
    max-width: map-get($container-max-widths, md);
    position: relative;
    z-index: 0;
    .alert {
        border-color: $green-tint01;
        border-radius: 0 0 8px 8px;
    }

    svg {
        display: block;
        margin: 0;
    }
}
