.badge {
    display: inline-block;
    padding: 0 8px;
    color: $white;
    // font-weight: 700;
    font-size: $fz-12;
    line-height: 1.5em;
    margin-right: 4px;
    border-radius: 25px;

    h1 & {
        padding: 2px $input-padding-y;
        position: absolute;
        top: 0;
        right: 0;
    }

    &--lightblue {
        background-color: $blue-200;
        color: $black;
        &::before {
            background-color: $blue-900;
        }
    }

    &--darkblue {
        background-color: $blue-900;
        &::before {
            background-color: $blue-200;
        }
    }

    &--green {
        background-color: $green-200;
        color: $black;
        &::before {
            background-color: $green-900;
        }
    }

    &--red {
        background-color: $red-tint02;
    }

    &--urgent {
        background-color: $red-tint02;
        font-weight: 700;
    }

    &--yellow {
        background-color: $orange-200;
        color: $black;
        &::before {
            background-color: $orange-800;
        }
    }
}

.badge-count {
    display: inline-block;
    height: 25px;
    width: 25px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
    border-radius: 50%;
    color: $white;
    background-color: $red-tint02;
    transform: translateY(-50%);

    &.badge-count--info {
        background-color: $blue-tint01;
        color: $white;
    }

    .list-item &,
    .leaflet-popup-content-wrapper & {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 10px;
        position: absolute;
        right: 5px;
        top: 0;
        transform: translateY(70%);
    }

    .list-item & {
        right: 2px;
        top: 2px;
        transform: none;
        width: 1.35em;
        height: 1.35em;
        line-height: 1.35em;
        font-size: 0.75em;
    }
    .leaflet-popup-content-wrapper & {
        position: relative;
        transform: none;
        color: $white;
        text-decoration: none;
        display: inline-block;
        margin-left: 6px;
        vertical-align: text-bottom;
    }
    &--blue {
        background-color: $blue-tint01;
    }
}

.container--env {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 2000;

    .badge {
        height: 22px;
        line-height: 22px;
        font-size: 14px;

        @media (min-width: map-get($grid-breakpoints, md)) {
            height: 42px;
            line-height: 42px;
            font-size: 18px;
        }
    }
}
.list-tags,
.container__badges {
    .badge {
        background-color: $green-tint01;
        padding: 4px $input-padding-y;
        margin-bottom: $input-padding-y;
    }
}

.list-tags {
    li {
    }
    .badge {
        margin: 0;
    }
}

.container__badges--overview {
    @media (min-width: map-get($grid-breakpoints, md)) {
        display: flex;
        gap: $alert-padding-x;

        > div {
            flex: 0 1 33%;
        }
    }

    > div {
        padding: $input-padding-x;
        background-color: $gray-tint01;
        font-size: $h4-font-size;

        h2 {
            margin: 0;
        }

        ul {
            margin: 0.25em 0 0;
        }
    }
}

.initials {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 44px;
    background-color: $green-200;
    color: $green-900;
    font-weight: 700;
    text-align: center;
    border-radius: 100%;

    svg {
        max-width: 18px;
        max-height: 18px;
    }

    &__extern {
        background-color: $blue-200;
        color: $blue-900;
    }
}

.note {
    display: inline-block;
    width: 7px;
    aspect-ratio: 1/1;
    border-radius: 2px;
    background-color: $blue-900;
    margin-right: 3px;
}
