.full-page-view {
    z-index: 99999;
    position: relative;
    &__main {
        // opacity: 0;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        left: 0;
        overflow: hidden;
        width: 100%;
        z-index: 11;
        padding: 0 map-get($container-margin, md) map-get($container-margin, md);
        box-sizing: border-box;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        position: relative;
        min-height: 48px;
        height: 48px;
        align-items: flex-end;
        padding: 0 map-get($container-margin, md) 1rem;
        margin-left: -(map-get($container-margin, md));
        margin-right: -(map-get($container-margin, md));
        border-bottom: 1px solid $blue-200;

        h2 {
            margin-bottom: 0;
            font-size: $fz-20;
        }

        .btn-close {
            box-sizing: border-box;
            width: 48px;
            height: 48px;
            right: -(map-get($container-margin, md));
        }
    }

    &__scroll-pane {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        padding: $input-padding-x 0 80px;
    }

    &__content {
        min-height: 100%;
        position: relative;
    }

    &__footer {
        z-index: 10;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}
