body:has(.detailheader) {
    @media (max-width: map-get($grid-breakpoints, lg)) {
        .pageheader {
            display: none;
        }
    }
}

.taak-detail {
    .link:not(.link--phone):not(.link--email) {
        svg {
            width: 24px;
            height: 24px;
            vertical-align: middle;
            margin-left: 10px;
            path {
                fill: $green-tint01;
            }
        }
    }
    .link:not(.link--navigate) {
        svg {
            margin-left: 0;
        }
    }

    span .btn-inline {
        svg {
            path {
                fill: $green-tint01;
            }
        }
    }

    .container__content--sticky-bottom {
        .sticky {
            background-color: $blue-100;
        }
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        .grid-container {
            display: block;
        }
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
        .grid-container {
            display: grid;
            grid-template-columns: 50fr 50fr;
            gap: 20px;
        }
    }
}

.taak-detail,
.detailheader {
    .container__acties {
        display: flex;
        justify-content: center;
        gap: 1em;
        width: 100%;
        max-width: map-get($container-max-widths, md);

        button {
            flex: 1;
            margin-bottom: 0;
            font-weight: 400;
            font-size: 0.875em;
            padding: 0 2em;

            svg {
                width: 14px;
                height: 14px;
                vertical-align: middle;
            }
        }
    }
}

.container__content {
    margin-bottom: 1em;

    h3 {
        font-size: 1em;
        color: $green-900;
        margin: 0.5em 0;
    }

    .content {
        background-color: $white;
        padding: 16px;
        font-size: 0.875em;

        dl {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
            row-gap: 1rem;
            margin-top: 0;

            dt,
            dd {
                margin: 0;
            }

            dt {
                font-weight: 700;
            }
        }

        .container__overflow {
            p:first-child {
                margin-top: 0;
            }
        }

        .container__map {
            .map {
                margin: 0;
            }
        }
    }

    &--sticky-bottom {
        min-height: 150px;
        pointer-events: none;

        .sticky {
            .form-row {
                gap: 10px;
            }
        }
        .form-row {
            button {
                pointer-events: all;
            }
        }
    }

    .locatie-container {
        flex: 1 1 auto;
        margin-top: 2rem;

        .list-clean:not(.has-padding) {
            margin-top: 0;
        }

        label {
            line-height: 1.6em;
        }

        input[type="checkbox"] {
            @include form-check-input();
            vertical-align: sub;
        }

        .container__uitklapper {
            vertical-align: text-top;
            svg {
                padding-bottom: 0;
            }
        }
    }
}

.container__content,
.detailheader {
    .container__uitklapper {
        position: relative;
        z-index: 2000;
        display: inline;
        vertical-align: middle;

        > span {
            margin-left: 0.25em;
            svg {
                width: 16px;
                height: 16px;
                padding: 12px;
                transform: translate(-12px, -12px);
                cursor: pointer;
            }
        }

        .legenda {
            position: absolute;
            top: 20px;
            left: -45px;
            background-color: $white;
            width: auto;
            white-space: nowrap;
            padding: $input-padding-x;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            display: none;

            ul {
                margin: 0;
            }

            li:not(:last-child) {
                margin-bottom: $input-padding-y;
            }
        }

        .legenda-item {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: #78b4ff;
            margin-right: $input-padding-y;
            vertical-align: bottom;

            &.openbaar {
                background-color: #00ad00;
            }
            &.ret {
                background-color: #ffff64;
            }
            &.kunst {
                background-color: #d700b0;
            }
            &.begraafplaats {
                background-color: #ffaeff;
            }
            &.aquisitie {
                background-color: #3c3cff;
            }
            &.vastgoed {
                background-color: #d36000;
            }
        }

        &:hover {
            .legenda,
            .content {
                display: block;
            }
        }
    }
}

.detailheader {
    padding: 20px 25px 0;
    box-sizing: border-box;
    position: relative;
    z-index: 3000;

    div {
        flex: 0 1 auto;
    }

    .h2 {
        font-size: 1.25em;
        text-align: center;
        margin-top: 0;
        flex: 1;

        .adres {
            justify-content: center;

            .straat {
                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }

    .link--back {
        position: absolute;
        top: 1.125em;
        left: 0;
    }

    .container__uitklapper {
        position: absolute;
        top: 1.35em;
        right: -0.5em;

        .legenda {
            top: 30px;
            left: auto;
            right: 0;
            padding: 0;

            .btn {
                padding: 8px 12px;
                min-height: auto;
                color: inherit;
                font-weight: 400;
                margin-bottom: 0;

                span {
                    padding: 0 4px 0 6px;
                }
            }
        }
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 0 0;

        .button__wrapper {
            display: flex;

            .container__buttons {
                display: flex;
                gap: 8px;
            }

            > .container__uitklapper {
                position: relative;
            }
        }
        .link--back {
            top: -62px;
            left: 90px;

            svg {
                top: 0;
            }
        }

        .h2 {
            font-size: 1.778em;
            text-align: left;

            .adres {
                display: inline;
            }

            .badge {
                position: relative;
                display: inline-block;
                font-weight: normal;
                vertical-align: middle;
                margin-left: 1em;
                padding: 0 10px 0 22px;

                &--urgent {
                    font-weight: normal;
                    padding: 0 10px;
                }
            }
        }
    }
}

.no-image {
    background-color: $gray-tint02;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px auto;
    margin: 0 $container-padding-x;
}

.container__imageslider {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    position: relative;

    .imageslider {
        display: flex;
        left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .container__image {
        max-height: calc(250px + 10vw);
        width: 100%;
        background-color: $gray-tint02;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        cursor: zoom-in;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            height: 100%;
            display: block;
            margin: auto;
            object-fit: cover;
        }
    }

    .css--safari & {
        scroll-snap-type: none;
    }
}

.container__image {
    .tag--in-image {
        display: inline-block;
        position: absolute;
        right: 1.4rem;
        bottom: 0.667rem;
        font-size: 0.625rem;
        padding: 6px 10px;
        background-color: $blue-100;
        width: auto;
        border-radius: 4px;

        .sublabel {
            display: none;
        }
    }

    .modal-body & {
        .tag--in-image {
            right: 0;
            bottom: -2.2rem;
            padding-right: 0;
            text-align: right;
            .sublabel {
                display: block;
                color: $gray-600;
            }
        }
    }
}

.container__dots {
    position: absolute;
    left: 50%;
    bottom: 14px;
    transform: translateX(-50%);
    ul {
        @include list-clean();
        display: flex;
        justify-content: center;
        gap: 3px;
        margin: 0;
    }
    .dot {
        display: block;
        opacity: 0.6;
        background-color: $white;
        width: 5px;
        height: 5px;
        border-radius: 3px;

        &.selected {
            opacity: 1;
        }
    }
}

.container__thumbs {
    padding: 16px $container-padding-x 0;
    white-space: nowrap;
    overflow-x: scroll;
    position: relative;
    height: 110px;
    display: none;

    ul {
        list-style: none;
        padding: 0;
        margin: 0 -8px;
        position: absolute;
        left: 2px;
        transition: left 0.5s;

        li {
            display: inline-block;
            margin: 0 8px;
            cursor: pointer;

            &.selected {
                .container__image {
                    opacity: 1;
                }
            }
        }
    }

    .container__image {
        height: calc(50px + 2vw);
        width: calc(66px + 2vw);
        background-color: $gray-tint02;
        opacity: 0.5;
        outline: none;

        img {
            max-width: 100%;
            height: 100%;
            display: block;
            margin: auto;
        }
    }
}

.incident-meta-list {
    li {
        margin-bottom: 1rem;
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.section--seperated {
    .full-width--mobile {
        margin: 0 (-(map-get($container-margin, md)));

        &--padding {
            padding: 20px;
        }
    }

    &.section--imageslider {
        position: relative;
        padding: 0;
        border: 0;
        > svg {
            padding: 4px;
            background-color: #fff;
            position: absolute;
            top: 30px;
            right: 0;
            pointer-events: none;
        }

        .container__navigate-images {
            visibility: hidden;
            pointer-events: none;
        }
    }
}

.section--description {
    .container__content {
        margin: 0 -24px 1em;
        padding: 1em 24px 0.75em;
        background-color: $white;

        h2 {
            font-size: 1em;
            margin-top: 0;
        }

        .container__flex {
            display: flex;
            justify-content: space-between;
        }

        .btn {
            min-height: 0;
            font-size: 0.875em;

            &-info {
                svg {
                    vertical-align: text-top;
                    transform: none;
                }
                span {
                    padding: 0;
                }
            }
        }
    }
}

.section--location {
    margin-bottom: 50px;
}

.incident__header {
    display: flex;
    justify-content: space-between;

    .icon {
        display: inline-block;
    }
}

.container__header-taaknavigatie {
    > h1 {
        position: relative;
        padding-right: 185px;
        min-height: 1em;
    }
    span,
    p {
        &.lighter {
            color: $gray-tint08;
        }
    }
    > .container__flex {
        display: flex;
        justify-content: space-between;

        > div {
            flex: 1 1 auto;
        }
    }
}

.list__task-navigation {
    display: inline;
    @include list-clean();
    margin: 0;
    flex: 1;

    li {
        display: inline;

        &:first-of-type {
            margin-right: 5px;
        }

        a {
            display: inline-block;
            width: 48px;
            height: 48px;
            border: 1px solid $gray-tint08;
            background-color: transparent;
            position: relative;

            svg {
                position: absolute;
                top: calc(50% - 12px);
                left: 12px;
                width: 24px;
                height: 24px;
                path {
                    fill: $gray-tint11;
                }
            }

            &.previous {
                svg {
                    transform: rotate(180deg);
                }
            }

            &.disabled {
                cursor: default;
                text-decoration: none;
                background-color: $gray-tint04;
                border-color: $gray-tint04;

                svg {
                    path {
                        fill: $gray-tint07;
                    }
                }
            }
        }
    }
}

.taak-detail--preview {
    section {
        padding: 1rem 0;
        .container__details.taak {
            padding: 0 26px;
        }
        h2 {
            border-bottom: 1px solid $gray-tint04;
            padding-bottom: 1rem;
        }
    }

    .link--phone {
        svg {
            top: 0;
        }
    }
}

.link--whatsapp {
    vertical-align: middle;
    display: inline-block;
    margin-left: 12px;
    margin-right: -5px;
    padding: 5px;
    .icon--whatsapp {
        width: 26px;
        height: 26px;
    }
}

.details--melder {
    > div {
        padding-bottom: 1em;
        border-bottom: 1px solid $gray-tint04;
    }
    p {
        margin-bottom: 0;

        &:first-of-type {
            margin-top: 1em;
        }

        small {
            color: $magenta-tint01;
            font-weight: 700;
        }
    }
    .link--phone {
        line-height: 2rem;

        svg {
            position: absolute;
            top: 6px;
            left: -23px;
        }
    }
    .link--email {
        svg {
            position: absolute;
            top: 8px;
            left: -25px;
            margin-right: 6px;
        }
    }
}

.cover-header {
    background-color: $white;
    padding: 16px;
    margin: 0 -16px;
    border-top: 1px solid $blue-200;

    p {
        font-size: 12px;
        padding: 0;
        margin: 0;
    }
}

.person {
    display: flex;
    gap: 1rem;
    font-size: 1em;

    &:not(:last-child) {
        padding-bottom: 1rem;
        border-bottom: 1px solid $gray-200;
    }

    &--list {
        display: block;
        dl {
            margin: 0;
        }
        dt {
            font-weight: 700;
        }

        dd {
            margin: 0 0 0.5em;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        *:last-child {
            margin-bottom: 0;
        }
    }

    .initials {
        line-height: 36px;
    }

    .message {
        flex: 1;
        display: flex;
        flex-direction: column;

        h4 {
            margin: 0 0 0.2rem;
            font-size: 1em;
        }
        span {
            font-size: 1em;
            color: $gray-600;
        }
    }

    &.btn {
        background: transparent;
        text-align: left;
        font-weight: 400;
        line-height: unset;
        span {
            padding: 0;
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.extra-content {
    display: none;
    padding: 1.25em 1em 1em;

    .person {
        padding: 1.5em;
        background-color: $white;
        font-size: 0.875em;

        &:not(:last-child) {
            border-bottom: 0;
            margin-bottom: 1em;
        }

        &:has(.container__contact) {
            margin-top: -1.25em;
            padding-top: 0;
        }
    }

    > h4 {
        padding: 0 1em 1em;
        margin: 0 -1em 1em;
        padding-right: 40px;
        border-bottom: 1px solid $gray-200;
    }

    .container__contact {
        display: flex;
        flex: 1;
        justify-content: space-between;
        gap: 0.75em;
        .btn {
            flex: 1;
            margin-bottom: 0;
            font-weight: 400;

            svg {
                margin-right: 0.8em;

                path {
                    fill: $green-900;
                }
            }
        }
    }

    dialog & {
        display: block;

        .btn-close--small {
            top: 13px;
            right: 10px;
        }
    }
}

.container__navigate-images {
    .navigate-images--left,
    .navigate-images--right {
        cursor: pointer;
        position: absolute;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        opacity: 1;
        transition: opacity 0.25s ease-in;

        span {
            display: block;

            svg {
                width: 40px;
                height: 40px;
                margin: 4px;
                path {
                    fill: $white;
                    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.65));
                }
            }
        }

        &.inactive {
            opacity: 0;
            pointer-events: none;
        }
    }
    .navigate-images--left {
        left: 0;
        span {
            svg {
                transform: rotate(90deg);
            }
        }
    }

    .navigate-images--right {
        right: 0;
        svg {
            transform: rotate(-90deg);
        }
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .section--seperated {
        .full-width--mobile {
            margin: 0;
        }

        &.section--imageslider {
            .container__navigate-images {
                visibility: visible;
                pointer-events: all;
                .navigate-images--left,
                .navigate-images--right {
                    top: calc(50% - 63px);
                    transform: translateY(-50%);
                }
            }

            .container__thumbs {
                display: block;
                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .container__dots {
                display: none;
            }
        }
    }

    .section--description {
        .container__content {
            margin: 0 0 1em;
            padding: 1em 16px 0.75em;

            h3 {
                font-size: 1.25em;
            }
            h2 {
                font-size: 1.125em;
                display: inline-block;
                margin-right: 0.5em;
            }

            .container__flex {
                display: inline-block;
                width: auto;
            }
            .btn {
                &-info {
                    display: inline;
                    color: $gray-600;
                    width: auto;
                    svg {
                        margin: 0;
                        path {
                            fill: $gray-600;
                        }
                    }
                    span {
                        text-decoration: underline;
                    }

                    &:hover {
                        span {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .cover-header {
        margin: 0 0 1em;
        p {
            font-size: 1em;
        }
    }
}
