dialog.infosheet {
    position: fixed;
    box-sizing: border-box;
    inset: auto 0 0 0;
    width: 100vw;
    height: 0;
    max-width: 100vw;
    border: none;
    border-radius: 12px 12px 0 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    margin: 0;
    transform: translate3d(0, 100%, 0);
    transition: all $transition-duration-default $transition-ease-default;
    display: flex;
    flex-direction: column;
    z-index: 2500;

    &:has(> turbo-frame) {
        display: block;

        > turbo-frame {
            display: flex;
            flex-direction: column;
        }
    }

    &[open] {
        height: 90vh;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: all $transition-duration-default $transition-ease-default;
    }

    &::before {
        content: "";
        width: 44px;
        height: 3px;
        background-color: $gray-200;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        z-index: 20;
    }

    .btn-close--small {
        top: 25px;
        right: 16px;
        padding: 5px;
        &:focus {
            outline: none !important;
            background-color: #f4f4f5;
        }
    }

    .header {
        padding: 28px 16px 0;
        border-bottom: 1px solid $blue-200;
        h1 {
            margin-top: 0;
            padding-right: 1em;
            font-size: 1.375rem;
        }
    }
    .footer {
        padding: 20px 16px;
        border-top: 1px solid $blue-200;

        .link--external {
            display: inline-block;
            margin: 0 auto;
            color: currentColor;
            font-size: 0.889em;

            svg {
                width: 15px;
                height: 15px;
                padding-right: 0.25rem;
            }
        }
    }
    .content {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 1em;
    }

    .scroll-handle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25px;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        inset: auto 0 0 auto;
        width: 38%;
        max-height: none;
        border-radius: 0;
        transform: translate3d(100%, 0, 0);
        top: 0;
        height: 100vh;

        &[open] {
            height: 100vh;
        }

        .content {
            max-height: none;
        }
        .scroll-handle,
        &::before {
            display: none;
        }
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
