.taken-overzicht {
    &.showMap {
        .container__header {
            .container__controls {
                .btn-sort--small {
                    display: none;
                }
            }
        }
    }
}
.page-incidents {
    .container__header {
        margin-bottom: 16px;

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        h1 {
            position: absolute;
            top: -65px;
            left: 50%;
            transform: translateX(-70%);
        }

        .container__controls {
            flex: 0 1 25%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 32px;
                font-size: 0.778em;
                min-height: 0;
                font-weight: 300;
                line-height: 12px;
                margin-bottom: 0;
                margin-left: $input-padding-y;
                max-width: 37px;

                &--search {
                    font-weight: 700;
                }
                span {
                    display: inline-block;
                }

                @media (min-width: map-get($grid-breakpoints, md)) {
                    height: 48px !important;
                    max-width: 48px;

                    .map,
                    .list,
                    &-sort--small svg {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
    .container__list {
        display: flex;
        height: 100%;

        > .container__flex {
            width: 100%;

            .list__incidents {
                flex: 1 1 0;
                border-top: 1px solid $gray-tint04;
            }
        }
        @media (min-width: map-get($grid-breakpoints, lg)) {
            border-top: none;

            > .container__flex {
                max-width: 500px;
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                .list__incidents {
                    overflow-y: scroll;
                    scroll-behavior: smooth;
                    height: auto;
                }
            }

            .container__search {
                display: none;
            }
        }
    }

    .container__sorting,
    .container__search {
        box-sizing: content-box;
        .wrapper {
            display: flex;
            justify-content: space-between;

            @media (min-width: map-get($grid-breakpoints, lg)) {
                background-color: transparent;
                padding-left: 0;
            }
        }
        form {
            width: 100%;
        }
        select {
            background-color: white;
            border: 1px solid $gray-tint08;
            outline: 0;
            padding: 0 16px;
            font-size: 1em;
            width: 100%;
            color: #404b4f;
            text-align: left;
            -webkit-appearance: none;
            height: 48px;
            background-image: url("data:image/svg+xml, <svg width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27> <path fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M15.75 9.75L12 4.5L8.25 9.75H15.75ZM15.75 14.25L12 19.5L8.25 14.25H15.75Z%27 fill=%27%2365757B%27/> </svg>");
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 24px 24px;
        }
    }
    .wrapper--search-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;

        & > .btn {
            flex-basis: content;
        }

        label {
            font-weight: 300;
            font-size: 0.875em;

            input {
                vertical-align: bottom;
            }
        }
    }
    .wrapper--search {
        position: relative;
        display: flex;
        gap: 20px;
        flex-direction: row;
        justify-content: flex-start;

        .wrapper--close {
            flex: 1 0;
            position: relative;
        }

        input[type="search"] {
            margin: 0;
            max-height: 48px;

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
            }
        }

        .btn--search {
            flex: 0 0 20%;
        }

        .btn--close {
            background: transparent;
            border: none;
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translateY(calc(-50% - 2px));
            cursor: pointer;

            svg {
                width: 16px;
                height: 16px;
            }

            &.hide {
                display: none;
            }
        }
        @media (min-width: map-get($grid-breakpoints, lg)) {
            gap: 0;
            margin-right: 20px;
            margin-bottom: 10px;
            input[type="search"] {
                width: 350px;
            }

            .btn--search {
                min-width: 70px;
            }
        }
    }

    .list__incidents {
        list-style: none;
        padding: 0 0 100px;
        overflow: hidden;

        .list__incidents__scroll-wrapper {
            overflow: hidden;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 10px;
            border-top: 1px solid $gray-tint04;
        }
        .container__pagination + .list-item {
            border-top: 1px solid $gray-tint04;
        }
        &.reverse .list__incidents__scroll-wrapper {
            flex-direction: column;
            justify-content: safe flex-start;
        }

        .list-item {
            position: relative;
            box-sizing: content-box;
            transition:
                height 0.3s ease-in-out,
                left 0.5s ease-out;
            min-height: 80px;
            touch-action: pan-y pinch-zoom;
            scrollbar-width: none;
            cursor: grab;
            display: flex;
            user-select: none;
            a {
                background-color: $white;
                transition: background-color 0.3s ease-in-out;
            }

            &.active a:not(.link) {
                background-color: $gray-tint02;
            }
            &.highlight-once a:not(.link) {
                background-color: $gray-tint02;
                animation: gray-to-white 4 * $transition-duration-default $transition-ease-default
                    1s forwards;
            }
            .show-modal & {
                cursor: initial;
            }
            &::-webkit-scrollbar {
                display: none;
            }
            &.hide {
                transition: all 0.5s ease-in-out 4s;
                border-bottom: 0px solid #cad6da;
                min-height: 0;
                height: 0;
                overflow: hidden;
            }

            .message {
                position: absolute;
                top: 5px;
                left: 5px;
                bottom: 5px;
                right: 5px;
                background-color: #e5f1e9;
                border: 1px solid $primary;
                z-index: 2;
                display: flex;
                align-items: center;
                padding-left: 56px;
                overflow: hidden;

                &:before {
                    content: url("../icons/checkmark-circle.svg");
                    position: absolute;
                    left: 16px;
                    top: calc(50% - 13px);
                }
            }

            .wrapper__swipe {
                flex: 2 0 100%;
                background-color: $white;
                z-index: 2;
                width: 100%;
            }

            .container__flex {
                min-width: 300px;

                a {
                    display: flex;
                    justify-items: flex-start;
                    gap: 14px;
                    color: inherit;
                    text-decoration: none;
                    margin: 0;
                    min-height: 100%;
                }

                .btn-icon--clean {
                    display: none;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    z-index: 200;
                    margin-bottom: 0;
                    width: auto;
                    height: auto;
                    background-color: transparent;
                    .map {
                        width: 24px;
                        height: 24px;
                        path {
                            fill: $primary;
                        }
                    }
                }

                @media (min-width: map-get($grid-breakpoints, lg)) {
                    .btn-icon--clean {
                        display: inline-block;
                    }
                }
            }

            .container__image {
                .background-image {
                    width: 80px;
                    aspect-ratio: 1;
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .container__info {
                flex: 1;
                padding: 10px 0 9px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: calc(100% - 100px);

                a {
                    color: inherit;
                    text-decoration: none !important;
                }

                h2 {
                    margin: 0 0 3px;
                    text-decoration: none;
                    line-height: 1;
                }

                .badge {
                    padding-left: 22px;
                    &__gradient-mask {
                        position: absolute;
                        margin-right: 0;
                        bottom: 6px;
                        right: 0;
                        z-index: 1;
                        display: inline-block;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 2px;
                            left: -28px;
                            width: 35px;
                            height: 18px;
                            background: linear-gradient(
                                to right,
                                rgba(255, 255, 255, 0),
                                rgba(255, 255, 255, 1)
                            );
                            z-index: -1;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border-radius: 4px;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                    }
                }

                .incident__distance,
                .incident__moment {
                    color: $gray-tint09;
                }

                .incident__category {
                    font-size: $fz-14;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                }

                .incident__category {
                    display: inline-block;
                }

                .incident__moment {
                    font-size: $fz-12;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .container__actions {
                display: block;
                box-sizing: content-box;
                // flex: 1 0 100%;
                text-align: center;
                line-height: 60px;
                color: $white;
                background-color: $primary;
                margin-right: 1px;
                cursor: pointer;
                border: none;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                padding: 0;

                > div {
                    margin-top: 20px;
                    padding-top: 48px;
                    line-height: 18px;
                }

                &.handle--success {
                    background-color: $primary;
                    right: calc(-100% - 1px);
                    text-align: left;

                    > div {
                        margin-left: 20px;
                        background: url("../icons/checkmark.svg") left top no-repeat;
                    }
                }

                &.handle--no-success {
                    background-color: #ce4c3b;
                    left: -100%;
                    text-align: right;

                    > div {
                        margin-right: 20px;
                        background: url("data:image/svg+xml,%3csvg width=%2732%27 height=%2732%27 viewBox=%270 0 32 32%27 fill=%27black%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M26.6077 6.80752L25.1935 5.39331L16.0011 14.5857L6.80875 5.39331L5.39453 6.80752L14.5869 15.9999L5.39453 25.1923L6.80874 26.6065L16.0011 17.4141L25.1935 26.6065L26.6077 25.1923L17.4153 15.9999L26.6077 6.80752Z%27 fill=%27white%27/%3e%3c/svg%3e")
                            right top no-repeat;
                        background-size: contain;
                        background-position: calc(100% + 10px) -10px;
                    }
                }
            }
        }

        details {
            &:first-child {
                summary {
                    border-top: 0;
                }
            }

            &[open] {
                summary {
                    border-bottom: 1px solid $gray-tint04;
                }
            }
        }
        summary {
            flex-direction: row;
        }

        @media (min-width: map-get($grid-breakpoints, lg)) {
            margin: 0 16px 0 0;
        }
    }

    .page-incidents {
        .icon--warning {
            margin: $input-padding-y 0 0;
        }
    }

    .container__filter-button {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: $gray-100;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s ease;
        padding: 16px;
        z-index: 20;

        .btn {
            margin: 0;
            background-color: $white;
            font-weight: 400;

            .count {
                width: auto;
                background: transparent;
                color: $gray-400;
                font-size: $fz-12;
            }
            .hidden {
                display: none;
            }
            .icon {
                position: relative;
                display: inline-block;
                margin: 0;
                svg {
                    position: relative;
                    left: -4px;
                    top: 2px;

                    path {
                        fill: $black;
                    }
                }

                &.active {
                    &::before {
                        display: block;
                        content: "";
                        width: 4px;
                        height: 4px;
                        background-color: $green-900;
                        border: 1px solid $white;
                        border-radius: 3px;
                        position: absolute;
                        top: 4px;
                        right: 5px;
                        z-index: 9000;
                    }
                }
            }
        }
        @media (min-width: map-get($grid-breakpoints, lg)) {
            position: relative;
            padding: 0;
        }
    }
    @media (min-width: map-get($grid-breakpoints, sm)) {
        .container__header {
            h1 {
                top: -75px;
            }
        }
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
        .container__header {
            h1 {
                top: -85px;
            }
            .container__controls {
                .btn-navigate--small.toggle-view {
                    display: none;
                }
                .btn-sort--small {
                    display: none;
                }
            }
        }
        .showMap {
            .container__flex {
                display: block !important;
            }
        }
    }
}
