.container__map {
    display: none;
}
.showMap {
    .container__map {
        display: block;
    }

    .list__incidents {
        display: none;
    }
}

.container__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.leaflet-popup-content-wrapper {

    .leaflet-popup-content {
        display: flex;
        .container__image,
        .container__content {
            flex: 0 1 100%;
        }

        .container__image {
            flex: 1 1 40%;
            img {
                width: auto;
                height: 70px;
                min-width: 53px;
            }
        }
        .container__content {
            flex: 1 1 60%;
            font-size: 16px;
        }
    }
}

