.pageheader {
    height: 64px;
    padding: 0;
    border-bottom: 1px solid $gray-tint04;
    padding: 0 16px;
    margin-bottom: 16px;
    position: relative;
    z-index: 2100;

    .container__user {
        display: flex;
        justify-content: space-between;
    }

    .container__icon {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .initials {
            line-height: 36px;
        }
    }

    .container__nav {
        display: flex;
    }

    .container__uitklapper {
        position: unset;
        flex: 0 1 auto;
        margin: 11px 0 0;
        flex-direction: column;
        justify-content: center;

        > turbo-frame {
            height: auto;
        }
        > span {
            font-weight: 700;
            text-decoration: none;
            color: $black;
            font-size: 0.8em;
            padding: 0.7em 0.5em 0 0.5em;
            cursor: pointer;
        }

        .content {
            visibility: hidden;
            position: absolute;
            display: block;
            top: 2em;
            transform: scale(0.98, 0.98);
            right: 1vw;
            padding: 0;
            box-shadow: 0 4px 14px 7px rgba(0, 0, 0, 0.07);
            opacity: 0;
            pointer-events: none;
            transition: all $transition-duration-default $transition-ease-default;
            transform-origin: right top;
            transition-delay: 0.15s;
            background-color: $white;

            &--large {
                width: 97vw;
                max-width: 450px;
                right: -13.5vw;

                @media (min-width: map-get($grid-breakpoints, md)) {
                    right: 1vw;
                }
            }

            &:not(.container__profiel_notificatie_lijst) {
                top: 2.2em;
            }

            ul {
                margin: 0;
            }
            li {
                margin-bottom: 1px;
            }
            span {
                font-size: 0.87em;
            }
        }

        &.show {
            .content {
                visibility: visible;
                opacity: 1;
                transform: scale(1, 1);
                pointer-events: all;
                transition: all $transition-duration-default $transition-ease-default;
            }
        }

        &:focus {
            outline: none !important;
        }

        .trigger--notificationslist {
            width: 28px;
            height: 28px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: transparent;
            transition: background-color $transition-duration-default $transition-ease-default;

            .active,
            .inactive {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -30%);
                display: block;
                width: 16px;
                height: auto;
            }

            .active {
                opacity: 0;
                transition: opacity $transition-duration-default $transition-ease-default;
            }
            svg {
                path {
                    fill: $black;
                }
            }

            .badge-count {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-10%, -70%);
                background-color: $primary;
                span {
                    display: inline-block;
                    font-size: 0.8333em;
                }
                width: 1.5em;
                height: 1.5em;
                line-height: 1.5em;
            }
        }
        &:focus-visible,
        &:hover {
            .trigger--notificationslist {
                cursor: pointer;
                background-color: $white;
            }
        }
        &:focus {
            outline: none;
            .trigger--notificationslist {
                .active {
                    opacity: 1;
                }
            }
        }
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        .container__uitklapper {
            position: relative;
            &:first-child {
                padding-right: 1em;
            }

            .content {
                right: -1.2em;
            }
        }
    }

    @media (min-width: map-get($grid-breakpoints, sm)) {
        padding: 6px 16px;
        .container__logo {
            .logo--large {
                display: flex;
            }
            .logo--small {
                display: none;
            }
        }
    }

    .modal-navigation {
        .modal-dialog {
            width: 100%;
            max-width: 400px;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            margin: 0;

            ul {
                font-size: 1.25em;

                &:first-of-type {
                    margin: 0;
                }

                a {
                    line-height: 3.2rem;
                    text-decoration: none;
                    color: $gray-tint11;
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    &:active,
                    &:hover {
                        color: $primary;
                    }

                    &.selected {
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -($container-padding-x);
                            bottom: 0;
                            width: $input-padding-y;
                            background-color: $primary;
                        }
                    }
                }

                &.list-nav--tertiary {
                    border-top: 1px solid $gray-tint04;
                    font-size: 1em;

                    .wrapper-horizontal {
                        line-height: 1em;
                        position: relative;

                        a {
                            &:hover,
                            &:focus-visible {
                                color: $primary;
                            }
                        }

                        button,
                        span:not(.badge-count) {
                            padding: 0 0.5rem 0 0;
                            display: inline-block;
                            box-sizing: content-box;
                        }

                        button {
                            text-decoration: none;
                            font-weight: 400;
                            color: $gray-tint11;
                            width: 30px;
                        }

                        svg {
                            vertical-align: text-top;
                            path {
                                fill: $gray-tint06;
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-header {
        height: 64px;
    }
    .modal-content {
        height: 100%;
    }

    .fz-large & {
        .container__uitklapper {
            .trigger--notificationslist {
                .active,
                .inactive {
                    transform: translate(-50%, -44%);
                }
            }
        }
    }
    .fz-xlarge & {
        .container__uitklapper {
            .trigger--notificationslist {
                .active,
                .inactive {
                    transform: translate(-50%, -54%);
                }
            }
        }
    }
}
