.container__pagination {
    display: flex;
    justify-content: center;
    margin: 1rem 0;

    .wrapper-horizontal {
        ul {
            display: flex;
            li {
                margin: 0 2px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                position: relative;

                &:not(.has-text) {
                    width: 32px;
                    label,
                    span,
                    a {
                        width: 32px;
                    }
                }

                label,
                span,
                a {
                    font-weight: 400;
                    font-size: $fz-12;
                    display: block;
                }

                .disabled {
                    pointer-events: none;
                    color: $gray-600;
                    svg {
                        path {
                            fill: $gray-600;
                        }
                    }
                }

                svg {
                    width: 10px;
                    height: 10px;
                    margin-top: 1px;
                    path {
                        fill: $black;
                    }
                }

                span,
                a {
                    text-decoration: none;
                    color: black;
                    border: 1px solid transparent;
                    &.btn--next {
                        // path {
                        //     fill: $black;
                        // }
                    }
                    &.btn--previous {
                        svg {
                            transform: rotate(180deg);
                            // fill: $black;
                        }
                    }
                }
                span,
                a:hover {
                    border-color: $gray-200;
                    box-shadow: none;
                    background-color: $white;
                }

                &.has-text {
                    &:first-child {
                        margin-right: 10px;
                    }
                    &:last-child {
                        margin-left: 10px;
                    }
                    a {
                        padding-left: 6px;
                        padding-right: 6px;
                        display: flex;
                        align-items: center;
                    }

                    svg {
                        &:last-child {
                            margin-left: 6px;
                        }
                        &:first-child {
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
}

.hide-list-items + .container__pagination {
    display: none;
}
