{% extends "base.html" %}
{% load webpack_static from webpack_loader %}
{% block title %}
    Fout 404 - Pagina niet gevonden | FixeR
{% endblock title %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin="" />
{% endblock stylesheets %}
{% block body %}
    <div class="taak-detail">
        <div class="container__details" data-controller="errorpage">
            <h1 class="h3">404 - De pagina is niet gevonden</h1>
            <figure class="question">
                <q data-errorpage-target="question"></q>
                <figcaption>Betekenis</figcaption>
            </figure>
            <div class="container__answers" data-errorpage-target="containerAnswers"></div>
            <div>
                <a href="{% url 'taken' %}">Naar overzicht</a>
                <a class="link--whatsapp"
                   href="https://wa.me/?text=Hier het bericht"
                   target="_blank">Whatsapp de melding door</a>
            </div>
        </div>
    </div>
    <canvas id="confetti"></canvas>
{% endblock body %}
