{% extends "base.html" %}
{% load webpack_static from webpack_loader %}
{% block title %}
    Fout 404 - Pagina niet gevonden | FixeR
{% endblock title %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin="" />
{% endblock stylesheets %}
{% block body %}
    <div>
        <section class="section--seperated">
            <div class="container__details" data-controller="errorpage">
                <h1 class="visually-hidden">
                    De pagina is niet gevonden
                    <strong>404</strong>
                </h1>
                <figure class="question">
                    <q data-errorpage-target="question"></q>
                </figure>
                <div class="container__answers" data-errorpage-target="containerAnswers"></div>
            </div>
        </section>
    </div>
{% endblock body %}
