{% extends "base.html" %}
{% load webpack_static from webpack_loader %}
{% block title %}
    Home | FixeR
{% endblock title %}
{% block body %}
    <turbo-frame id="taak_basis" data-turbo-action="advance">
    <div class="welcome">
        <div class="flex-vertical">
            <div>
                <div class="vertical-center center">
                    <h1>
                        <span class="color--primary">Fixe</span>R
                    </h1>
                    <p>FixeR is een app van Stadsbeheer van de Gemeente Rotterdam.</p>
                </div>
            </div>
            <div class="center">
                <p>
                    <img src="{% webpack_static 'images/logo-organisatie.svg' %}"
                         alt="Logo organisatie"
                         class="logo" />
                </p>
                <a href="{% url 'taken' %}" class="btn btn-action" target="_top">Log in</a>
            </div>
        </div>
    </div>
    </turbo-frame>
{% endblock body %}
