{% extends "base.html" %}
{% block body_class %}
    page__home
{% endblock body_class %}
{% block container_class %}
    container
{% endblock container_class %}
{% block body %}
    <turbo-frame id="overview">
    <div class="border-green print-only"></div>
    <div>
        <h1>Nieuw in Fixer</h1>
        <ul class="list-clean">
            {% for release_note in release_notes %}
                <li class="{% if not release_note.is_unwatched_by_user %}inactive{% endif %}">
                    <div class="alert alert--confirmation">
                        <span>{% include "icons/checkmark-circle.svg" %}</span>
                        <div>
                            <p>
                                {{ release_note.titel }}
                                <small><a href="{% url 'release_note_detail' release_note.pk %}"
   data-turbo-frame="_top">Lees meer</a></small>
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% comment %} <div class="container">
            <a href="{% url 'taken' %}" class="btn btn-action">Bekijk mijn taken</a>
        </div> {% endcomment %}
    </div>
    </turbo-frame>
{% endblock body %}
