{% load json_encode from main_tags %}
<ul
    class="list-clean"
    data-controller="filter--filter"
    data-test-id="incidentFilterDepartment"
>
    {% for taak_id, taak in filter_opties.taken.items %}
        <li class="container__check-department">
            <div class="form-check">
                <input
                    class="form-check-input filter--taken"
                    type="checkbox"
                    value="{{ taak_id }}"
                    {% if taak_id in actieve_filters.taken %}checked{% endif %}
                    name="taken"
                    id="taak_{{ taak_id }}"
                    data-action="filter--filter#onChangeFilter"
                >
                <label class="form-check-label" for="taak_{{ taak_id }}">{{ taak.0 }}</label>
            </div>
        </li>
    {% endfor %}
    </ul>
