{% load json_encode from main_tags %}

<turbo-frame id="incidents_filters">
    <form
        action="{{form_url}}"
        method="post"
        data-controller="filter"
        id="incidentFilterAllForm"
        data-testid="incidentFilterAllForm"
    >
        {% csrf_token %}
        <details class="filter filter--active">
            <input data-filter-target="foldoutStatesField" type="hidden" value="{{ foldout_states }}" name="foldout_states">
            <summary>
                <span>Actieve filters</span>
                <span class="count count--filter">{{ actieve_filters_aantal }}<span>
            </summary>
            <fieldset>
                <ul class="list-clean">

                    {% for f in filters %}
                    {% if f.actief %}
                    <li>
                        <h3 class="h5">{{ f.naam|capfirst }}</h3>
                        <ul class="list-filters--active list-clean">
                            {% for id in f.actief %}
                            {% for optie_id, optie in f.opties.items %}
                            {% if id == optie_id %}
                            <li class="js-filter-active">
                                <button
                                    class="btn btn-secondary btn-filter--active"
                                    data-action="filter#removeFilter"
                                    data-filter-code-param="{{ optie_id }}"
                                    data-filter-description-param="{{ f.naam }}"
                                >
                                    <span>{{ optie.0 }}</span>
                                </button>

                            </li>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}

                </ul>
                <button class="btn-textlink btn-with-icon" data-action="filter#removeAllFilters" style="padding: 8px 0 16px;">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.5 5.9H9.5L8.18103 11H11V8.10001H21V11L23.819 11L22.5 5.9ZM25.8421 11L24.5 5.89999L24 4H23H9H8L7.5 5.89999V5.9L6.15789 11H5V13H6.17073L8 28H9H23H24L25.8293 13H27V11H25.8421ZM22.2125 26L23.8375 13H8.1625L9.7875 26H22.2125Z" fill="#404B4F"/>
                    </svg>
                    <span>Verwijder alle filters</span>
                </button>
            </fieldset>
        </details>



        {% for f in filters %}
        <details class="filter" data-action="filter#toggleActiveFilter" id="foldout_{{f.naam}}"{% if not f.folded %} open{% endif %}>
            <summary>
                <span>{{ f.naam|capfirst }}</span>
                <span>({{ f.actief|length }})</span>
            </summary>
            <ul
                class="list-clean"
                data-test-id="incidentFilter{{ f.naam|capfirst }}"
            >
                {% for optie_id, optie in f.opties.items %}
                    <li class="container__check-department">
                        <div class="form-check">
                            <input
                                class="form-check-input filter--taken"
                                type="checkbox"
                                value="{{ optie_id }}"
                                {% if optie_id in f.actief %}checked{% endif %}
                                name="{{ f.naam }}"
                                id="{{ f.naam }}_{{ optie_id }}"
                                data-action="filter#onChangeFilter"
                                data-filter-target="filterInput"
                            >
                            <label class="form-check-label" for="{{ f.naam }}_{{ optie_id }}">{{ optie.0 }}</label>
                        </div>
                    </li>
                {% endfor %}
                </ul>
        </details>
        {% endfor %}



        <div class="full-page-view__footer">
            {% if incident_count == 0 %}
                <button
                    type="button"
                    class="btn btn-action"
                    data-action="filter#hideFilters"
                    disabled="disabled"
                >
                    Er zijn geen meldingen, pas filter aan
                </button>
            {% elif incident_count == 1 %}
                <button
                    type="submit"
                    class="btn btn-action"
                    data-action="filter#onSubmitFilter"
                >
                    Toon 1 taak
                </button>
            {% else %}
                <button
                    type="submit"
                    class="btn btn-action"
                    data-action="filter#onSubmitFilter"
                >
                    Toon {{ taken_aantal }} taken
                </button>
            {% endif %}
        </div>
    </form>
</turbo-frame>
