{% extends "base_beheer.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from main_tags %}
{% block title %}
    {% if object %}
        Taaktype '{{ object.omschrijving }}' wijzigen
    {% else %}
        Taaktype aanmaken
    {% endif %}
    Beheer | FixeR
{% endblock title %}
{% block body %}
    <div class="page__beheer">
        <div>
            <a href="{% url 'taaktype_lijst' %}"
               data-turbo-action='advance'
               class="link--back">
                {% include "icons/arrow-long.svg" %}
                Taaktypes
            </a>
        </div>
        {% if object %}
            <h1>Taaktype '{{ object.omschrijving }}' aanpassen</h1>
        {% else %}
            <h1>Taaktype aanmaken</h1>
        {% endif %}
        <div class="grid-container">
            <div class="grid-item">
                {% if object.contexten_voor_taaktypes.all %}
                    <div class="alert alert--warning">
                        <strong>
                            <span class="badge-count">!</span>Let op
                        </strong>
                        <div>
                            <p>Het wijzigen van dit taaktype heeft gevolgen voor alle rollen die gebruik maken van dit taaktype.</p>
                        </div>
                    </div>
                {% endif %}
                <form action="."
                      method="post"
                      class="form--beheer"
                      {% if form.redirect_field.value %}data-turbo="false"{% endif %}>
                    {% csrf_token %}
                    <fieldset>
                        {{ form.redirect_field|render_rotterdam_formulier }}
                        {{ form.omschrijving|render_rotterdam_formulier }}
                        {{ form.toelichting|render_rotterdam_formulier }}
                        <div class="container__checkbox--single">
                            <h3 class="label">Is dit taaktype actief?</h3>
                            {{ form.actief|render_rotterdam_formulier }}
                        </div>
                    </fieldset>
                    <div class="form-row container__button">
                        <div class="form-row btn-row">
                            <button type="reset"
                                    class="btn btn-tertiary"
                                    data-controller="utils"
                                    data-action="utils#goToUrl"
                                    data-utils-url-param="{% url 'taaktype_lijst' %}">
                                <span>Annuleren</span>
                            </button>
                            {% if taaktype_url %}
                                <a href="{{ TAAKR_URL }}/beheer/taaktype/aanmaken/?taaktype_url={{ taaktype_url }}"
                                   class="btn btn-action">
                                    <span>Aanpassen in TaakR</span>
                                </a>
                            {% endif %}
                            <button type="submit" class="btn btn-action">
                                <span>
                                    {% if taaktype_url %}
                                        Aanpassen
                                    {% else %}
                                        Aanmaken
                                    {% endif %}
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                {% if object.contexten_voor_taaktypes.all %}
                    <div class="container__userlist">
                        <h2 class="h3">Rollen die gebruikmaken van dit taaktype</h2>
                        <ul class="list-clean">
                            {% for context in object.contexten_voor_taaktypes.all %}<li>{{ context.naam }}</li>{% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
