{% extends "base_beheer.html" %}
{% load webpack_static from webpack_loader %}
{% load rotterdam_formulier_html %}
{% load json_encode from main_tags %}
{% load render_onderwerp from melding_tags %}
{% block title %}
    {% if object %}
        Taaktype '{{ object.omschrijving }}' aanpassen
    {% else %}
        Taaktype aanmaken
    {% endif %}
    | FixeR
{% endblock title %}
{% block body %}
    <div class="page__beheer">
        <div>
            <a href="{% url 'taaktype_lijst' %}"
               data-turbo-action='advance'
               class="link--back">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
                Taaktypes
            </a>
        </div>
        {% if object %}
            <h1>Taaktype '{{ object.omschrijving }}' aanpassen</h1>
        {% else %}
            <h1>Taaktype aanmaken</h1>
        {% endif %}
        <div class="grid-container">
            <div class="grid-item">
                {% if object.contexten_voor_taaktypes.all %}
                    <div class="alert alert--warning">
                        <span>
                            <svg width="32"
                                 height="32"
                                 viewBox="0 0 32 32"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0001 6.21851L26.6516 26L5.34849 26L16.0001 6.21851ZM14.2391 5.2703C14.9943 3.8679 17.0059 3.86791 17.761 5.27031L28.4126 25.0518C29.13 26.3843 28.165 28 26.6516 28H5.34849C3.83514 28 2.87007 26.3842 3.58755 25.0518L14.2391 5.2703ZM15.0001 12H17.0001V20H15.0001V12ZM15.0001 24V22H17.0001V24H15.0001Z" fill="#A65600" />
                            </svg>
                        </span>
                        <div>
                            <p>Let op: het wijzigen van dit taaktype heeft gevolgen voor alle rollen die gebruik maken van dit taaktype.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div>
                {% if object.contexten_voor_taaktypes.all %}
                    <div class="container__userlist">
                        <h2 class="h3">Rollen die gebruikmaken van dit taaktype</h2>
                        <ul class="list-clean">
                            {% for context in object.contexten_voor_taaktypes.all %}<li>{{ context.naam }}</li>{% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <form action="."
              method="post"
              class="form--beheer full-width"
              enctype="multipart/form-data"
              data-controller="taaktypeformulier"
              data-taaktypeformulier-target="formTaaktype">
            {% csrf_token %}
            {{ form.errors }}
            <fieldset class="section">
                <legend>Basisinformatie</legend>
                <div class="container__flex">
                    <div>
                        {% comment %} {% if object %}
                            <strong>Naam taaktype</strong>
                            <p>{{ object.omschrijving }}</p>
                        {% else %}
                            {{ form.omschrijving|render_rotterdam_formulier }}
                        {% endif %} {% endcomment %}
                        {{ form.omschrijving }}
                        {{ form.toelichting|render_rotterdam_formulier }}
                        {{ form.taaktypemiddelen|render_rotterdam_formulier }}
                    </div>
                    <div>
                        {{ form.afdelingen|render_rotterdam_formulier }}
                        <p>#TODO Wie is verantwoordelijk voor de uitvoering van het proces?</p>
                        <p>#TODO Icoon</p>
                        <div class="container__checkbox--single form-row">
                            <h3 class="label">Is dit taaktype actief?</h3>
                            {{ form.actief|render_rotterdam_formulier }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="section">
                <legend>Wanneer selecteer je dit taaktype?</legend>
                <div class="container__flex container__hideables">
                    <div class="form-row" data-taaktypeformulier-target="voorbeeldWel">
                        <label class="label--positive">Wanneer is de taak relevant?</label>
                        {{ voorbeeldsituatie_wel.management_form }}
                        {% for voorbeeldsituatie in voorbeeldsituatie_wel %}
                            {% if forloop.counter0 < 5 %}
                                {% comment %} check id om class te zetten voor wel of niet zichtbaar {% endcomment %}
                                {% include "taken/taaktype_voorbeeldsituatie_form.html" with count=forloop.counter0|add:1 do=True %}
                            {% endif %}
                        {% endfor %}
                        <button type="button"
                                class="btn btn-textlink"
                                data-action="taaktypeformulier#addExample">
                            + Voeg nog een voorbeeldsituatie toe
                        </button>
                        <small>U kunt maximaal 5 voorbeeldsituaties opgeven</small>
                    </div>
                    <div class="form-row" data-taaktypeformulier-target="voorbeeldNiet">
                        <label class="label--negative">Wanneer hoeft de taak NIET te worden gestart?</label>
                        {{ voorbeeldsituatie_niet.management_form }}
                        {% for voorbeeldsituatie in voorbeeldsituatie_niet %}
                            {% if forloop.counter0 < 5 %}
                                {% include "taken/taaktype_voorbeeldsituatie_form.html" with count=forloop.counter0|add:1 do=False %}
                            {% endif %}
                        {% endfor %}
                        <button type="button"
                                class="btn btn-textlink"
                                data-action="taaktypeformulier#addExample">
                            + Voeg nog een voorbeeldsituatie toe
                        </button>
                        <small class="margin-bottom">U kunt maximaal 5 voorbeeldsituaties opgeven</small>
                    </div>
                </div>
            </fieldset>
            <fieldset class="section">
                <legend>Gerelateerd aan dit taaktype</legend>
                <div class="container__flex">
                    {{ form.volgende_taaktypes|render_rotterdam_formulier }}
                    <div>
                        {{ form.gerelateerde_onderwerpen|render_rotterdam_formulier }}
                        <br>
                        Geselecteerde onderwerpen
                        <ul>
                            {% for onderwerp_url in form.gerelateerde_onderwerpen.value %}
                                <li>{% render_onderwerp onderwerp_url %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </fieldset>
            {% comment %} <table>
                <thead>
                    <tr>
                        <th>
                            <strong>WEL</strong>
                        </th>
                        <th>
                            <strong>NIET</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ voorbeeldsituatie_wel.management_form }}
                            {% for voorbeeldsituatie in voorbeeldsituatie_wel %}
                                {% include "taken/taaktype_voorbeeldsituatie_form.html" %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ voorbeeldsituatie_niet.management_form }}
                            {% for voorbeeldsituatie in voorbeeldsituatie_niet %}
                                {% include "taken/taaktype_voorbeeldsituatie_form.html" %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table> {% endcomment %}
            {% comment %} </fieldset> {% endcomment %}
            <div class="form-row container__button">
                <div class="form-row btn-row">
                    <button type="reset"
                            class="btn btn-tertiary"
                            data-controller="utils"
                            data-action="utils#goToUrl"
                            data-utils-url-param="{% url 'taaktype_lijst' %}">
                        <span>Annuleren</span>
                    </button>
                    <button type="submit" class="btn btn-action">
                        <span>Aanpassen</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% comment %} start nieuw beheer {% endcomment %}
    <section class="padding-bottom-2x">
        <h2 class="color--primary">Schoon</h2>
        <ul class="list-blocks--title-images">
            <li class="title-image editable">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Ophalen met knijpwagen</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/329/275" />
                    </div>
                    <div class="container__badges">
                        <span class="badge badge--green">WRT Noord</span>
                        <span class="badge badge--green">WRT Zuid</span>
                        <span class="badge badge--green">Inzameling Noord</span>
                        <span class="badge badge--green">WRT Zuid</span>
                        <span class="badge badge--green">WRT Zuid</span>
                        <span class="badge badge--green">Inzameling Zuid</span>
                    </div>
                </a>
                <a href="#" class="icon--edit">{% include "icons/edit.svg" %}</a>
            </li>
            <li class="title-image">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Ophalen met knijpwagen</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/328/282" />
                    </div>
                </a>
            </li>
            <li class="title-image">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Ophalen met knijpwagen</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/369/283" />
                    </div>
                    <div class="container__badges">
                        <span class="badge badge--green">Inzameling Zuid</span>
                    </div>
                </a>
            </li>
            <li class="title-image editable">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Ophalen met knijpwagen, en nog een beetje meer tekst</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/329/254" />
                    </div>
                </a>
                <a href="#" class="icon--edit">{% include "icons/edit.svg" %}</a>
            </li>
            <li class="title-image">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Verzakking verhelpen</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/206/282" />
                    </div>
                </a>
            </li>
            <li class="title-image">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Koelkast ophalenn</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/369/282" />
                    </div>
                </a>
            </li>
            <li class="title-image">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Verzakking verhelpen</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/205/276" />
                    </div>
                </a>
            </li>
            <li class="title-image">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Koelkast ophalen</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/350/300" />
                    </div>
                </a>
            </li>
        </ul>
    </section>
    <section class="padding-bottom-2x">
        <h2 class="color--primary">Heel</h2>
        <ul class="list-blocks--title-images">
            <li class="title-image editable">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Ophalen met knijpwagen</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/339/275" />
                    </div>
                    <div class="container__badges">
                        <span class="badge badge--green">WRT Noord</span>
                        <span class="badge badge--green">WRT Zuid</span>
                        <span class="badge badge--green">Inzameling Noord</span>
                        <span class="badge badge--green">WRT Zuid</span>
                        <span class="badge badge--green">WRT Zuid</span>
                        <span class="badge badge--green">Inzameling Zuid</span>
                    </div>
                </a>
                <a href="#" class="icon--edit">{% include "icons/edit.svg" %}</a>
            </li>
            <li class="title-image">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Ophalen met knijpwagen</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/338/282" />
                    </div>
                </a>
            </li>
            <li class="title-image">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Ophalen met knijpwagen</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/339/282" />
                    </div>
                </a>
            </li>
            <li class="title-image editable">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Ophalen met knijpwagen, en nog een beetje meer tekst</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/329/254" />
                    </div>
                </a>
                <a href="#" class="icon--edit">{% include "icons/edit.svg" %}</a>
            </li>
            <li class="title-image">
                <a href="#">
                    <div class="container__title">
                        {% include "icons/eye.svg" %}
                        <h3 class="title">Verzakking verhelpen</h3>
                    </div>
                    <div class="container__image">
                        <img alt="Ophalen met knijpwagen" src="https://picsum.photos/206/282" />
                    </div>
                </a>
            </li>
        </ul>
    </section>
    <form class="full-width">
        <fieldset class="section">
            <legend>Basisinformatie</legend>
            <div class="container__form-rows cols2">
                <div class="form-row">Form-row 1</div>
                <div class="form-row">
                    Form-row 2 Let op: het wijzigen van dit taaktype heeft gevolgen voor alle rollen die gebruik maken van dit taaktype.Let op: het wijzigen van dit taaktype heeft gevolgen voor alle rollen die gebruik maken van dit taaktype.
                </div>
                <div class="form-row">
                    <ul class="list-tags">
                        <li>
                            <button class="btn btn-secondary btn-filter--active"
                                    data-action="filter#removeFilter"
                                    data-filter-code-param="taak_status_nieuw"
                                    data-filter-description-param="taak_status">
                                <span>Bezem</span>
                            </button>
                        </li>
                        <li class="js-filter-active">
                            <button class="btn btn-secondary btn-filter--active"
                                    data-action="filter#removeFilter"
                                    data-filter-code-param="taak_status_voltooid"
                                    data-filter-description-param="taak_status">
                                <span>Stoffer en blik</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="form-row">
                    <label class="label--positive">Wanneer is de taak relevant?</label>
                </div>
                <div class="form-row">
                    <label class="label--negative">Wanneer hoeft de taak NIET te worden gestart?</label>
                </div>
                <div class="form-row">Form-row 6</div>
            </div>
        </fieldset>
        <fieldset class="section">
            <legend>Wanneer selecteer je dit taaktype?</legend>
            <div class="display-flex--2cols-md">
                <div class="margin-bottom">
                    <h2 class="label--positive">Wanneer is de taak relevant?</h2>
                    <div class="form-row">Form-row</div>
                    <div class="form-row">Form-row</div>
                    <div class="form-row">Form-row</div>
                </div>
                <div class="margin-bottom">
                    <h2 class="label--negative">Wanneer hoeft de taak NIET te worden gestart?</h2>
                    <div class="form-row">Form-row</div>
                    <div class="form-row">Form-row</div>
                    <div class="form-row">Form-row</div>
                    <div class="form-row">Form-row</div>
                </div>
            </div>
        </fieldset>
    </form>
    <h1 class="icon--left">
        <img src="{% webpack_static 'icons/vuilniswagen.svg' %}" alt="" />
        Ophalen met knijpwagen
    </h1>
    <h2 class="h5">Omschrijving taaktype</h2>
    <p>Het ophalen van grote hoeveelheden losliggend afval.</p>
    <h2 class="h5">Wie is verantwoordelijk voor de uitvoering van het proces?</h2>
    <p>Teamleider Inzameling</p>
    <section class="padding-bottom">
        <div class="container__badges--overview">
            <div class="margin-bottom">
                <h2 class="h5">Afdelingen</h2>
                <ul class="list-tags">
                    <li>
                        <span class="badge badge--green">WRT Noord</span>
                    </li>
                    <li>
                        <span class="badge badge--green">WRT Zuid</span>
                    </li>
                    <li>
                        <span class="badge badge--green">WRT Zuid</span>
                    </li>
                </ul>
            </div>
            <div class="margin-bottom">
                <h2 class="h5">Benodigd materiaal</h2>
                <ul class="list-tags">
                    <li>
                        <span class="badge badge--green">Knijpwagen</span>
                    </li>
                    <li>
                        <span class="badge badge--green">Bezempje</span>
                    </li>
                    <li>
                        <span class="badge badge--green">Stoffer en blik</span>
                    </li>
                    <li>
                        <span class="badge badge--green">Knijpwagentje</span>
                    </li>
                    <li>
                        <span class="badge badge--green">Bezem</span>
                    </li>
                    <li>
                        <span class="badge badge--green">Stoffer en blik</span>
                    </li>
                </ul>
            </div>
            <div class="margin-bottom">
                <h2 class="h5">Gerelateerde onderwerpen</h2>
                <ul class="list-tags">
                    <li>
                        <span class="badge badge--green">Grofvuil</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="display-flex--2cols-md">
        <div class="border--gray-shadowed margin-bottom">
            <h2 class="label--positive">Wanneer is de taak relevant?</h2>
            <div class="container__explained">
                <h3 class="h5 no-margin-bottom">Voorbeeldsituatie 1</h3>
                <p class="no-margin-top margin-bottom-half">Het gaat om een grote berg losliggend afval.</p>
                <div class="container__image">
                    <img src="https://picsum.photos/567/415" />
                    <div class="icon--positive"></div>
                </div>
            </div>
            <div class="container__explained">
                <h3 class="h5 no-margin-bottom">Voorbeeldsituatie 2</h3>
                <p class="no-margin-top margin-bottom-half">
                    Het zou teveel tijd kosten om met de hand op te ruimen. Het gaat om een grote berg losliggend afval.
                </p>
                <div class="container__image">
                    <img src="https://picsum.photos/257/415" />
                    <div class="icon--positive"></div>
                </div>
            </div>
        </div>
        <div class="border--gray-shadowed margin-bottom">
            <h2 class="label--negative">Wanneer hoeft de taak NIET te worden gestart?</h2>
            <div class="container__explained">
                <h3 class="h5 no-margin-bottom">Voorbeeldsituatie 1</h3>
                <p class="no-margin-top margin-bottom-half">
                    Het zou teveel tijd kosten om met de hand op te ruimen. Het gaat om een grote berg losliggend afval.
                </p>
                <div class="container__image">
                    <img src="https://picsum.photos/527/415" />
                    <div class="icon--negative"></div>
                </div>
            </div>
            <div class="container__explained">
                <h3 class="h5 no-margin-bottom">Voorbeeldsituatie 2</h3>
                <p class="no-margin-top margin-bottom-half">Het zou teveel tijd kosten om met de hand op te ruimen.</p>
                <div class="container__image">
                    <img src="https://picsum.photos/537/415" />
                    <div class="icon--negative"></div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} eind nieuw beheer {% endcomment %}
    {% comment %} </div> {% endcomment %}
{% endblock body %}
