{% extends "base_beheer.html" %}
{% load webpack_static from webpack_loader %}
{% load render_onderwerp get_bijlagen from melding_tags %}
{% load json_encode from main_tags %}
{% block title %}
    Taaktypes | FixeR
{% endblock title %}
{% block body %}
    <div class="page__beheer" data-controller="row-search">
        <div>
            <a href="{% url 'taaktype_beheer' %}" class="link--back">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
                Beheer
            </a>
        </div>
        <div class="container__flex">
            <h1>Taaktypes</h1>
            <a class="btn btn-action" href="{% url 'taaktype_aanmaken' %}">
                <svg width="24"
                     height="24"
                     viewBox="0 0 32 32"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 6H15V15H6V17H15V26H17V17H26V15H17V6Z" fill="#ffffff"></path>
                </svg>
                Nieuw taaktype
            </a>
        </div>
        <ul class="list-clean">
            {% for onderdeel in afdeling_onderdelen %}
                <li>
                    <section class="padding-bottom-2x">
                        <h2 class="color--primary">{{ onderdeel.0 }}</h2>
                        <ul class="list-blocks--title-images">
                            {% for taaktype in onderdeel.1 %}
                                <li class="title-image editable">
                                    <a href="#">
                                        <div class="container__title">
                                            {% comment %} TODO get icon {% endcomment %}
                                            {% if not taaktype.icon %}
                                                {% include "icons/eye.svg" %}
                                            {% endif %}
                                            <h3 class="title">{{ taaktype.omschrijving }}</h3>
                                        </div>
                                        <div class="container__image">
                                            {% comment %} TODO get (first?) bijlage {% endcomment %}
                                            {% if not taaktype.bijlage %}
                                                <img alt="{{ taaktype.omschrijving }}"
                                                     class=""
                                                     src="https://picsum.photos/329/275" />
                                            {% else %}
                                                <img alt="{{ taaktype.omschrijving }}"
                                                     class="no-image"
                                                     src="{% webpack_static 'icons/noimage.svg' %}" />
                                            {% endif %}
                                        </div>
                                        <div class="container__badges">
                                            {% if taaktype.afdelingen.all|length > 0 %}
                                                <ul class="list-tags">
                                                    {% for afdeling in taaktype.afdelingen.all %}
                                                        <li>
                                                            <span class="badge badge--green">{{ afdeling.naam }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </a>
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'taaktype_aanpassen' taaktype.id %}" class="icon--edit">{% include "icons/edit.svg" %}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% comment %} START DETAIL {% endcomment %}
                        <ul class="list-clean margin-bottom">
                            {% for taaktype in onderdeel.1 %}
                                <li>
                                    <h1>
                                        {{ taaktype.omschrijving }}
                                        {% if not taaktype.actief %}<small>(Niet actief)</small>{% endif %}
                                    </h1>
                                    <h2 class="h4">Omschrijving taaktype</h2>
                                    <p>{{ taaktype.toelichting }}</p>
                                    <h2 class="h4">Wie is er verantwoordelijk voor de uitvoering van het proces?</h2>
                                    <p>...{{ taaktype.verantwoordlijke }}</p>
                                    <section class="padding-bottom">
                                        <div class="container__badges--overview">
                                            {% if taaktype.afdelingen.all|length > 0 %}
                                                <div class="margin-bottom">
                                                    <h2 class="h5">Afdelingen</h2>
                                                    <ul class="list-tags">
                                                        {% for afdeling in taaktype.afdelingen.all %}
                                                            <li>
                                                                <span class="badge badge--green">{{ afdeling.naam }}</span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if taaktype.taaktypemiddelen.all|length > 0 %}
                                                <div class="margin-bottom">
                                                    <h2 class="h5">Benodigd materiaal</h2>
                                                    <ul class="list-tags">
                                                        {% for middel in taaktype.taaktypemiddelen.all %}
                                                            <li>
                                                                <span class="badge badge--green">{{ middel.naam }}</span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if taaktype.gerelateerde_onderwerpen|length > 0 %}
                                                <div class="margin-bottom">
                                                    <h2 class="h5">Gerelateerde onderwerpen</h2>
                                                    <ul class="list-tags">
                                                        {% for onderwerp in taaktype.gerelateerde_onderwerpen %}
                                                            <li>
                                                                <span class="badge badge--green">{% render_onderwerp onderwerp %}</span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </section>
                                    (bijlagen: {{ taaktype.bijlagen.all }})
                                    (bijlagen aantal: {{ taaktype.bijlagen.count }})
                                    <section class="display-flex--2cols-md">
                                        <div class="border--gray-shadowed margin-bottom">
                                            <h2 class="label--positive">Wanneer is de taak relevant?</h2>
                                            {% for bijlage in taaktype.bijlagen.all %}<p>{{ bijlage.url }}</p>{% endfor %}
                                            <div class="container__explained">
                                                <h3 class="h5 no-margin-bottom">Voorbeeldsituatie 1</h3>
                                                <p class="no-margin-top margin-bottom-half">Het gaat om een grote berg losliggend afval.</p>
                                                <div class="container__image">
                                                    {% comment %} <img src="https://picsum.photos/567/415" /> {% endcomment %}
                                                    {% comment %} TODO get bijlage {% endcomment %}
                                                    {% if taaktype.bijlage %}
                                                        <img alt="{{ taaktype.omschrijving }}"
                                                             class=""
                                                             src="https://picsum.photos/567/415" />
                                                        <div class="icon--positive"></div>
                                                    {% else %}
                                                        <img alt="{{ taaktype.omschrijving }}"
                                                             class="no-image"
                                                             src="{% webpack_static 'icons/noimage.svg' %}" />
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="container__explained">
                                                <h3 class="h5 no-margin-bottom">Voorbeeldsituatie 2</h3>
                                                <p class="no-margin-top margin-bottom-half">
                                                    Het zou teveel tijd kosten om met de hand op te ruimen. Het gaat om een grote berg losliggend afval.
                                                </p>
                                                <div class="container__image">
                                                    <img src="https://picsum.photos/257/415" />
                                                    <div class="icon--positive"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border--gray-shadowed margin-bottom">
                                            <h2 class="label--negative">Wanneer hoeft de taak NIET te worden gestart?</h2>
                                            <div class="container__explained">
                                                <h3 class="h5 no-margin-bottom">Voorbeeldsituatie 1</h3>
                                                <p class="no-margin-top margin-bottom-half">
                                                    Het zou teveel tijd kosten om met de hand op te ruimen. Het gaat om een grote berg losliggend afval.
                                                </p>
                                                <div class="container__image">
                                                    <img src="https://picsum.photos/527/415" />
                                                    <div class="icon--negative"></div>
                                                </div>
                                            </div>
                                            <div class="container__explained">
                                                <h3 class="h5 no-margin-bottom">Voorbeeldsituatie 2</h3>
                                                <p class="no-margin-top margin-bottom-half">Het zou teveel tijd kosten om met de hand op te ruimen.</p>
                                                <div class="container__image">
                                                    <img src="https://picsum.photos/537/415" />
                                                    <div class="icon--negative"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                            {% endfor %}
                        </ul>
                        {% comment %} END DETAIL {% endcomment %}
                    </section>
                </li>
            {% endfor %}
        </ul>
        <table>
            <thead>
                <tr>
                    <th>omschrijving</th>
                    <th>Volgende taaktypes</th>
                    <th>Actief</th>
                    <th>Aantal rollen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr data-row-search-target="row">
                        <td data-row-search-target="searchable">{{ object.omschrijving }}</td>
                        <td data-row-search-target="searchable">
                            {% if object.volgende_taaktypes.all %}
                                {% for taaktype in object.volgende_taaktypes.all %}
                                    {{ taaktype.omschrijving }}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td data-row-search-target="searchable">
                            {% if object.actief %}
                                {% include "icons/checkmark.svg" %}
                            {% else %}
                                {% include "icons/close.svg" %}
                            {% endif %}
                        </td>
                        <td data-row-search-target="searchable">{{ object.contexten_voor_taaktypes.all|length }}</td>
                        <td>
                            <a href="{% url 'taaktype_aanpassen' object.pk %}"
                               aria-label="Aanpassen">{% include "icons/edit.svg" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}
