{% extends "base_beheer.html" %}
{% load taaktype_url from taaktype_tags %}
{% block title %}
    Taaktypes | Beheer | FixeR
{% endblock title %}
{% block body %}
    <div class="page__beheer" data-controller="row-search">
        <div>
            <a href="{% url 'beheer' %}" class="link--back">
                {% include "icons/arrow-long.svg" %}
                Beheer
            </a>
        </div>
        <div class="container__flex">
            <h1>Taaktypes</h1>
            <a class="btn btn-action" href="{% url 'taaktype_aanmaken' %}">
                {% include "icons/plus.svg" %}
                Nieuw taaktype
            </a>
        </div>
        <div class="alert alert--info">
            <strong>
                <span class="badge-count">i</span>Toelichting
            </strong>
            <p>
                Deze pagina toont de verschillende taaktypes die geselecteerd kunnen worden in FixeR. Ook taaktypes die als vervolgtaak kunnen worden gekozen.
            </p>
        </div>
        <form>
            <div class="form-row">
                <label for="id_zoeken">Zoeken</label>
                <div>
                    <input type="text"
                           id="id_zoeken"
                           name="zoeken"
                           class="form-control "
                           data-action="row-search#search">
                </div>
            </div>
        </form>
        <h2>Actieve taaktypes</h2>
        <div class="container__table">
            <table>
                <thead>
                    <tr>
                        <th>omschrijving</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in active %}
                        <tr data-row-search-target="row">
                            <td data-row-search-target="searchable">{{ object.omschrijving }}</td>
                            <td>
                                <a href="{% url 'taaktype_aanpassen' object.pk %}"
                                   aria-label="Aanpassen">{% include "icons/edit.svg" %}</a>
                            </td>
                            <td>
                                <a href="{{ TAAKR_URL }}/beheer/taaktype/aanmaken/?taaktype_url={% taaktype_url object %}"
                                   aria-label="Aanpassen">TaakR
                                    {% include "icons/edit.svg" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2>Inactieve taaktypes</h2>
        <div class="container__table">
            <table>
                <thead>
                    <tr>
                        <th>omschrijving</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in inactief %}
                        <tr data-row-search-target="row">
                            <td data-row-search-target="searchable">{{ object.omschrijving }}</td>
                            <td>
                                <a href="{% url 'taaktype_aanpassen' object.pk %}"
                                   aria-label="Aanpassen">{% include "icons/edit.svg" %}</a>
                            </td>
                            <td>
                                <a href="{{ TAAKR_URL }}/beheer/taaktype/aanmaken/?taaktype_url={% taaktype_url object %}"
                                   aria-label="Aanpassen">TaakR
                                    {% include "icons/edit.svg" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}
