{% extends "base_beheer.html" %}
{% block title %}
    Taaktypes | FixeR
{% endblock title %}
{% block body %}
    <div class="page__beheer" data-controller="row-search">
        <div>
            <a href="{% url 'taaktype_beheer' %}" class="link--back">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
                Beheer
            </a>
        </div>
        <div class="container__flex">
            <h1>Taaktypes</h1>
            <a class="btn btn-action" href="{% url 'taaktype_aanmaken' %}">
                <svg width="24"
                     height="24"
                     viewBox="0 0 32 32"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 6H15V15H6V17H15V26H17V17H26V15H17V6Z" fill="#ffffff"></path>
                </svg>
                Nieuw taaktype
            </a>
        </div>
        <ul>
            {% for onderdeel in afdeling_onderdelen %}
                <li>
                    {{ onderdeel.0 }}
                    <ul>
                        {% for taaktype in onderdeel.1 %}
                            <li>
                                {{ taaktype.omschrijving }} (afdelingen:
                                {% for afdeling in taaktype.afdelingen.all %}{{ afdeling.naam }}{% endfor %}
                                ) (bijlagen aantal: {{ taaktype.bijlagen.count }})
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <table>
            <thead>
                <tr>
                    <th>omschrijving</th>
                    <th>Volgende taaktypes</th>
                    <th>Actief</th>
                    <th>Aantal rollen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr data-row-search-target="row">
                        <td data-row-search-target="searchable">{{ object.omschrijving }}</td>
                        <td data-row-search-target="searchable">
                            {% if object.volgende_taaktypes.all %}
                                {% for taaktype in object.volgende_taaktypes.all %}
                                    {{ taaktype.omschrijving }}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td data-row-search-target="searchable">
                            {% if object.actief %}
                                {% include "icons/checkmark.svg" %}
                            {% else %}
                                {% include "icons/close.svg" %}
                            {% endif %}
                        </td>
                        <td data-row-search-target="searchable">{{ object.contexten_voor_taaktypes.all|length }}</td>
                        <td>
                            <a href="{% url 'taaktype_aanpassen' object.pk %}"
                               aria-label="Aanpassen">{% include "icons/edit.svg" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}
