{% extends "base_beheer.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from main_tags %}
{% block title %}
    Wijzig Taaktype: {{ object.omschrijving }} | FixeR
{% endblock title %}
{% block body %}
    <div class="page__beheer">
        <div>
            <a href="{% url 'taaktype_lijst' %}"
               data-turbo-action='advance'
               class="link--back">
                {% include "icons/arrow-long.svg" %}
                Taaktypes
            </a>
        </div>
        <h1>Taaktype: {{ object.omschrijving }}</h1>
        <div class="grid-container">
            <div class="grid-item">
                <div class="alert alert--warning">
                    <strong>
                        <span class="badge-count">!</span>Let op
                    </strong>
                    <div>
                        <p>Het wijzigen van dit taaktype heeft gevolgen voor alle rollen die gebruik maken van dit taaktype.</p>
                    </div>
                </div>
                <form action="." method="post" class="form--beheer">
                    {% csrf_token %}
                    <fieldset>
                        {{ form.omschrijving|render_rotterdam_formulier }}
                        {{ form.volgende_taaktypes|render_rotterdam_formulier }}
                        {{ form.gerelateerde_onderwerpen|render_rotterdam_formulier }}
                        <div class="container__checkbox--single">
                            <h3 class="label">Actief?</h3>
                            {{ form.actief|render_rotterdam_formulier }}
                        </div>
                    </fieldset>
                    <div class="form-row container__button">
                        <div class="form-row btn-row">
                            <button type="reset"
                                    class="btn btn-tertiary"
                                    data-controller="utils"
                                    data-action="utils#goToUrl"
                                    data-utils-url-param="{% url 'taaktype_lijst' %}">
                                <span>Annuleren</span>
                            </button>
                            <button type="submit" class="btn btn-action">
                                <span>Aanpassen</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                {% if object.contexten_voor_taaktypes.all %}
                    <div class="container__userlist">
                        <h2 class="h3">Rollen die gebruikmaken van dit taaktype</h2>
                        <ul class="list-clean">
                            {% for context in object.contexten_voor_taaktypes.all %}
                                <li>
                                    <strong>{{ context.naam }}</strong>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
