{% extends "base.html" %}
{% block head %}
    {{ wizard.form.media }}
{% endblock head %}
{% block title %}
    Onboarding | FixeR
{% endblock title %}
{% block container_class %}
    container container--limited
{% endblock container_class %}
{% block body %}
    <turbo-frame id="onboarding">
    <h2>{{ wizard.form.form_title }}</h2>
    <form method="post"
          enctype="multipart/form-data"
          data-controller="onboarding"
          class="onboarding">
        {% csrf_token %}
        <div class="progress">
            <ul class="list-progress">
                {% for step in wizard.steps.all %}
                    <li class="progress__step{% if forloop.counter <= wizard.steps.index|add:1 %} active{% endif %}"></li>
                {% endfor %}
            </ul>
            {% if wizard.steps.prev %}
                <button class="btn-previous--icon"
                        name="wizard_goto_step"
                        type="submit"
                        formnovalidate
                        value="{{ wizard.steps.prev }}">{% include "icons/arrow-right.svg" %}</button>
            {% endif %}
        </div>
        <div>
            {% block step_content %}
            {% endblock step_content %}
        </div>
        {{ wizard.management_form }}
        <div class="container__details--sticky-bottom">
            <div class="sticky sticky--bottom">
                {% if wizard.steps.next %}<button class="btn btn-action" type="submit" formnovalidate>Volgende</button>{% endif %}
                {% if wizard.steps.last == wizard.steps.current %}
                    <button class="btn btn-action" type="submit" formnovalidate>Aan de slag</button>
                {% endif %}
            </div>
        </div>
    </form>
    </turbo-frame>
{% endblock body %}
