{% extends "base.html" %}
{% block title %}
    Onboarding | FixeR
{% endblock title %}
{% block body %}
    <h2>{{ wizard.form.form_title }}</h2>
    <div class="progress">
        Current step: {{ wizard.steps.index|add:1 }} van {{ wizard.steps.count }} | {{ wizard.steps.current }}
        <br />
        Progress {{ progress }}%
        <br />
        <progress class="progress-bar"
                  style="width: {{ progress }}%"
                  value="{{ progress }}"
                  max="100"
                  aria-valuenow="{{ progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100">{{ progress }}
        </progress>
    </div>
    <div>
        {% block step_content %}
        {% endblock step_content %}
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.steps.prev %}
            <button class="btn btn-primary"
                    name="wizard_goto_step"
                    type="submit"
                    value="{{ wizard.steps.first }}">Eerste</button>
            <button class="btn btn-primary"
                    name="wizard_goto_step"
                    type="submit"
                    value="{{ wizard.steps.prev }}">Vorige</button>
        {% endif %}
        {% if wizard.steps.next %}
            <button class="btn btn-primary"
                    name="wizard_goto_step"
                    type="submit"
                    value="{{ wizard.steps.next }}">Volgende</button>
        {% endif %}
        {% if wizard.steps.last == wizard.steps.current %}
            <button class="btn btn-primary" type="submit">Aan de slag</button>
        {% endif %}
    </form>
{% endblock body %}
{% comment %} <p>Step {{ wizard.steps.index|add:1 }} of {{ wizard.steps.count }}</p>
        * {{ wizard.steps }} *
        <ul class="list-progress">
            <li class="progress__step active"></li>
            <li class="progress__step active"></li>
            <li class="progress__step"></li>
        </ul>
    </div>
    <form method="post" enctype="multipart/form-data" data-turbo ="false">
        Dit is een multipart form
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ wizard.form.as_p }}
        <button type="submit" class="btn btn-primary">
            {% if wizard.steps.index == wizard.steps.count %}
                Bevestigen
            {% else %}
                Volgende
            {% endif %}
        </button>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{{ wizard.steps.step1 }}</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{{ wizard.steps.prev }}</button>
{% endif %} {% endcomment %}
