{% extends "onboarding/multipart_form.html" %}
{% load rotterdam_formulier_html %}
{% block title %}
    Onboarding {{ wizard.steps.current }} | FixeR
{% endblock title %}
{% block step_content %}
    <h1>Wat zijn jouw taken?</h1>
    <p>Selecteer jouw taken. Je kunt dit altijd weer aanpassen in je instellingen.</p>
    <div data-onboarding-target="takenLijst" class="container__takenlijst">
        <div class="container__buttons">
            <button class="btn btn-textlink btn-inline"
                    data-action="onboarding#selectAll"
                    data-onboarding-filter-type-param="all">Selecteer alle taken</button>
            |
            <button class="btn btn-inline" data-action="onboarding#selectAll">Selecteer niets</button>
        </div>
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                <div class="list--form-check-input--tile-image">{{ form|render_rotterdam_formulier }}</div>
            {% endfor %}
        {% elif wizard.form %}
            {% for form in wizard.form %}
                <div class="list--form-check-input--tile-image">{{ form|render_rotterdam_formulier }}</div>
            {% endfor %}
        {% else %}
            <div class="list--form-check-input--tile-image">{{ wizard.form|render_rotterdam_formulier }}</div>
        {% endif %}
    </div>
{% endblock step_content %}
