{% extends "onboarding/multipart_form.html" %}
{% load rotterdam_formulier_html %}
{% block title %}
    Onboarding {{ wizard.steps.current }} | FixeR
{% endblock title %}
{% block step_content %}
    <h1>Wat zijn jouw taken?</h1>
    <p>Selecteer jouw taken. Je kunt dit altijd weer aanpassen in je instellingen.</p>
    <div data-controller="selectAll" class="container__takenlijst">
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}{{ form|render_rotterdam_formulier }}{% endfor %}
        {% elif wizard.form %}
            {% for form in wizard.form %}{{ form|render_rotterdam_formulier }}{% endfor %}
        {% else %}
            {{ wizard.form|render_rotterdam_formulier }}
        {% endif %}
    </div>
{% endblock step_content %}
