{% load webpack_static from webpack_loader %}
{% load multiply previous next from list_tags %}
{% load taakopdracht render_onderwerp get_bijlagen from melding_tags %}
{% load replace_comma_by_dot vind_in_dict from main_tags %}
{% load json_encode from main_tags %}
{% load mor_core_url mor_core_protected_url from main_tags %}
{% load context_template from context_tags %}
{% load get_gebruiker_object_middels_email get_taakgebeurtenis_voor_taakstatus from gebruikers_tags %}
{% get_bijlagen melding as bijlagen %}
{# djlint:off #}
<section class="section--seperated section--imageslider"
         data-testid="detailPhotoviewer"
         {% if bijlagen|length < 2 %}style="border: 0;"{% endif %}>
    <div class="full-width">
        {% if bijlagen %}
            <div class="container__imageslider"
                 data-taak-detail-target="imageSliderContainer"
                 data-action="scroll->taak-detail#onScrollSlider">
                <ul class="list-clean imageslider"
                    style="width: calc(100% * {{ bijlagen|length }})">
                    {% for bijlage in bijlagen %}
                        <li class="container__image"
                            style="position: relative"
                            id="{{ bijlage.afbeelding_relative_url|mor_core_protected_url }}"
                            data-taak-detail-target="image"
                            data-action="click->taak-detail#showImageInModal"
                            data-taak-detail-image-index-param="{{ forloop.counter|add:'-1' }}"
                            data-image-data="{{ bijlage|json_encode }}">
                            {% if bijlage.label %}
                                {% if bijlage.oorsprong != "melder" %}
                                <span class="tag--in-image">
                                    <span>{{ bijlage.label }}</span>
                                    {% if bijlage.bron_signaal_id %}
                                        <span class="sublabel">{{ bijlage.bron_id }} - {{ bijlage.bron_signaal_id }}</span>
                                    {% endif %}
                                </span>
                                {% endif %}
                            {% endif %}
                            <img {% if forloop.first %}src="{{ bijlage.afbeelding_relative_url|mor_core_protected_url }}"{% endif %} data-src="{{ bijlage.afbeelding_relative_url|mor_core_protected_url }}"
                                 class="image"
                                 alt="" />
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if bijlagen|length > 1 %}
                <div class="container__dots"
                    data-taak-detail-target="dotsContainer">
                    <ul data-taak-detail-target="dotList">
                        {% for foto in bijlagen %}
                            <li class="dot{% if forloop.first %} selected{% endif %}"></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if bijlagen|length > 1 %}
                <div class="container__thumbs"
                        data-taak-detail-target="imageSliderThumbContainer">
                    <ul data-taak-detail-target="thumbList">
                        {% for foto in bijlagen %}
                            <li data-action="click->taak-detail#selectImage"
                                data-taak-detail-image-index-param="{{ forloop.counter }}">
                                <div class="container__image">
                                    <img src="{{ foto.afbeelding_verkleind_relative_url|mor_core_protected_url }}"
                                            alt="" />
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="container__navigate-images">
                <div class="navigate-images--left inactive" data-taak-detail-target="navigateImagesLeft" data-action="click-&gt;taak-detail#showPreviousImageInModal">
                    <span aria-label="Bekijk vorige afbeelding">
                        {% include "icons/arrow-right-v2.svg" %}
                    </span>
                </div>
                <div class="navigate-images--right inactive" data-taak-detail-target="navigateImagesRight" data-action="click-&gt;taak-detail#showNextImageInModal">
                    <span aria-label="Bekijk volgende afbeelding">
                        {% include "icons/arrow-right-v2.svg" %}
                    </span>
                </div>
            </div>
        {% else %}
            <div class="no-image"
                 style="background-image: url('{% webpack_static 'icons/noimage.svg' %}')"></div>
        {% endif %}
    </div>
    {% if bijlagen %}
        {% include "icons/expand.svg" %}
    {% endif %}
</section>
{# djlint:on #}
