{% extends 'snippets/modal_context.html' %}
{% load webpack_static from webpack_loader %}
{% load to_date vind_in_dict from main_tags %}
{% load json_encode from main_tags %}
{% load context_template from context_tags %}
{% with incident_id=incident.id|stringformat:"s" %}

{% block before_modal_content %}

    <div
        class="list-item{% if form_submitted %} form-is-submitted{% endif %}{% if errors and warnings %} has-errors{% endif %}"
        {% if TEMPLATE_BASIS != "benc" and not taak.afgesloten_op %}
            data-controller="taak"
            data-action="formHandleIsConnected->taak#formHandleIsConnectedHandler cancelHandle->taak#cancelHandleHandler"
            data-taak-date-value="{{ incident.datumMelding }}"
            data-taak-days-value="{{ incident.werkdagenSindsRegistratie }}"
        {%endif%}>
        {% if TEMPLATE_BASIS != "benc" and not taak.afgesloten_op %}
        <button
            class="container__actions handle--no-success"
            data-id="{{ incident.id }}"
        >
            <div>
                <span>Niet opgelost</span>
            </div>
        </button>
        <button
            class="container__actions handle--success"
            data-id="{{ incident.id }}"
        >
            <div>
                <span>Afhandelen</span>
            </div>
        </button>
        {% endif %}
        <div class="wrapper__swipe">
            <div class="container__flex">
                <a href="{% url 'taak_detail' taak.id %}" data-turbo-frame="taak_basis" aria-label="Bekijk taak {{ taak.id }}">
                    <div class="container__image">

                        {% if taak.melding.response_json.bijlagen %}
                        {% with taak.melding.response_json.bijlagen|first as first_foto %}
                        <div class="background-image" style="background-image: url('{{ first_foto.afbeelding_verkleind_relative_url }}')"></div>
                        {% endwith %}
                        {% else %}
                            <div class="background-image" style="background-image: url('{% webpack_static 'icons/assets/icons/noimage.svg' %}'); background-size: 40%;"></div>
                        {% endif %}
                    </div>

                    <div class="container__info">
                        {% context_template "taak_lijst_item_titel.html" as title_template %}
                        {% include title_template %}
                    </div>
                </a>
            </div>
        </div>
{% endblock %}

{% block modal_header %}
<h1>
    <span>Taak behandelen</span><br>
    <small>{{ taak.titel }}</small>
</h1>
<button
    type="button"
    class="btn-close"
    aria-label="Sluit"
    data-action="taak#closeModal"
></button>
{% endblock %}

{% block modal_body %}
<turbo-frame
    id="incident_modal_handle_{{ taak.id }}"
    data-taak-target="turboFormHandler"
    data-src="{% url 'incident_modal_handle_part' taak.id %}"
>
</turbo-frame>
{% endblock %}

{% block after_modal_content %}
    </div>
{% endblock %}
{% endwith %}
