{% extends "base.html" %}
{% load webpack_static from webpack_loader %}
{% load multiply previous next from list_tags %}
{% load taakopdracht render_onderwerp get_bijlagen from melding_tags %}
{% load to_date replace_comma_by_dot vind_in_dict from main_tags %}
{% load json_encode from main_tags %}
{% load mor_core_url mor_core_protected_url from main_tags %}
{% load context_template from context_tags %}
{% load get_gebruiker_object_middels_email get_taakgebeurtenis_voor_taakstatus get_field_from_gebruiker_middels_email from gebruikers_tags %}
{% block title %}
    {% with melding=taak.melding.response_json %}
        {% with locatie=melding.locaties_voor_melding.0 %}
            Taak: {{ taak.titel }}, {{ locatie.straatnaam|lower|capfirst }}
            {% if locatie.huisnummer %}{{ locatie.huisnummer }}{% endif %}
        {% endwith %}
    {% endwith %}
{% endblock title %}
{% block extra_head %}
    {% if gebruiker_email %}
        {% with melding=taak.melding.response_json %}
            {% with locatie=melding.locaties_voor_melding.0 %}
                <meta property="og:title"
                      content="Taak: {{ taak.titel }}, {{ locatie.straatnaam|lower|capfirst }}{% if locatie.huisnummer %} {{ locatie.huisnummer }}{% endif %}" />
                <meta property="og:type" content="website" />
                <meta property="og:url"
                      content="{{ ABSOLUTE_ROOT }}{% url 'taak_detail_preview' taak.id signed_data %}" />
                <meta property="og:description"
                      content="Deze link is gedeeld door: {{ gebruiker_email }}" />
                {% get_bijlagen melding as bijlagen %}
                {% if bijlagen %}
                    <meta property="og:image"
                          content="{{ ABSOLUTE_ROOT }}{{ bijlagen.0.afbeelding_relative_url|mor_core_url:signed_data }}" />
                    <meta property="og:image:width" content="600" />
                    <meta property="og:image:height" content="600" />
                {% endif %}
            {% endwith %}
        {% endwith %}
    {% endif %}
{% endblock extra_head %}
{% block pageheader %}
{% endblock pageheader %}
{% block body %}
    <turbo-frame id="taak_basis">
    {% if not gebruiker_email %}
        <p>
            Deze link is verlopen.
            <br>
            <a href="{% url 'taak_detail' taak.id %}" data-turbo-action="replace">Terug naar de taak</a>
        </p>
    {% else %}
        {% with melding=taak.melding.response_json %}
            {% with locatie=melding.locaties_voor_melding.0 %}
                {% with geometrie=locatie.geometrie %}
                    <div>
                        <div data-controller="detail"
                             data-detail-taak-object-value="{{ taak }}"
                             data-detail-incident-y-value="{{ geometrie.coordinates.0|replace_comma_by_dot }}"
                             data-detail-incident-x-value="{{ geometrie.coordinates.1|replace_comma_by_dot }}"
                             data-detail-mercure-public-url-value="{{ APP_MERCURE_PUBLIC_URL }}"
                             {% if not DEBUG %}data-detail-mercure-subscriber-token-value="{{ MERCURE_SUBSCRIBER_TOKEN }}"{% endif %}
                             {% if taak.magAfhandelen %}class="has-sticky-footer"{% endif %}>
                            <div class="taak-detail taak-detail--preview">
                                <div class="container__header-taaknavigatie">
                                    <h1 class="h3">
                                        {{ locatie.straatnaam|lower|capfirst }}
                                        {% if locatie.huisnummer %}{{ locatie.huisnummer }}{% endif %}
                                        <span class="badge {% if taak.taakstatus.naam == 'nieuw' %}badge--darkblue {% elif taak.taakstatus.naam == 'toegewezen' %}badge--yellow {% else %}badge--green{% endif %}">{{ taak.taakstatus.naam|lower|capfirst }}
                                            {% if taak.additionele_informatie.uitvoerder %}aan {{ taak.additionele_informatie.uitvoerder }}{% endif %}
                                        </span>
                                    </h1>
                                    <div class="container__flex padding-bottom">
                                        <div>
                                            <span>{{ taak.titel }}</span>
                                            <br>
                                            <span class="lighter">
                                                <span data-detail-target="taakAfstand"
                                                      data-latitude="{{ geometrie.coordinates.1|replace_comma_by_dot }}"
                                                      data-longitude="{{ geometrie.coordinates.0|replace_comma_by_dot }}"></span> meter afstand
                                            </span>
                                        </div>
                                        {% if TEMPLATE_BASIS != "benc" %}
                                            <div class="textalign--right">
                                                {% if device_os == "ios" %}
                                                    <small>
                                                        <a class="link"
                                                           href="https://maps.apple.com/?saddr=''&daddr={{ geometrie.coordinates.1|replace_comma_by_dot }},{{ geometrie.coordinates.0|replace_comma_by_dot }}&z=10&"
                                                           target="_top"
                                                           aria-label="Navigeer naar taak"
                                                           data-detail-target="navigeerLink">
                                                            {% include "icons/navigate.svg" %}
                                                            Navigeren
                                                        </a>
                                                    </small>
                                                {% else %}
                                                    <a class="link"
                                                       data-action="detail#makeRoute"
                                                       data-detail-lat-param="{{ geometrie.coordinates.1|replace_comma_by_dot }}"
                                                       data-detail-long-param="{{ geometrie.coordinates.0|replace_comma_by_dot }}"
                                                       target="_top"
                                                       aria-label="Navigeer naar taak">
                                                        {% include "icons/navigate.svg" %}
                                                        Navigeren
                                                    </a>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% get_bijlagen melding as bijlagen %}
                                <section class="section--seperated"
                                         data-testid="detailPhotoviewer"
                                         {% if bijlagen|length < 2 %}style="border: 0;"{% endif %}>
                                    <div class="full-width">
                                        {% if bijlagen %}
                                            <div class="container__imageslider"
                                                 data-detail-target="imageSliderContainer"
                                                 data-action="scroll->detail#onScrollSlider">
                                                <ul class="list-clean imageslider"
                                                    style="width: calc(100% * {{ bijlagen|length }})">
                                                    {% for foto in bijlagen %}
                                                        <li class="container__image"
                                                            id="{{ foto.afbeelding_relative_url|mor_core_url:signed_data }}">
                                                            <img src="{{ foto.afbeelding_relative_url|mor_core_url:signed_data }}"
                                                                 alt=""
                                                                 data-detail-target="selectedImage"
                                                                 {% comment %}
                                                                 data-action="click->detail#openImageInPopup"
                                                                 {% endcomment %} />
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% if bijlagen|length > 1 %}
                                                <div class="container__thumbs">
                                                    <ul data-detail-target="thumbList">
                                                        {% for foto in bijlagen %}
                                                            <li data-action="click->detail#selectImage"
                                                                data-detail-image-index-param="{{ forloop.counter }}">
                                                                <div class="container__image">
                                                                    <img src="{{ foto.afbeelding_verkleind_relative_url|mor_core_url:signed_data }}"
                                                                         alt="" />
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="no-image"
                                                 style="background-image: url('{% webpack_static 'icons/noimage.svg' %}')">
                                            </div>
                                        {% endif %}
                                    </div>
                                </section>
                                <section class="padding-bottom-2x">
                                    <h2>
                                        <svg width="20"
                                             height="26"
                                             viewBox="0 0 20 26"
                                             fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.6349 3.61281C16.709 2.48342 15.544 1.57355 14.224 0.948802C12.9039 0.324055 11.4617 0 10.0013 0C8.54084 0 7.09861 0.324055 5.77856 0.948802C4.4585 1.57355 3.29352 2.48342 2.3676 3.61281C0.837677 5.46838 0.000976563 7.79842 0.000976562 10.2034C0.000976563 12.6083 0.837677 14.9384 2.3676 16.7939L10.0013 26.0002L17.6361 16.7939C19.1652 14.938 20.0013 12.608 20.0011 10.2032C20.0009 7.79839 19.1644 5.46853 17.6349 3.61281ZM10.0001 13.9988C9.11016 13.9988 8.24017 13.7348 7.50017 13.2404C6.76018 12.746 6.18343 12.0432 5.84285 11.2209C5.50227 10.3987 5.41316 9.49394 5.58678 8.62106C5.76041 7.74818 6.18898 6.94639 6.81829 6.31708C7.4476 5.68777 8.24939 5.2592 9.12227 5.08557C9.99515 4.91195 10.8999 5.00106 11.7222 5.34164C12.5444 5.68222 13.2472 6.25897 13.7416 6.99897C14.2361 7.73896 14.5 8.60895 14.5 9.49893C14.5 10.6925 14.0259 11.8371 13.1821 12.6812C12.3382 13.5252 11.1937 13.9996 10.0001 13.9999V13.9988Z" fill="#00811F" />
                                        </svg>
                                        Locatie
                                    </h2>
                                    {% if TEMPLATE_BASIS != "benc" %}
                                        <div class="container__details taak">
                                            <h3 class="h5">Ter hoogte van</h3>
                                            <p>
                                                {{ locatie.straatnaam|lower|capfirst }}
                                                {% if locatie.huisnummer %}
                                                    {{ locatie.huisnummer }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="container__details taak">
                                            {% if locatie.wijknaam %}
                                                <div>
                                                    <h3 class="h5">Wijk</h3>
                                                    <p>{{ locatie.wijknaam }}</p>
                                                </div>
                                            {% endif %}
                                            {% if locatie.buurtnaam %}
                                                <div>
                                                    <h3 class="h5">Buurt</h3>
                                                    <p>{{ locatie.buurtnaam }}</p>
                                                </div>
                                            {% endif %}
                                            {% if taak.locatie.subbuurt %}
                                                <div>
                                                    <dt>Subbuurt:</dt>
                                                    <dd>
                                                        {{ taak.locatie.subbuurt }}
                                                    </dd>
                                                </div>
                                            {% endif %}
                                            {% if taak.locatie.plaatsbepaling %}
                                                <div>
                                                    <dt>Plaatsbepaling:</dt>
                                                    <dd>
                                                        {{ taak.locatie.plaatsbepaling }}
                                                    </dd>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="container__map full-width">
                                            <div class="map map--single"
                                                 id="incidentMap"
                                                 data-action="touchstart->detail#onTwoFingerDrag touchend->detail#onTwoFingerDrag">
                                                <div class="map__overlay">
                                                    <span>Gebruik twee vingers om de kaart te verplaatsen</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="container__details taak">
                                            <h3 class="h5">Begraafplaats</h3>
                                            <p>
                                                {% vind_in_dict melding.signalen_voor_melding.0.meta_uitgebreid.begraafplaats.choices locatie.begraafplaats as signaal_begraafplaats_naam %}
                                                {% if signaal_begraafplaats_naam == locatie.begraafplaats %}
                                                    {% vind_in_dict melding.meta_uitgebreid.begraafplaats.choices locatie.begraafplaats %}
                                                {% else %}
                                                    {{ signaal_begraafplaats_naam }}
                                                {% endif %}
                                            </p>
                                            {% if locatie.grafnummer %}
                                                <h3 class="h5">Grafnummer</h3>
                                                <p>{{ locatie.grafnummer }}</p>
                                            {% endif %}
                                            {% if locatie.vak %}
                                                <h3 class="h5">Vak</h3>
                                                <p>{{ locatie.vak }}</p>
                                            {% endif %}
                                            {% if melding.signalen_voor_melding.0.meta.naam_overledene %}
                                                <h3 class="h5">Naam overledene</h3>
                                                <p>{{ melding.signalen_voor_melding.0.meta.naam_overledene }}</p>
                                            {% elif melding.meta.naam_overledene %}
                                                <h3 class="h5">Naam overledene</h3>
                                                <p>{{ melding.meta.naam_overledene }}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </section>
                                <section class="padding-bottom-2x">
                                    <p>
                                        Deze link is gedeeld door <a href="mailto:{{ gebruiker_email }}">{{ gebruiker_email }}</a>
                                    </p>
                                    {% include "incident/part_gebruiker_telefoon.html" with gebruiker=gebruiker_email|get_gebruiker_object_middels_email %}
                                    <p>
                                        <a href="{% url 'taak_detail' taak.id %}" data-turbo-action="replace">Naar orginele taak</a>
                                    </p>
                                </section>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endwith %}
        {% endwith %}
    {% endif %}
    </turbo-frame>
{% endblock body %}
