{% load webpack_static from webpack_loader %}
{% load multiply previous next from list_tags %}
{% load render_onderwerp get_bijlagen from melding_tags %}
{% load replace_comma_by_dot vind_in_dict from main_tags %}
{% load json_encode from main_tags %}
{% load mor_core_url mor_core_protected_url from main_tags %}
{% load context_template from context_tags %}
{% load webpack_static from webpack_loader %}
{% load get_gebruiker_object_middels_email get_taakgebeurtenis_voor_taakstatus from gebruikers_tags %}
<section class="section--description">
    <h2 class="h3">{{ taak.titel }}</h2>
    <div class="container__flex">
        <button class="btn btn-textlink btn-info"
                data-action="infosheet#openInfosheet"
                data-infosheet-action-param="{% url 'taaktype_taakr' taak.taaktype.id %}">
            Taakuitleg
            {% include "icons/info.svg" %}
        </button>
        <div>
            <span class="badge {% if taak.taakstatus.naam == 'nieuw' %}badge--darkblue {% elif taak.taakstatus.naam == 'toegewezen' %}badge--yellow {% else %}badge--green{% endif %}">{{ taak.taakstatus.naam|lower|capfirst }}
                {% if taak.additionele_informatie.uitvoerder %}aan {{ taak.additionele_informatie.uitvoerder }}{% endif %}
            </span>
        </div>
    </div>
</section>
<div class="container__flex">
    <!-- <div>
        <button class="btn btn-textlink btn-info" data-action="infosheet#openInfosheet" data-infosheet-action-param="{% url 'taaktype_taakr' taak.taaktype.id %}">

            Taakuitleg {% include "icons/info.svg" %}
        </button>
        {% if taak.melding.locatie_type == "adres" %}
            <br>
            <span class="lighter">
                <span data-taak-detail-target="taakAfstand"></span>
            </span>
        {% endif %}
    </div> -->
    <div class="textalign--right">
        {% if taak.melding.locatie_type %}
            {% if geometrie %}
                <a class="link link--navigate"
                   href="#"
                   data-action="modal#openModal"
                   data-modal-action-param="{% url 'navigeer' geometrie.1|replace_comma_by_dot geometrie.0|replace_comma_by_dot %}">
                    {% include "icons/navigate.svg" %}
                </a>
            {% endif %}
        {% endif %}
        {% if perms.authorisatie.taak_delen and not taak.afgesloten_op %}
            <a class="link--whatsapp"
               href="{% url 'taak_delen' taak.uuid %}"
               target="_blank">{% include "icons/whatsapp.svg" %}</a>
        {% endif %}
    </div>
</div>
