{% extends "base_modal_context.html" %}
{% load humanize %}
{% load webpack_static from webpack_loader %}
{% load multiply previous next from list_tags %}
{% load taakopdracht render_onderwerp get_bijlagen from melding_tags %}
{% load replace_comma_by_dot vind_in_dict from main_tags %}
{% load json_encode from main_tags %}
{% load mor_core_url mor_core_protected_url from main_tags %}
{% load context_template from context_tags %}
{% load get_gebruiker_object_middels_email get_taakgebeurtenis_voor_taakstatus get_field_from_gebruiker_middels_email from gebruikers_tags %}
{% block title %}
    Taak: {{ taak.titel }}, {{ taak.melding.locatie_verbose }}
    | FixeR
{% endblock title %}
{% block extra_head %}
    {% if link_actief %}
        {% with melding=taak.melding.response_json %}
            <meta property="og:title"
                  content="Taak: {{ taak.titel }}, {{ taak.melding.locatie_verbose }}" />
            <meta property="og:type" content="website" />
            <meta property="og:url"
                  content="{{ ABSOLUTE_ROOT }}{% url 'taak_detail_preview' taak.uuid signed_data %}" />
            <meta property="og:description"
                  content="Deze link verloopt over {{ taak_gedeeld.actief.1|naturaltime }}, gedeeld door: {{ gebruiker_email }}" />
            {% get_bijlagen melding as bijlagen %}
            {% if bijlagen %}
                <meta property="og:image"
                      content="{{ ABSOLUTE_ROOT }}{{ bijlagen.0.afbeelding_relative_url|mor_core_url:signed_data }}" />
                <meta property="og:image:width" content="600" />
                <meta property="og:image:height" content="600" />
            {% endif %}
        {% endwith %}
    {% endif %}
{% endblock extra_head %}
{% block pageheader %}
{% endblock pageheader %}
{% block before_modal_content %}
    <turbo-frame id="taak_basis">
    {% if not link_actief %}
        <p>
            Deze link is verlopen.
            <br>
            <a href="{% url 'taak_detail' taak.uuid %}" target="_top">Terug naar de taak</a>
        </p>
    {% else %}
        {% with melding=taak.melding.response_json %}
            {% with geometrie=taak.melding.geometrie %}
                <div data-controller="modal">
                    {% get_bijlagen melding as bijlagen %}
                    <div data-controller="detail"
                         data-detail-afbeeldingen-value="{{ bijlagen|json_encode }}"
                         data-detail-url-prefix-value="{{ MOR_CORE_URL_PREFIX }}"
                         data-detail-signed-data-value="{{ signed_data }}"
                         data-detail-taak-object-value="{{ taak }}"
                         data-detail-incident-y-value="{{ geometrie.0|replace_comma_by_dot }}"
                         data-detail-incident-x-value="{{ geometrie.1|replace_comma_by_dot }}"
                         data-detail-mercure-public-url-value="{{ APP_MERCURE_PUBLIC_URL }}"
                         {% if not DEBUG %}data-detail-mercure-subscriber-token-value="{{ MERCURE_SUBSCRIBER_TOKEN }}"{% endif %}
                         {% if taak.magAfhandelen %}class="has-sticky-footer"{% endif %}>
                        <div class="taak-detail taak-detail--preview">
                            <div class="container__header-taaknavigatie">
                                <span>Deze link verloopt over {{ taak_gedeeld.actief.1|naturaltime }}</span>
                                <h1 class="h3">
                                    {{ taak.melding.locatie_verbose }}
                                    <span class="badge {% if taak.taakstatus.naam == 'nieuw' %}badge--darkblue {% elif taak.taakstatus.naam == 'toegewezen' %}badge--yellow {% else %}badge--green{% endif %}">{{ taak.taakstatus.naam|lower|capfirst }}
                                        {% if taak.additionele_informatie.uitvoerder %}aan {{ taak.additionele_informatie.uitvoerder }}{% endif %}
                                    </span>
                                </h1>
                                <div class="container__flex padding-bottom">
                                    <div>
                                        <span>{{ taak.titel }}</span>
                                        <br>
                                        <span class="lighter">
                                            <span data-detail-target="taakAfstand"
                                                  data-latitude="{{ geometrie.1|replace_comma_by_dot }}"
                                                  data-longitude="{{ geometrie.0|replace_comma_by_dot }}"></span> meter afstand
                                        </span>
                                    </div>
                                    {% if geometrie %}
                                        <div class="textalign--right">
                                            <a class="link link--navigate"
                                               href="#"
                                               data-modal-title-param="Navigeren"
                                               data-modal-url-param="{% url 'navigeer' geometrie.1|replace_comma_by_dot geometrie.0|replace_comma_by_dot %}"
                                               data-modal-id-param="navigeer"
                                               data-action="modal#openModal">
                                                {% include "icons/navigate.svg" %}
                                                Navigeren
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <section class="section--seperated section--imageslider"
                                     data-testid="detailPhotoviewer"
                                     {% if bijlagen|length < 2 %}style="border: 0;"{% endif %}>
                                <div class="full-width">
                                    {% if bijlagen %}
                                        <div class="container__imageslider"
                                             data-detail-target="imageSliderContainer"
                                             data-action="scroll->detail#onScrollSlider">
                                            <ul class="list-clean imageslider"
                                                style="width: calc(100% * {{ bijlagen|length }})">
                                                {% for foto in bijlagen %}
                                                    <li class="container__image"
                                                        id="{{ foto.afbeelding_relative_url|mor_core_url:signed_data }}"
                                                        data-action="click->detail#showImageInModal"
                                                        data-detail-image-index-param="{{ forloop.counter|add:'-1' }}">
                                                        <img src="{{ foto.afbeelding_relative_url|mor_core_url:signed_data }}"
                                                             class="image"
                                                             alt="" />
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% if bijlagen|length > 1 %}
                                            <div class="container__thumbs">
                                                <ul data-detail-target="thumbList">
                                                    {% for foto in bijlagen %}
                                                        <li data-action="click->detail#selectImage"
                                                            data-detail-image-index-param="{{ forloop.counter }}">
                                                            <div class="container__image">
                                                                <img src="{{ foto.afbeelding_verkleind_relative_url|mor_core_url:signed_data }}"
                                                                     alt="" />
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="no-image"
                                             style="background-image: url('{% webpack_static 'icons/noimage.svg' %}')">
                                        </div>
                                    {% endif %}
                                </div>
                                {% include "icons/expand.svg" %}
                            </section>
                            <section class="padding-bottom-2x">
                                <h2>
                                    {% include "icons/pin-filled.svg" %}
                                    Locatie
                                </h2>
                                <div class="container__details taak">
                                    <h3 class="h5">
                                        {% if taak.melding.locatie_type == "adres" %}
                                            Ter hoogte van
                                        {% elif taak.melding.locatie_type == "graf" %}
                                            Begraafplaats
                                        {% endif %}
                                    </h3>
                                    <p>{{ taak.melding.locatie_verbose }}</p>
                                </div>
                                <div class="container__details taak">
                                    {% if taak.melding.wijknaam %}
                                        <div>
                                            <h3 class="h5">Wijk</h3>
                                            <p>{{ taak.melding.wijknaam }}</p>
                                        </div>
                                    {% endif %}
                                    {% if taak.melding.buurtnaam %}
                                        <div>
                                            <h3 class="h5">Buurt</h3>
                                            <p>{{ taak.melding.buurtnaam }}</p>
                                        </div>
                                    {% endif %}
                                    {% if taak.melding.grafnummer %}
                                        <h3 class="h5">Grafnummer</h3>
                                        <p>{{ taak.melding.grafnummer }}</p>
                                    {% endif %}
                                    {% if taak.melding.vak %}
                                        <h3 class="h5">Vak</h3>
                                        <p>{{ taak.melding.vak }}</p>
                                    {% endif %}
                                    {% if melding.signalen_voor_melding.0.meta.naam_overledene %}
                                        <h3 class="h5">Naam overledene</h3>
                                        <p>{{ melding.signalen_voor_melding.0.meta.naam_overledene }}</p>
                                    {% elif melding.meta.naam_overledene %}
                                        <h3 class="h5">Naam overledene</h3>
                                        <p>{{ melding.meta.naam_overledene }}</p>
                                    {% endif %}
                                </div>
                                {% if taak.melding.geometrie %}
                                    <div class="container__map full-width">
                                        <div class="map map--single"
                                             id="taken_kaart"
                                             data-action="touchstart->detail#onTwoFingerDrag touchend->detail#onTwoFingerDrag">
                                            <div class="map__overlay">
                                                <span>Gebruik twee vingers om de kaart te verplaatsen</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </section>
                            <section class="padding-bottom-2x">
                                <p>
                                    Deze link is gedeeld door <a href="mailto:{{ gebruiker_email }}">{{ gebruiker_email }}</a>
                                </p>
                                {% include "incident/part_gebruiker_telefoon.html" with gebruiker=gebruiker_email|get_gebruiker_object_middels_email %}
                                <p>
                                    <a href="{% url 'taak_detail' taak.uuid %}" target="_top">Naar orginele taak</a>
                                </p>
                            </section>
                        </div>
                        {% include "snippets/modal_images.html" %}
                    </div>
                {% endwith %}
            {% endwith %}
        {% endif %}
    {% endblock before_modal_content %}
    {% block after_modal_content %}
    </div>
    </turbo-frame>
{% endblock after_modal_content %}
