{% load webpack_static from webpack_loader %}
{% load multiply previous next from list_tags %}
{% load taakopdracht render_onderwerp get_bijlagen from melding_tags %}
{% load to_datetime replace_comma_by_dot vind_in_dict from main_tags %}
{% load json_encode replace_n python_any from main_tags %}
{% load mor_core_url mor_core_protected_url from main_tags %}
{% load context_template from context_tags %}
{% load get_gebruiker_object_middels_email get_taakgebeurtenis_voor_taakstatus get_laatste_taakgebeurtenis from gebruikers_tags %}
<section data-testid="detailTaak" class="padding-bottom">
    <div class="container__details taak">
        <details>
            <summary>
                <h2>
                    {% include "icons/checkmark.svg" with svg_fill="#00811F" svg_width="20" svg_height="17" %}
                    Taak
                    {% if taak.spoed %}<span><span class="icon icon--warning">Spoed</span></span>{% endif %}
                </h2>
            </summary>
            <div class="container__flex">
                {% if taak.melding.locatie_type == "adres" %}
                    <div>
                        <h3 class="h5">MeldR-nummer</h3>
                        <p class="no-margin">
                            {% if melding.signalen_voor_melding.0.bron_signaal_id != None %}
                                {{ melding.signalen_voor_melding.0.bron_signaal_id }}
                            {% else %}
                                Onbekend
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
                <div>
                    {% if taak.uuid %}
                        <h3 class="h5">Taaknummer</h3>
                        <p>{{ taak.uuid }}</p>
                    {% endif %}
                </div>
            </div>
            {% if taak.titel %}
                <h3 class="h5">Omschrijving</h3>
                <button class="btn btn-textlink btn-info"
                        data-action="infosheet#openInfosheet"
                        data-infosheet-action-param="{% url 'taaktype_taakr' taak.taaktype.id %}">
                    {{ taak.titel }}
                    {% include "icons/info.svg" %}
                </button>
            {% endif %}
            {% if taak.bericht %}
                <h3 class="h5">Interne opmerking</h3>
                <p>{{ taak.bericht }}</p>
            {% endif %}
            {% if taak.aangemaakt_op %}
                <h3 class="h5">Aangemaakt</h3>
                <p>
                    {{ taak.aangemaakt_op|to_datetime|date:'d-m-Y H:i' }}
                    <br>
                    {% comment %} {% with taakgebeurtenis=taak.taakgebeurtenissen_voor_taak|get_taakgebeurtenis_voor_taakstatus:'nieuw' %} {% endcomment %}
                    {% include "snippets/gebruiker_telefoon.html" with gebruiker=taak.eerste_taakgebeurtenis_gebruiker %}
                    {% comment %} {% endwith %} {% endcomment %}
                </p>
            {% endif %}
            {% if taak.afgesloten_op %}
                <h3 class="h5">Afgesloten</h3>
                <p>
                    {{ taak.afgesloten_op|to_datetime|date:'d-m-Y H:i' }}
                    <br>
                    {% comment %} {% with taakgebeurtenis=taak.taakgebeurtenissen_voor_taak|get_laatste_taakgebeurtenis %} {% endcomment %}
                    {% include "snippets/gebruiker_telefoon.html" with gebruiker=taak.laatste_taakgebeurtenis_gebruiker %}
                    {% comment %} {% endwith %} {% endcomment %}
                </p>
            {% endif %}
            {% if taak.taakstatus %}
                <h3 class="h5">Status</h3>
                <p>{{ taak.taakstatus.naam }}</p>
            {% endif %}
            {% if taak.resolutie %}
                <h3 class="h5">Resolutie</h3>
                <p>{{ taak.resolutie }}</p>
            {% endif %}
            <h3 class="h5">Gedeeld</h3>
            <p>
                Gedeeld via WhatsApp: {{ taakdeellinks|length }}
                <br>
                Bezocht via WhatsApp: {{ taakdeellinks_bezoekers|length }}
            </p>
        </details>
        <details data-action="toggle->detail#toggleDetailLocatie">
            <summary>
                <h2>
                    {% include "icons/pin-filled.svg" %}
                    Locatie
                </h2>
            </summary>
            <div>
                <h3 class="h5">
                    {% if taak.melding.locatie_type == "adres" %}
                        Ter hoogte van
                    {% elif taak.melding.locatie_type == "graf" %}
                        Begraafplaats
                    {% endif %}
                </h3>
                <p>{{ taak.melding.locatie_verbose }}</p>
                {% if geometrie %}
                    <a class="link link--navigate"
                       href="#"
                       data-modal-title-param="Navigeren"
                       data-modal-url-param="{% url 'navigeer' geometrie.1|replace_comma_by_dot geometrie.0|replace_comma_by_dot %}"
                       data-modal-id-param="navigeer"
                       data-action="modal#openModal">
                        {% include "icons/navigate.svg" %}
                        Navigeren
                    </a>
                {% endif %}
            </div>
            <div>
                {% if taak.melding.wijknaam %}
                    <div>
                        <h3 class="h5">Wijk</h3>
                        <p>{{ taak.melding.wijknaam }}</p>
                    </div>
                {% endif %}
                {% if taak.melding.buurtnaam %}
                    <div>
                        <h3 class="h5">Buurt</h3>
                        <p>{{ taak.melding.buurtnaam }}</p>
                    </div>
                {% endif %}
                {% if taak.melding.grafnummer %}
                    <h3 class="h5">Grafnummer</h3>
                    <p>{{ taak.melding.grafnummer }}</p>
                {% endif %}
                {% if taak.melding.vak %}
                    <h3 class="h5">Vak</h3>
                    <p>{{ taak.melding.vak }}</p>
                {% endif %}
                {% if melding.signalen_voor_melding.0.meta.naam_overledene %}
                    <h3 class="h5">Naam overledene</h3>
                    <p>{{ melding.signalen_voor_melding.0.meta.naam_overledene }}</p>
                {% elif melding.meta.naam_overledene %}
                    <h3 class="h5">Naam overledene</h3>
                    <p>{{ melding.meta.naam_overledene }}</p>
                {% endif %}
            </div>
            {% if geometrie %}
                <div class="locatie-container">
                    <label for="egd_id">
                        <input id="egd_id"
                               type="checkbox"
                               data-taak-detail-map-layer-type-param="EGD"
                               data-action="taak-detail#onMapLayerChange" />
                        Toon EGD-kaartlaag
                    </label>
                    <div class="container__uitklapper">
                        <span>{% include "icons/info.svg" %}</span>
                        <div class="legenda">
                            <ul class="list-clean">
                                <li>
                                    <span class="legenda-item openbaar"></span>
                                    <span>Openbaar</span>
                                </li>
                                <li>
                                    <span class="legenda-item ret"></span>
                                    <span>RET</span>
                                </li>
                                <li>
                                    <span class="legenda-item kunst"></span>
                                    <span>Civiele kunstwerken</span>
                                </li>
                                <li>
                                    <span class="legenda-item begraafplaats"></span>
                                    <span>Begraafplaatsen</span>
                                </li>
                                <li>
                                    <span class="legenda-item aquisitie"></span>
                                    <span>Aquisitie</span>
                                </li>
                                <li>
                                    <span class="legenda-item vastgoed"></span>
                                    <span>Vastgoed</span>
                                </li>
                                <li>
                                    <span class="legenda-item"></span>
                                    <span>Overig</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container__map full-width">
                    <div class="map map--single"
                         id="taken_kaart"
                         data-action="touchstart->detail#onTwoFingerDrag touchend->detail#onTwoFingerDrag">
                        <div class="map__overlay">
                            <span>Gebruik twee vingers om de kaart te verplaatsen</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </details>
        <details>
            <summary>
                <h2>
                    {% include "icons/melding.svg" %}
                    Melding
                </h2>
            </summary>
            <div class="container__flex">
                {% if taak.melding.locatie_type == "adres" %}
                    <div>
                        <h3 class="h5">MeldR-nummer</h3>
                        <p class="no-margin">
                            {% if melding.signalen_voor_melding.0.bron_signaal_id != None %}
                                {{ melding.signalen_voor_melding.0.bron_signaal_id }}
                            {% else %}
                                Onbekend
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
                <div>
                    <h3 class="h5">Meldingnummer</h3>
                    <p class="no-margin">
                        {% if melding.uuid %}
                            {{ melding.uuid }}
                        {% else %}
                            Onbekend
                        {% endif %}
                    </p>
                </div>
            </div>
            <small>
                {% if melding.signalen_voor_melding|length > 1 %}
                    <strong>Bestaand uit de samengevoegde meldingen:</strong>
                    <br>
                    {% for signaal in melding.signalen_voor_melding %}
                        {% if signaal.bron_signaal_id %}
                            {% if not forloop.last %}
                                {{ signaal.bron_signaal_id }},
                            {% else %}
                                {{ signaal.bron_signaal_id }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </small>
            <h3 class="h5">Ingediend</h3>
            <p>{{ melding.aangemaakt_op|to_datetime|date:'d-m-Y H:i' }}</p>
            {% if melding.meta.aannemer %}
                <h3 class="h5">Aangenomen door</h3>
                <p>{{ melding.meta.aannemer }}</p>
            {% endif %}
            {% if melding.onderwerpen %}
                <h3 class="h5">Onderwerp</h3>
                <p>
                    {% for onderwerp in melding.onderwerpen %}
                        {% render_onderwerp onderwerp %}
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if melding.signalen_voor_melding.0.omschrijving_melder and melding.signalen_voor_melding.0.omschrijving_melder != "- geen korte omschrijving beschikbaar -" %}
                <h3 class="h5">Omschrijving</h3>
                <p>{{ melding.signalen_voor_melding.0.omschrijving_melder }}</p>
            {% elif melding.meta.omschrijvingField and melding.meta.omschrijvingField != "- geen korte omschrijving beschikbaar -" %}
                <h3 class="h5">Omschrijving</h3>
                <p>{{ melding.meta.omschrijvingField }}</p>
            {% endif %}
            {% with aanvullende_vragen=melding.signalen_voor_melding.0.aanvullende_vragen %}
                {% if aanvullende_vragen and melding.signalen_voor_melding.0.aanvullende_vragen %}
                    {% for qa in aanvullende_vragen %}
                        {% if qa.answers|python_any %}
                            <h3 class="h5">{{ qa.question }}</h3>
                            <p>
                                {% for answer in qa.answers %}
                                    {{ answer }}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endfor %}
                {% elif melding.signalen_voor_melding.0.aanvullende_informatie %}
                    <h3 class="h5">Aanvullende informatie</h3>
                    <p>{{ melding.signalen_voor_melding.0.aanvullende_informatie|replace_n|safe }}</p>
                {% elif melding.meta.aanvullendeInformatieField %}
                    <h3 class="h5">Aanvullende informatie</h3>
                    <p>{{ melding.meta.aanvullendeInformatieField|replace_n|safe }}</p>
                {% endif %}
            {% endwith %}
            {% if melding.afdeling.omschrijving %}
                <h3 class="h5">Afdeling</h3>
                <p>
                    {{ melding.afdeling.omschrijving }}
                    {{ melding.afdeling.omschrijving }}
                </p>
            {% endif %}
            <h3 class="h5">Met spoed oppakken</h3>
            <p>
                {% if melding.urgentie >= 0.5 %}
                    Ja
                {% else %}
                    Nee
                {% endif %}
            </p>
        </details>
        {% if perms.authorisatie.melder_gegevens_bekijken %}
            <details class="details--melder">
                <summary>
                    <h2>
                        {% include "icons/person.svg" with width="23" height="26" %}
                        Melder
                    </h2>
                </summary>
                {% if melding.signalen_voor_melding|length > 0 %}
                    {% for signaal in melding.signalen_voor_melding %}
                        <div class="margin-bottom">
                            {% if signaal.melder.naam %}
                                <p data-testid="Melder_naam">{{ signaal.melder.naam }}</p>
                            {% else %}
                                <p>
                                    <small data-testid="Naam_anon">Geen naam opgegeven</small>
                                </p>
                            {% endif %}
                            {% if signaal.melder.telefoonnummer and signaal.melder.telefoonnummer != "Anoniem" %}
                                <p>
                                    <a href="tel:{{ signaal.melder.telefoonnummer }}"
                                       target="_blank"
                                       class="link link--phone"
                                       data-testid="Melder_tel">
                                        {% include "icons/phone.svg" %}
                                        {{ signaal.melder.telefoonnummer }}
                                    </a>
                                </p>
                            {% else %}
                                <p>
                                    <small data-testid="Tel_anon">Geen telefoonnummer opgegeven</small>
                                </p>
                            {% endif %}
                            {% if signaal.melder.email %}
                                <p>
                                    <a href="mailto:{{ signaal.melder.email }}"
                                       target="_blank"
                                       class="link link--email"
                                       data-testid="Melder_email">
                                        {% include "icons/email.svg" with width="20" height="16" %}
                                        {{ signaal.melder.email }}
                                    </a>
                                </p>
                            {% else %}
                                <p>
                                    <small data-testid="Email_anon">Geen e-mailadres opgegeven</small>
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>
                        <small>Geen gegevens bekend</small>
                    </p>
                {% endif %}
            </details>
        {% endif %}
        <details>
            <summary>
                <h2>
                    {% include "icons/history.svg" %}
                    Tijdlijn
                </h2>
            </summary>
            <turbo-frame id="taak_detail_melding_tijdlijn" src="{% url 'taak_detail_melding_tijdlijn' taak.uuid %}" loading="lazy">
            </turbo-frame>
        </details>
    </div>
</section>
