{% extends "base_modal_context.html" %}
{% load webpack_static from webpack_loader %}
{% load multiply previous next from list_tags %}
{% load taakopdracht render_onderwerp get_bijlagen from melding_tags %}
{% load replace_comma_by_dot vind_in_dict from main_tags %}
{% load json_encode from main_tags %}
{% load mor_core_url mor_core_protected_url from main_tags %}
{% load get_gebruiker_object_middels_email get_taakgebeurtenis_voor_taakstatus from gebruikers_tags %}
{% block title %}
    {{ taak.locatie_verbose }} | FixeR
{% endblock title %}
{% block before_modal_content %}
    <turbo-frame id="taak_basis">
    {% with melding=taak.melding.response_json %}
        {% with geometrie=taak.melding.geometrie %}
            <div data-controller="modal">
                <div>
                    <div>
                        <a href="{% url 'taken_overzicht' %}"
                           data-turbo-action="advance"
                           class="link--back"
                           aria-label="Terug">{% include "icons/arrow-long.svg" %}</a>
                    </div>
                    {% get_bijlagen melding as bijlagen %}
                    <div data-controller="detail"
                         data-detail-afbeeldingen-value="{{ bijlagen|json_encode }}"
                         data-detail-url-prefix-value="{{ MOR_CORE_PROTECTED_URL_PREFIX }}"
                         data-detail-taak-object-value="{{ taak }}"
                         data-detail-incident-y-value="{{ geometrie.x|replace_comma_by_dot }}"
                         data-detail-incident-x-value="{{ geometrie.y|replace_comma_by_dot }}"
                         data-detail-mercure-public-url-value="{{ APP_MERCURE_PUBLIC_URL }}"
                         {% if not DEBUG %}data-detail-mercure-subscriber-token-value="{{ MERCURE_SUBSCRIBER_TOKEN }}"{% endif %}
                         {% if taak.magAfhandelen %}class="has-sticky-footer"{% endif %}>
                        <div class="taak-detail">
                            <div class="container__header-taaknavigatie">
                                {% include "taken/taak_detail_header.html" %}
                                {% include "taken/taak_detail_images.html" %}
                                {% include "taken/taak_detail_foldouts.html" %}
                                {% include "taken/taak_detail_buttons.html" %}
                            </div>
                        </div>
                        {% include "snippets/modal_images.html" %}
                    </div>
                </div>
            {% endwith %}
        {% endwith %}
    {% endblock before_modal_content %}
    {% block after_modal_content %}
    </div>
    </turbo-frame>
{% endblock after_modal_content %}
