{% load context_template from context_tags %}
{% context_template "taak_afhandelen_subtitel.html" as subtitel_template %}
<section class="section--seperated section--seperated__no-border-bottom"
         data-testid="detailActions">
    <div class="container__details container__details--sticky-bottom">
        {% if not taak.afgesloten_op %}
            <div class="sticky sticky--bottom">
                <div class="form-row">
                    <button class="btn btn-action"
                            data-modal-title-param="Taak afhandelen"
                            data-modal-url-param="{% url 'incident_modal_handle_part' taak.id %}"
                            data-modal-id-param="incident_modal_handle_{{ taak.id }}"
                            data-action="modal#openModal"
                            data-modal-sub-title-param="{% include subtitel_template with subtitel=taak.titel %}">
                        Taak afhandelen
                    </button>
                    {% if taak.taakstatus.naam == "openstaand" or taak.taakstatus.naam == "nieuw" and perms.authorisatie.taak_toewijzen %}
                        <button class="btn btn-tertiary"
                                data-modal-title-param="Toewijzen"
                                data-modal-sub-title-param="{% include subtitel_template with subtitel=taak.titel %}"
                                data-modal-url-param="{% url 'taak_toewijzen' taak.id %}"
                                data-modal-id-param="taak_toewijzen"
                                data-action="modal#openModal">Toewijzen</button>
                    {% elif taak.taakstatus.naam == "toegewezen" and perms.authorisatie.taak_toewijzing_intrekken %}
                        <button class="btn btn-tertiary"
                                data-id="{{ taak.id }}"
                                data-modal-title-param="Toewijzing intrekken"
                                data-modal-sub-title-param="{% include subtitel_template with subtitel=taak.titel %}"
                                data-modal-url-param="{% url 'taak_toewijzing_intrekken' taak.id %}"
                                data-modal-id-param="taak_toewijzing_intrekken"
                                data-action="modal#openModal">Toewijzing intrekken</button>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
