{% load context_template from context_tags %}
<section class="section--seperated section--seperated__no-border-bottom"
         data-testid="detailActions">
    <div class="container__details container__details--sticky-bottom">
        {% if not taak.afgesloten_op %}
            <div class="sticky sticky--bottom">
                <div class="form-row">
                    <button data-taak-detail-target="btnToTop"
                            data-action="taak-detail#scrollToTop"
                            class="btn btn-to-top">{% include "icons/arrow-double.svg" %}</button>
                    <button class="btn btn-action"
                            data-action="modal#openModal"
                            data-modal-action-param="{% url 'taak_afhandelen' taak.uuid %}?resolutie=niet_opgelost">
                        Taak afhandelen
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
</section>
