{% load webpack_static from webpack_loader %}
{% load multiply previous next from list_tags %}
{% load render_onderwerp get_bijlagen from melding_tags %}
{% load replace_comma_by_dot vind_in_dict from main_tags %}
{% load json_encode from main_tags %}
{% load mor_core_url mor_core_protected_url from main_tags %}
{% load context_template from context_tags %}
{% load webpack_static from webpack_loader %}
{% load get_gebruiker_object_middels_email get_taakgebeurtenis_voor_taakstatus from gebruikers_tags %}
{% if taak.laatste_taakgebeurtenis_omschrijving_intern and taak.laatste_taakgebeurtenis_omschrijving_intern|lower != "taak aangemaakt" %}
    <div class="alert alert--info margin-vertical">
        <div class="wrapper">
            <div class="overflow" tabindex="0" data-controller="overflow">
                <strong>
                    <span class="badge-count">i</span>Interne opmerking
                </strong>
                <div class="container__overflow">
                    <p class="content__overflow">{{ taak.laatste_taakgebeurtenis_omschrijving_intern }}</p>
                </div>
            </div>
            {% if taak.laatste_taakgebeurtenis_gebruiker %}
                {% with gebruiker=taak.laatste_taakgebeurtenis_gebruiker %}
                    <p class="margin-top">
                        <b>Medewerker</b>
                        <br />
                        <a href="mailto:{{ gebruiker.email }}">{{ gebruiker.full_name }}</a>
                        <br />
                    </p>
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endif %}
<h1 class="h3">
    {{ taak.melding.locatie_verbose }}
    <span class="badge {% if taak.taakstatus.naam == 'nieuw' %}badge--darkblue {% elif taak.taakstatus.naam == 'toegewezen' %}badge--yellow {% else %}badge--green{% endif %}">{{ taak.taakstatus.naam|lower|capfirst }}
        {% if taak.additionele_informatie.uitvoerder %}aan {{ taak.additionele_informatie.uitvoerder }}{% endif %}
    </span>
</h1>
<div class="container__flex">
    <div>
        <button class="btn btn-textlink btn-info"
                data-action="infosheet#openInfosheet"
                data-infosheet-action-param="{% url 'taaktype_taakr' taak.taaktype.id %}">
            {{ taak.titel }}
            {% include "icons/info.svg" %}
        </button>
        {% if taak.melding.locatie_type == "adres" %}
            <br>
            <span class="lighter">
                <span data-taak-detail-target="taakAfstand"></span>
            </span>
        {% endif %}
    </div>
    <div class="textalign--right">
        {% if taak.melding.locatie_type %}
            {% if geometrie %}
                <a class="link link--navigate"
                   href="#"
                   data-modal-title-param="Navigeren"
                   data-modal-url-param="{% url 'navigeer' geometrie.1|replace_comma_by_dot geometrie.0|replace_comma_by_dot %}"
                   data-modal-id-param="navigeer"
                   data-action="modal#openModal">{% include "icons/navigate.svg" %}</a>
            {% endif %}
        {% endif %}
        {% if perms.authorisatie.taak_delen and not taak.afgesloten_op %}
            <a class="link--whatsapp"
               href="{% url 'taak_delen' taak.uuid %}"
               target="_blank">{% include "icons/whatsapp.svg" %}</a>
        {% endif %}
    </div>
</div>
