{% load webpack_static from webpack_loader %}
{% load json_encode from main_tags %}
{% load context_template from context_tags %}
<turbo-frame id="taken_lijst">
<div class="list__incidents__scroll-wrapper"
     data-incidentlist-target="taakItemLijst"
     data-taken-count="{{ page_obj.paginator.count }}">
    {% if taken.count >= 1000 %}
        <div class="alert alert--info">
            <span>
                <svg width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9 12C21.9 6.5 17.5 2.1 12 2.1C6.5 2.1 2.1 6.5 2.1 12C2.1 17.5 6.5 21.9 12 21.9C17.5 21.9 21.9 17.5 21.9 12ZM0 12C0 5.4 5.4 0 12 0C18.6 0 24 5.4 24 12C24 18.6 18.6 24 12 24C5.4 24 0 18.6 0 12ZM13 7V5H11V7H13ZM13 19V9H11V19H13Z" fill="#00689E" />
                </svg>
            </span>
            <div>
                Je instellingen en filters zorgen voor meer dan 1000 resultaten. Wil je alleen taken zien die voor jou interessant zijn? <a data-action="main#showFilters">Pas je filters aan</a> of doorloop de <a href="{% url 'onboarding' %}">"onboarding"</a> opnieuw.
            </div>
        </div>
    {% elif taken.count %}
        {% for taak in taken %}
            {% include "taken/taak_lijst_item.html" %}
        {% endfor %}
    {% else %}
        <div class="alert alert--info">
            <span>
                <svg width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9 12C21.9 6.5 17.5 2.1 12 2.1C6.5 2.1 2.1 6.5 2.1 12C2.1 17.5 6.5 21.9 12 21.9C17.5 21.9 21.9 17.5 21.9 12ZM0 12C0 5.4 5.4 0 12 0C18.6 0 24 5.4 24 12C24 18.6 18.6 24 12 24C5.4 24 0 18.6 0 12ZM13 7V5H11V7H13ZM13 19V9H11V19H13Z" fill="#00689E" />
                </svg>
            </span>
            <div>
                We hebben geen taken gevonden binnen je huidige instellingen en filters. Wil je taken zien die voor jou interessant zijn? <a data-action="main#showFilters">Pas je filters aan</a> of doorloop de <a href="{% url 'onboarding' %}">"onboarding"</a> opnieuw.
            </div>
        </div>
    {% endif %}
</div>
{% include "snippets/paginator.html" with page_obj=page_obj %}
</turbo-frame>
