{% load json_encode from main_tags %}
<turbo-frame id="taken_filter">
<form action="{% url 'taken_filter' %}"
      method="post"
      data-controller="filter"
      data-filter-request-type-value="{{ request_type }}"
      data-filter-active-filter-count-value="{{ filter_manager.active_filter_count }}"
      id="incidentFilterAllForm"
      data-testid="incidentFilterAllForm">
    {% csrf_token %}
    <details class="filter filter--active"
             id="foldout_active-filters"
             {% if "foldout_active-filters" in foldout_states %}open{% endif %}>
        <input data-filter-target="foldoutStatesField"
               type="hidden"
               value="{{ foldout_states }}"
               name="foldout_states">
        <summary>
            <span>Actieve filters</span>
            <span class="count count--filter">{{ filter_manager.active_filter_count }}</span>
        </summary>
        <fieldset>
            <ul class="list-clean">
                {% for filter in filter_manager.filters %}
                    {% if filter.active %}
                        <li>
                            {% if filter.groups %}
                                <h3 class="h5">{{ filter.group_label }}</h3>
                                {% for group in filter.groups %}
                                    {% include "filters/selected_options.html" with filter=group %}
                                {% endfor %}
                            {% else %}
                                <h3 class="h5">{{ filter.name|capfirst }}</h3>
                                {% include "filters/selected_options.html" with filter=filter %}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <button class="btn-textlink btn-with-icon margin-vertical"
                    data-action="filter#removeAllFilters">
                {% include "icons/bin.svg" %}
                <span>Verwijder alle filters</span>
            </button>
        </fieldset>
    </details>
    {% for filter in filter_manager.filters %}
        {% if filter.groups %}
            <details class="filter"
                     id="foldout_{{ filter.group_key }}"
                     {% if filter.folded %}open{% endif %}>
                <summary>
                    <span>{{ filter.group_label }}</span>
                    <span>({{ filter.active|length }})</span>
                </summary>
                <ul class="list-clean">
                    {% for group in filter.groups %}
                        <li>{% include "filters/options.html" with filter=group %}</li>
                    {% endfor %}
                </ul>
            </details>
        {% else %}
            {% include "filters/options.html" with filter=filter %}
        {% endif %}
    {% endfor %}
    {% include "snippets/alert_onboarding.html" %}
    <div class="full-page-view__footer">
        {% if incident_count == 0 %}
            <button type="button"
                    class="btn btn-action"
                    data-action="main#hideFilters"
                    disabled="disabled">Er zijn geen meldingen, pas filter aan</button>
        {% elif incident_count == 1 %}
            <button type="button" class="btn btn-action" data-action="main#hideFilters">Toon 1 taak</button>
        {% else %}
            <button type="button" class="btn btn-action" data-action="main#hideFilters">Toon {{ taken_aantal }} taken</button>
        {% endif %}
    </div>
</form>
</turbo-frame>
