{% load webpack_static from webpack_loader %}
{% load json_encode from main_tags %}
{% load context_template from context_tags %}
<div class="page-incidents"
     data-incidents-filters-value="{{ filters|json_encode }}"
     data-controller="incidentlist"
     data-incidentlist-kaart-outlet="#taken_kaart"
     id="taken">
    <div class="container__header" data-incidentlist-target="containerHeader">
        <div class="row">
            <h1 class="h3">
                Taken (<span data-incidentlist-target="takenCount"></span>)
            </h1>
            <div class="container__controls">
                <button type="button"
                        class="btn btn-secondary btn-sort--small"
                        data-action="incidentlist#onToggleSearchContainer"
                        aria-label="Toon zoekveld">
                    <span>{% include "icons/search.svg" %}</span>
                </button>
                <button type="button"
                        class="btn btn-secondary btn-sort--small"
                        data-action="incidentlist#onToggleSortingContainer"
                        aria-label="Sorteer de lijst">
                    <span>{% include "icons/sort.svg" %}</span>
                </button>
                {% context_template "taak_toggle_kaart_button.html" as button_template %}
                {% include button_template %}
                <div class="wrapper wrapper--search" data-controller="zoekFilter">
                    <form data-action="submit->zoekFilter#onSubmit">
                        {% csrf_token %}
                        <input type="search"
                               name="q"
                               maxlength="50"
                               value="{{ request.session.q }}"
                               class="form-control search"
                               placeholder="Zoek op straatnaam of MeldR-nummer"
                               data-zoekfilter-target="zoekField"
                               data-action="zoekFilter#onChangeHandler"
                               id="id_q">
                        <button class="hide"
                                type="button"
                                data-zoekfilter-target="cancelZoek"
                                data-action="zoekFilter#onCancelSearch">{% include "icons/close.svg" %}</button>
                    </form>
                </div>
                <button type="button"
                        class="btn btn-secondary btn-filter--small"
                        data-action="main#showFilters">
                    <span>{% include "icons/filter.svg" %}</span>
                    <span>Filter</span>
                    <span class="count count--filter"
                          data-incidentlist-target="activeFilterCount"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="container__list">
        <div class="container__flex list--navigation-tools">
            <div class="container__sorting hidden-vertical"
                 data-incidentlist-target="sorting">
                <turbo-frame id="sorteer_filter" src="{% url 'sorteer_filter' %}" data-spinner="hide">
                </turbo-frame>
            </div>
            <div class="container__search hidden-vertical"
                 data-incidentlist-target="search">
                <div class="wrapper wrapper--search" data-controller="zoekFilter">
                    <form data-action="submit->zoekFilter#onSubmit">
                        {% csrf_token %}
                        <input type="search"
                               name="q"
                               value="{{ request.session.q }}"
                               class="form-control search"
                               placeholder="Zoek op straatnaam of MeldR-nummer"
                               data-zoekfilter-target="zoekField"
                               data-action="zoekFilter#onChangeHandler"
                               id="id_q">
                        <button class="hide"
                                type="button"
                                data-zoekfilter-target="cancelZoek"
                                data-action="zoekFilter#onCancelSearch">{% include "icons/close.svg" %}</button>
                    </form>
                </div>
            </div>
            <div class="list__incidents"
                 data-testid="incidentsList"
                 data-incidentlist-target="incidentlist">
                <turbo-frame id="taken_lijst">
                </turbo-frame>
            </div>
        </div>
        {% context_template "taak_kaart.html" as kaart_template %}
        {% include kaart_template %}
    </div>
</div>
