{% comment %} eslint-disable no-single-quotes {% endcomment %}
{% load l10n %}
{% load get_taakgebeurtenissen from melding_tags %}
{% load get_gebruiker_object_middels_email from gebruikers_tags %}
{% get_taakgebeurtenissen taak.melding.response_json taak.taakopdracht as taakgebeurtenissen %}
{% if taakgebeurtenissen.0.omschrijving_intern and taakgebeurtenissen.0.omschrijving_intern|lower != "taak aangemaakt" %}
    <div class='alert alert--info margin-vertical'>
        <div class='wrapper'>
            <div class='overflow' tabindex='0' data-controller='overflow'>
                <strong>
                    <span class='badge-count'>i</span>Interne opmerking
                </strong>
                <div class='container__overflow'>
                    <p class='content__overflow'>{{ taakgebeurtenissen.0.omschrijving_intern }}</p>
                </div>
            </div>
            {% if taakgebeurtenissen.0.gebruiker %}
                {% with gebruiker=taakgebeurtenissen.0.gebruiker|get_gebruiker_object_middels_email %}
                    <p class='margin-top'>
                        {% comment %} Haal rol en telefoonnummer uit gebruiker-object
                        <b>{{ gebruiker.rol }}</b> {% endcomment %}
                        <br />
                        <a href='mailto:{{ gebruiker.email }}'>{{ gebruiker.full_name }}</a>
                        <br />
                        {% comment %} {% if gebruiker.telefoonnummer %}
                            <a href='tel:{{ gebruiker.telefoonnummer }}' target='_blank' class='link link--phone'>
                                {{ gebruiker.telefoonnummer }}
                            </a>
                        {% endif %} {% endcomment %}
                    </p>
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endif %}
