<div class="container__skyline-alert--confirmation">
    {% include "icons/skyline.svg" %}
    <div class="alert alert--confirmation">
        <strong>
            <span class="badge-count">i</span>Wil je alleen taken zien die echt voor jou zijn?
        </strong>
        <p>
            <a href="{% url 'onboarding' %}"
               data-turbo-frame="taak_basis"
               data-turbo-action="advance"
               data-action="main#hideFilters">Geef aan waar jij van bent</a>.
        </p>
    </div>
</div>
