{% load gebruikersnaam from gebruikers_tags %}
<turbo-frame id="form_pageheader">
<form action="{% url 'pageheader_form_part' %}" method="post">
    {% csrf_token %}
    <ul class="list-clean list-nav--tertiary">
        <li class="wrapper-horizontal">
            <a href="{% url 'gebruiker_profiel' %}" target="_top">
                {% include "icons/person.svg" %}
                {{ request.user|gebruikersnaam }}
            </a>
        </li>
        {% if request.user.profiel.context.template != "benc" %}
            <li>
                <a href="{% url 'onboarding' %}" target="_top">
                    {% include "icons/settings.svg" %}
                    Profiel instellen
                </a>
            </li>
        {% endif %}
        {% if perms.authorisatie.beheer_bekijken %}
            <li>
                <a href="{% url 'beheer' %}" target="_top">
                    {% include "icons/settings.svg" %}
                    Beheer
                </a>
            </li>
        {% endif %}
        {% if request.user.is_superuser %}
            <li>
                <a href="{% url 'admin:index' %}" target="_blank">
                    {% include "icons/admin.svg" %}
                    Admin
                </a>
            </li>
        {% endif %}
        <li class="wrapper-horizontal">
            <a href="{% url 'logout' %}" target="_top">
                {% include "icons/logout.svg" %}
                Uitloggen
            </a>
        </li>
        {% if UI_SETTINGS.fontsizes %}
            <li class="wrapper-horizontal">
                <span>{% include "icons/eye.svg" with svg_width="25" svg_height="17" %}</span>
                {% for fontsize in UI_SETTINGS.fontsizes %}
                    <button type="submit"
                            class="btn btn-textlink {{ fontsize }}"
                            data-action="pageHeader#setFontSize"
                            data-pageHeader-size-param="{{ fontsize }}"
                            name="fontsize"
                            value="{{ fontsize }}">A</button>
                {% endfor %}
            </li>
        {% endif %}
    </ul>
</form>
</turbo-frame>
