{# djlint:off #}
<div class="modal modal--images"
     data-taak-detail-target="modalImages"
     id="imageModal">
    <div class="modal-backdrop modal-exit"
         id="modal-backdrop"
         data-action="click->taak-detail#closeModal">
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="btn-close"
                        aria-label="Sluit"
                        data-action="taak-detail#closeModal">
                </button>
            </div>
            <div class="modal-body">
                <div class="container__image" data-taak-detail-target="selectedImageModal" style="position: relative">
                    <img class="image" src="" alt="" />
                    <span class="tag--in-image">
                        <span data-taak-detail-target="selectedImageLabel"></span>
                        <span class="sublabel" data-taak-detail-target="selectedImageSubLabel"></span>
                    </span>
                </div>
                <div class="image-counter" data-taak-detail-target="imageCounter"></div>
                <div class="container__navigate-images">
                    <div class="navigate-images--left inactive"
                        data-taak-detail-target="navigateImagesLeft"
                        data-action="click->taak-detail#showPreviousImageInModal">
                        <span aria-label="Bekijk vorige afbeelding">{% include "icons/arrow-right.svg" %}</span>
                    </div>
                    <div class="navigate-images--right inactive"
                        data-taak-detail-target="navigateImagesRight"
                        data-action="click->taak-detail#showNextImageInModal">
                        <span aria-label="Bekijk volgende afbeelding">{% include "icons/arrow-right.svg" %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# djlint:on #}
