{% if page_obj.paginator.num_pages > 1 %}
    <div class="container__pagination">
        <div class="pagination">
            <div class="form-row s12  ">
                <div class="wrapper-horizontal">
                    <ul class="list-clean">
                        {% if page_obj.has_previous %}
                            <li class="has-text">
                                <div>
                                    <a data-action="taken-overzicht#onPageClickEvent:prevent"
                                       data-taken-overzicht-page-param="{{ page_obj.previous_page_number }}"
                                       class="btn--previous">
                                        {% include "icons/arrow-right.svg" %}
                                        Vorige
                                    </a>
                                </div>
                            </li>
                        {% endif %}
                        {% for p in page_obj.paginator.page_range %}
                            {% if p == 1 and page_obj.number >= 3 %}
                                <li>
                                    <a data-action="taken-overzicht#onPageClickEvent:prevent"
                                       data-taken-overzicht-page-param="{{ p }}"
                                       href="#">{{ p }}</a>
                                </li>
                                {% if page_obj.number >= 4 %}<li>...</li>{% endif %}
                            {% elif p <= page_obj.number|add:"1" and p >= page_obj.number|add:"-1" %}
                                <li>
                                    {% if p == page_obj.number %}
                                        <span>{{ p }}</span>
                                    {% else %}
                                        <a data-action="taken-overzicht#onPageClickEvent:prevent"
                                           data-taken-overzicht-page-param="{{ p }}"
                                           href="#">{{ p }}</a>
                                    {% endif %}
                                </li>
                            {% elif p == page_obj.paginator.num_pages %}
                                {% if page_obj.number <= page_obj.paginator.num_pages|add:"-3" %}<li>...</li>{% endif %}
                                <li>
                                    <a data-action="taken-overzicht#onPageClickEvent:prevent"
                                       data-taken-overzicht-page-param="{{ p }}"
                                       href="#">{{ p }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="has-text">
                                <div>
                                    <a data-action="taken-overzicht#onPageClickEvent:prevent"
                                       data-taken-overzicht-page-param="{{ page_obj.next_page_number }}"
                                       href="#"
                                       class="btn--next">
                                        Volgende
                                        {% include "icons/arrow-right.svg" %}
                                    </a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}
