{% extends 'base_modal_context.html' %}
{% load webpack_static from webpack_loader %}
{% load to_date vind_in_dict from main_tags %}
{% load json_encode from main_tags %}

{% block title %}{{ taak.locatie.adres.straatNaam }} {{ taak.locatie.adres.huisnummer }}{% endblock %}

{% block before_modal_content %}

<turbo-frame id="base_frame" data-turbo-action="advance">
    <div>
        <a href="{% url 'incident_index' %}" data-turbo-action="advance" class="link--back" aria-label="Terug">
            <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F"/>
            </svg>
        </a>
    </div>
    <div  data-controller="taak" data-action="cancelHandle->taak#cancelHandleHandler" >
        <div
            data-controller="detail"
            data-detail-taak-object-value="{{ taak }}"
            data-detail-taak-x-value="{{ taak.locatie.x }}"
            data-detail-taak-y-value="{{ taak.locatie.y }}"
            data-detail-area-list-value="{{ areas|json_encode }}"
            data-detail-current-district-value="{{ taak.locatie.buurtNummer }}"
            {% if taak.magAfhandelen %} class="has-sticky-footer" {% endif %}
        >

            {% if taak.melding.response_json.locatie.adres %}
            <h1 class="h3 no-padding">{{ taak.melding.response_json.locatie.adres.straatNaam|lower|capfirst }} {% if taak.melding.response_json.locatie.adres.huisnummer %}{{ taak.melding.response_json.locatie.adres.huisnummer }}{%endif%}</h1>
            {% elif taak.melding.response_json.meta.begraafplaats %}
            {% with grafnummer=taak.melding.response_json.meta.grafnummer vak=taak.melding.response_json.meta.vak plaats=taak.melding.response_json.meta.begraafplaats %}
                    <h1 class="h3">
                        {% if grafnummer %} Graf {{ grafnummer }}, {% endif %}{% if vak %}Vak {{ vak }}{% endif %}
                        {% if not grafnummer and not vak and plaats %}{% vind_in_dict taak.melding.response_json.meta_uitgebreid.begraafplaats.choices plaats %}{% endif %}
                    </h1>
                    {% endwith %}
            {% endif %}

            <section class="section--seperated" data-testid="detailPhotoviewer" {% if  taak.melding.response_json.bijlagen|length < 2 %}style="border: 0;"{% endif %}>
                <div class="full-width">
                {% if taak.melding.response_json.bijlagen %}
                    <div class="container__imageslider" data-detail-target="imageSliderContainer" data-action="scroll->detail#onScrollSlider">
                        <ul
                            class="list-clean imageslider"
                            style="width: calc(100% * {{ taak.melding.response_json.bijlagen|length }})"
                        >
                            {% for foto in taak.melding.response_json.bijlagen %}
                            <li class="container__image" id="{{ foto.afbeelding_relative_url }}">
                                <img src="{{ foto.afbeelding_relative_url }}" alt="" data-detail-target="selectedImage" />
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if taak.melding.response_json.bijlagen|length > 1 %}
                        <div class="container__thumbs">
                            <ul data-detail-target="thumbList">
                                {% for foto in taak.melding.response_json.bijlagen %}
                                <li data-action="click->detail#selectImage"
                                    data-detail-image-index-param="{{ foto.volgnummer }}">
                                    <div class="container__image">
                                        <img src="{{ foto.afbeelding_verkleind_relative_url }}" alt="" />
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                {% else %}
                    <div class="no-image" style="background-image: url('{% webpack_static 'icons/assets/icons/noimage.svg' %}');"></div>
                {% endif %}
                </div>
            </section>

            <section data-testid="detailTaak">
                <div class="container__details taak">
                
                    {% comment %} {{ taak.melding.response_json }} {% endcomment %}
                    <details>
                        <summary>
                            <h2>
                                <svg width="20" height="17" viewBox="0 0 55 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M49.6439 0.0427246L23.0468 33.2845L4.96397 11.2844L0.317383 15.0798L23.0965 42.8261L54.3288 3.79295L49.6439 0.0427246Z" fill="#00811F"/>
                                </svg>
                                Taak {% if taak.spoed %}<span><span class="icon icon--warning"> Spoed</span></span>{% endif %}
                            </h2>
                        </summary>
                        {% if taak.titel %}
                        <h3 class="h5">Omschrijving</h3>
                        <p>{{ taak.titel }}</p>
                        {% endif %}
                        {% if taak.bericht %}
                        <h3 class="h5">Interne opmerking</h3>
                        <p>{{ taak.bericht }}</p>
                        {% endif %}
                        {% if taak.aangemaakt_op %}
                        <h3 class="h5">Aangemaakt</h3>
                        <p>{{ taak.aangemaakt_op|to_date|date:'d-m-Y H:i' }}</p>
                        {% endif %}
                        {% if taak.aangepast_op %}
                        <h3 class="h5">Aangepast</h3>
                        <p>{{ taak.aangepast_op|to_date|date:'d-m-Y H:i' }}</p>
                        {% endif %}
                        {% if taak.afgesloten_op %}
                        <h3 class="h5">Afgesloten</h3>
                        <p>{{ taak.afgesloten_op|to_date|date:'d-m-Y H:i' }}</p>
                        {% endif %}
                        {% if taak.taakstatus %}
                        <h3 class="h5">Status</h3>
                        <p>{{ taak.taakstatus.naam }}</p>
                        {% endif %}
                        {% if taak.resolutie %}
                        <h3 class="h5">Resolutie</h3>
                        <p>{{ taak.resolutie }}</p>
                        {% endif %}
                    </details>
                    <details>
                        <summary>
                            <h2>
                                <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7727 3.72704C11.15 1.10433 6.84951 1.10433 4.2268 3.72704C1.60409 6.34975 1.60409 10.6503 4.2268 13.273L8.99977 18.046L13.7727 13.273C16.3955 10.6503 16.3955 6.34975 13.7727 3.72704ZM8.99977 20.1673L3.16614 14.3336C-0.0423586 11.1251 -0.0423585 5.87488 3.16614 2.66638C6.37463 -0.542114 11.6249 -0.542114 14.8334 2.66638C18.0419 5.87488 18.0419 11.1251 14.8334 14.3336L8.99977 20.1673ZM11.9997 8.49999C11.9997 10.1568 10.6565 11.5 8.99966 11.5C7.34281 11.5 5.99966 10.1568 5.99966 8.49999C5.99966 6.84314 7.34281 5.49999 8.99966 5.49999C10.6565 5.49999 11.9997 6.84314 11.9997 8.49999ZM10.4997 8.49999C10.4997 9.32842 9.82809 9.99999 8.99966 9.99999C8.17123 9.99999 7.49966 9.32842 7.49966 8.49999C7.49966 7.67157 8.17123 6.99999 8.99966 6.99999C9.82809 6.99999 10.4997 7.67157 10.4997 8.49999Z" fill="#00811F"/>
                                </svg>
                                Locatie
                            </h3>
                        </summary>
                            {% if taak.melding.response_json.locatie.adres %}
                            <p>
                                <span class="link link--location" data-controller="incidentlist" data-action="click->incidentlist#makeRoute"
                                    data-incidentlist-incidents-param="[{{ taak }}]">
                                    <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7727 3.72704C11.15 1.10433 6.84951 1.10433 4.2268 3.72704C1.60409 6.34975 1.60409 10.6503 4.2268 13.273L8.99977 18.046L13.7727 13.273C16.3955 10.6503 16.3955 6.34975 13.7727 3.72704ZM8.99977 20.1673L3.16614 14.3336C-0.0423586 11.1251 -0.0423585 5.87488 3.16614 2.66638C6.37463 -0.542114 11.6249 -0.542114 14.8334 2.66638C18.0419 5.87488 18.0419 11.1251 14.8334 14.3336L8.99977 20.1673ZM11.9997 8.49999C11.9997 10.1568 10.6565 11.5 8.99966 11.5C7.34281 11.5 5.99966 10.1568 5.99966 8.49999C5.99966 6.84314 7.34281 5.49999 8.99966 5.49999C10.6565 5.49999 11.9997 6.84314 11.9997 8.49999ZM10.4997 8.49999C10.4997 9.32842 9.82809 9.99999 8.99966 9.99999C8.17123 9.99999 7.49966 9.32842 7.49966 8.49999C7.49966 7.67157 8.17123 6.99999 8.99966 6.99999C9.82809 6.99999 10.4997 7.67157 10.4997 8.49999Z" fill="#00811F"/>
                                    </svg>
                                    {{ taak.melding.response_json.locatie.adres.straatNaam|lower|capfirst }} {% if taak.locatie.adres.huisnummer %}{{ taak.locatie.adres.huisnummer }}{%endif%}
                                </span>
                            </p>
                            {% endif %}
                            {% if taak.melding.response_json.meta.begraafplaats %}
                                <h3 class="h5">Begraafplaats</h3>
                                <p>{% vind_in_dict taak.melding.response_json.meta_uitgebreid.begraafplaats.choices taak.melding.response_json.meta.begraafplaats %}</p>
                                {% if taak.melding.response_json.meta.grafnummer %}
                                <h3 class="h5">Grafnummer</h3>
                                <p>{{ taak.melding.response_json.meta.grafnummer }}</p>
                                {% endif %}
                                {% if taak.melding.response_json.meta.vak %}
                                <h3 class="h5">Vak</h3>
                                <p>{{ taak.melding.response_json.meta.vak }}</p>
                                {% endif %}
                                {% if taak.melding.response_json.meta.naam_overledene %}
                                <h3 class="h5">Naam overledene</h3>
                                <p>{{ taak.melding.response_json.meta.naam_overledene }}</p>
                                {% endif %}

                            {% else %}
                                <dl>
                                    <div>
                                        <dt>Wijk:</dt>
                                        <dd data-detail-target="area"></dd>
                                    </div>
                                    <div>
                                        <dt>Buurt:</dt>
                                        <dd data-detail-target="district"></dd>
                                    </div>
                                    {% if taak.locatie.subbuurt %}
                                    <div>
                                        <dt>Subbuurt:</dt>
                                        <dd>{{ taak.locatie.subbuurt }}</dd>
                                    </div>
                                    {% endif %}
                                    {% if taak.locatie.plaatsbepaling %}
                                    <div>
                                        <dt>Plaatsbepaling:</dt>
                                        <dd>{{ taak.locatie.plaatsbepaling }}</dd>
                                    </div>
                                    {% endif %}
                                </dl>
                                <div class="container__map full-width">
                                    <div
                                        class="map"
                                        id="incidentMap"
                                        data-action="touchstart->detail#onTwoFingerDrag touchend->detail#onTwoFingerDrag"
                                    >
                                        <div class="map__overlay">
                                            <span>
                                                Gebruik twee vingers om de kaart te verplaatsen
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                    </details>
                    <details>
                        <summary>
                            <h2>
                                <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.25 3.75H10.75V5.25H3.25V3.75Z" fill="#00811F"/>
                                    <path d="M10.75 6.75H3.25V8.25H10.75V6.75Z" fill="#00811F"/>
                                    <path d="M3.25 9.75H10.75V11.25H3.25V9.75Z" fill="#00811F"/>
                                    <path d="M9.25 12.75H3.25V14.25H9.25V12.75Z" fill="#00811F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 0V18H13.75V0H0.25ZM12.25 1.5H1.75V16.5H12.25V1.5Z" fill="#00811F"/>
                                </svg>
                                Melding
                            </h2>
                        </summary>
                        <h3 class="h5">Nummer</h3>
                        <p>{{ taak.melding.response_json.id }}</p>
                        <h3 class="h5">Ingediend</h3>
                        <p>{{ taak.melding.response_json.aangemaakt_op|to_date|date:'d-m-Y H:i' }}</p>
                        {% if taak.melding.response_json.meta.aannemer %}
                            <h3 class="h5">Aangenomen door</h3>
                            <p>{{ taak.melding.response_json.meta.aannemer }}</p>
                        {% endif %}
                        {% if taak.melding.response_json.onderwerpen %}
                        <h3 class="h5">Onderwerp</h3>
                        <p>
                            {% for onderwerp in taak.melding.response_json.onderwerpen %}
                                {{ onderwerp.naam }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                        <h3 class="h5">Toelichting</h3>
                        {% if taak.melding.response_json.omschrijving %}
                        <p>
                            {{ taak.melding.response_json.omschrijving }}
                        </p>
                        {% endif %}
                        
                        {% if taak.afdeling.omschrijving %}
                        <h3 class="h5">Afdeling</h3>
                        <p>
                            {{ taak.afdeling.omschrijving }}
                        </p>
                        {% endif %}
                    </details>

                    <details>
                        <summary>
                            <h2>
                                <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.0009 11C19.0009 15.9706 14.9715 20 10.0009 20C6.96008 20 4.27145 18.4919 2.64218 16.1829L0.953125 17.2577C2.93876 20.1233 6.25068 22 10.0009 22C16.0761 22 21.0009 17.0751 21.0009 11C21.0009 4.92487 16.0761 0 10.0009 0C6.96339 0 4.21339 1.23121 2.22279 3.22181L1.00098 2V6H5.00098L3.637 4.63602C5.26568 3.00735 7.51567 2 10.0009 2C14.9715 2 19.0009 6.02944 19.0009 11Z" fill="#00811F"/>
                                    <path d="M9.00098 5H11.001V11.8573L15.1973 14.28L14.1973 16.0121L9.00098 13V5Z" fill="#00811F"/>
                                </svg>
                                Tijdlijn
                            </h2>
                        </summary>
                        <ul class="list__mutations">
                        {% for melding_gebeurtenis in taak.melding.response_json.melding_gebeurtenissen %}
                            <li data-controller="datetime" data-datetime-date-object-value="{{ melding_gebeurtenis.aangemaakt_op }}">
                                <details class="timeline" open>
                                    <summary>
                                        {% if melding_gebeurtenis.aangemaakt_op %}
                                        <strong>{{ melding_gebeurtenis.aangemaakt_op|to_date|date:"d-m-Y" }} <span data-datetime-target="timeHoursMinutes"></span></strong><br>
                                        {% endif %}
                                    </summary>
                                    <dl>
                                        {% if melding_gebeurtenis.status %}
                                            <dt class="h5">Status</dt>
                                            <dd>{{ melding_gebeurtenis.status.naam }}</dd>
                                        {% endif %}
                                        {% if melding_gebeurtenis.omschrijving_extern %}
                                            <dt class="h5">Bericht voor de melder</dt>
                                            <dd>{{ melding_gebeurtenis.omschrijving_extern }}</dd>
                                        {% endif %}

                                        {% if melding_gebeurtenis.omschrijving_intern %}
                                            <dt class="h5">Interne opmerking</dt>
                                            <dd>{{ melding_gebeurtenis.omschrijving_intern }}</dd>
                                        {% endif %}
                                    </dl>
                                    {% if melding_gebeurtenis.bijlagen|length %}
                                        <div class="container__thumbs">
                                            <ul>
                                                {% for bijlage in melding_gebeurtenis.bijlagen %}
                                                <li>
                                                    <div class="container__image">
                                                        <div class="image" style="background-image:url('{{bijlage.afbeelding_verkleind_relative_url}}');"></div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </details>
                            </li>
                        {% endfor %}
                        </ul>
                    </details>
                </div>
            </section>

           

            <section class="section--seperated section--seperated__no-border-bottom" data-testid="detailActions">
                <div class="container__details">
                    {% if not taak.afgesloten_op %}
                    <div class="sticky sticky--bottom">
                        <div class="form-row">
                            <button
                                class="btn btn-action"
                                data-id="{{ taak.id }}"
                                data-taak-is-finished-param = true
                                data-action="taak#openModal"
                            >
                                Taak behandelen
                            </button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </section>
        </div>
{% endblock %}



{% block modal_header %}
<h1>
    <span>Afhandelen</span><br>
    <small data-address>{{ taak.locatie.adres.straatNaam|lower|capfirst }} {{ taak.locatie.adres.huisnummer }}</small>
</h1>
<button
    type="button"
    class="btn-close"
    aria-label="Sluit"
    data-action="taak#closeModal">
</button>
{% endblock %}



{% block modal_body %}
<turbo-frame
    id="incident_modal_handle_{{ taak.id }}"
    data-taak-target="turboFormHandler"
    data-src="{% url 'incident_modal_handle_part' taak.id %}"
    src="{% url 'incident_modal_handle_part' taak.id %}"
    laoding="lazy"
>
</turbo-frame>
{% endblock %}





{% block after_modal_content %}
    </div>
</turbo-frame>
{% endblock %}
