{% extends 'snippets/modal_context.html' %}
{% load webpack_static from webpack_loader %}
{% load to_date vind_in_dict from main_tags %}
{% load json_encode from main_tags %}
{% with incident_id=incident.id|stringformat:"s" %}

{% block before_modal_content %}
{% comment %} <turbo-frame id="incident_list_item"> {% endcomment %}
    <div
        class="list-item{% if form_submitted %} form-is-submitted{% endif %}{% if errors and warnings %} has-errors{% endif %}"
        {% comment %} data-controller="taak"
        data-action="formHandleIsConnected->taak#formHandleIsConnectedHandler cancelHandle->taak#cancelHandleHandler"
        data-taak-date-value="{{ incident.datumMelding }}"
        data-taak-days-value="{{ incident.werkdagenSindsRegistratie }}" {% endcomment %}>
        
        <div class="wrapper__swipe">
            <div class="container__flex">
                <a href="{% url 'taak_detail' taak.id %}" aria-label="Bekijk taak {{ taak.id }}">
                    <div class="container__image">
                        {% if taak.melding.response_json.bijlagen %}
                        {% with taak.melding.response_json.bijlagen|first as first_foto %}
                        <div class="background-image" style="background-image: url('{{ first_foto.afbeelding_verkleind_relative_url }}')"></div>
                        {% endwith %}
                        {% else %}
                            <div class="background-image" style="background-image: url('{% webpack_static 'icons/assets/icons/noimage.svg' %}'); background-size: 40%;"></div>
                        {% endif %}
                    </div>

                    <div class="container__info">
                        {# <a href="/incident/{{ incident.id }}/handle"> #}
                        {% if taak.melding.response_json.meta.grafnummer %}
                        <div>
                            {% with grafnummer=taak.melding.response_json.meta.grafnummer vak=taak.melding.response_json.meta.vak plaats=taak.melding.response_json.meta.begraafplaats %}
                            <h2 class="h4">
                                {% if plaats %}{% vind_in_dict taak.melding.response_json.meta_uitgebreid.begraafplaats.choices plaats %}, {% endif %}
                                {% if grafnummer %} Graf {{ grafnummer }}, {% endif %}{% if vak %}Vak {{ vak }}{% endif %}
                                {% if not grafnummer and not vak and plaats %}{% vind_in_dict taak.melding.response_json.meta_uitgebreid.begraafplaats.choices plaats %}{% endif %}
                            </h2>
                            <div>
                                <span class="incident__category">{{ taak.titel }}</span>
                                <div class="incident__moment">
                                    <span data-taak-target="incidentDate">
                                        {{ taak.aangemaakt_op|to_date }}
                                    </span>
                                    <span>{{ taak.taakstatus.naam }}</span>
                                </div>
                            </div>
                            {% endwith %}
                        </div>

                        {% else %}
                        <div class="incident__header">Melding: {{taak.melding.id}}
                            <h2>{{ taak.locatie.adres.straatNaam|lower|capfirst }} {% if taak.locatie.adres.huisnummer %}{{ taak.locatie.adres.huisnummer }}{%endif%}</h2>
                            {% if taak.spoed %}<span class="icon icon--warning">{% endif %}</span>
                        </div>  
                        {% endif %}
                        {# </a> #}
                    </div>
                </a>
            </div>
        </div>
    
{% endblock %}

{% block modal_header %}
<h1>
    <span>Afhandelen</span><br>
    <small data-address>{{ incident.locatie.adres.straatNaam|lower|capfirst }} {{ incident.locatie.adres.huisnummer }}</small>
</h1>
<button
    type="button"
    class="btn-close"
    aria-label="Sluit"
    data-action="taak#closeModal"
></button>
{% endblock %}

{% block modal_body %}
    {% comment %} <turbo-frame id="incident_modal_handle_{{ incident.id }}" data-taak-target="turboFormHandler" data-handled="handled" data-not-handled="not-handled" data-src="{% url 'incident_modal_handle_part' taak.id %}" src="{% url 'incident_modal_handle_part' taak.id %}" loading="lazy">
    </turbo-frame> {% endcomment %}
{% endblock %}

{% block after_modal_content %}
    </div>
{% comment %} </turbo-frame> {% endcomment %}
{% endblock %}
{% endwith %}
