{% extends "base_beheer.html" %}
{% block title %}
    Rechtengroepen | Beheer | FixeR
{% endblock title %}
{% block body %}
    <div class="page__beheer" data-controller="row-search">
        <div>
            <a href="{% url 'beheer' %}" class="link--back">
                {% include "icons/arrow-long.svg" %}
                Beheer
            </a>
        </div>
        <div class="container__flex">
            <h1>Rechtengroepen</h1>
            <a class="btn btn-action" href="{% url 'rechtengroep_aanmaken' %}">
                {% include "icons/plus.svg" %}
                Nieuwe groep
            </a>
        </div>
        <div class="alert alert--info">
            <strong>
                <span class="badge-count">i</span>Toelichting
            </strong>
            <p>
                Een rechtengroep bevat een set lees- en wijzigrechten met betrekking tot de verschillende functionaliteiten van FixeR.
            </p>
        </div>
        <div class="container__table">
            <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Aantal rechten</th>
                        <th>Aantal gebruikers</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr data-row-search-target="row">
                            <td data-row-search-target="searchable">{{ object.name }}</td>
                            <td data-row-search-target="searchable">
                                {% if object.permissions.all %}
                                    {{ object.permissions.all|length }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td data-row-search-target="searchable">{{ object.user_set.all|length }}</td>
                            <td>
                                <a href="{% url 'rechtengroep_aanpassen' object.pk %}"
                                   aria-label="Aanpassen">{% include "icons/edit.svg" %}</a>
                            </td>
                            <td>
                                {% if not object.user_set.all %}
                                    <a href="{% url 'rechtengroep_verwijderen' object.pk %}"
                                       onclick="return confirm('Weet je zeker dat je deze rechtengroep wil verwijderen?')">Verwijderen</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}
