{% extends "base_beheer.html" %}
{% load rotterdam_formulier_html %}
{% block body %}
    <turbo-frame id="beheer" data-turbo-action="advance">
    <div class="page__beheer" data-controller="row-search">
        <div>
            <a href="{% url 'beheer' %}" class="link--back">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
                Beheer
            </a>
        </div>
        <div class="container__flex">
            <h1>Release Notes</h1>
            <a class="btn btn-action btn-240"
               href="{% url 'release_note_aanmaken' %}">
                <svg width="24"
                     height="24"
                     viewBox="0 0 32 32"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 6H15V15H6V17H15V26H17V17H26V15H17V6Z" fill="#ffffff"></path>
                </svg>
                Nieuwe release note
            </a>
        </div>
        <form>
            <div class="form-row">
                <label class="" for="id_zoeken">Zoeken</label>
                <div>
                    <input type="text"
                           id="id_zoeken"
                           name="zoeken"
                           class="form-control "
                           data-action="row-search#search">
                </div>
            </div>
        </form>
        <h2>Release Notes</h2>
        <table>
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Beschrijving</th>
                    <th>Aanmaak Datum</th>
                    <th>Publicatie Datum</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for release_note in release_notes %}
                    <tr data-row-search-target="row">
                        <td data-row-search-target="searchable">{{ release_note.titel }}</td>
                        <td data-row-search-target="searchable">{{ release_note.beschrijving|striptags|safe|truncate_text:200 }}</td>
                        <td data-row-search-target="searchable">{{ release_note.aangemaakt_op }}</td>
                        <td data-row-search-target="searchable">{{ release_note.publicatie_datum }}</td>
                        <td>
                            <a href="{% url 'release_note_aanpassen' release_note.pk %}">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     height="16"
                                     width="16"
                                     viewBox="0 0 512 512"
                                     fill="none">
                                    <path fill="#1C274C" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" />
                                </svg>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'release_note_verwijderen' release_note.pk %}" onclick="return confirm('Weet je zeker dat je deze release note wil verwijderen?')">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     height="16"
                                     width="14"
                                     viewBox="0 0 448 512"
                                     fill="none">
                                    <path fill="#1C274C" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </turbo-frame>
{% endblock body %}
