{% extends "infosheet/turbo.html" %}
{% block content %}
    <div class="container__content--taakr">
        <h1>{{ taaktype.omschrijving }}</h1>
        <p>{{ taaktype.toelichting }}</p>
        <h2 class="label--positive">Wanneer wel</h2>
        <div class="container__slider-horizontal {% if taaktype.waarom_wel|length < 2 %}single-item{% endif %}">
            <ul class="list-slider">
                {% for voorbeeldsituatie in taaktype.waarom_wel %}
                    <li class="container__explained">
                        <figure class="container__image">
                            {% if voorbeeldsituatie.bijlagen|length > 0 %}
                                <img src="{{ voorbeeldsituatie.bijlagen.0.afbeelding }}" />
                                <figcaption>
                                    <div class="icon--positive"></div>
                                    {{ voorbeeldsituatie.toelichting }}
                                </figcaption>
                            {% endif %}
                        </figure>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h2 class="label--negative">Wanneer niet</h2>
        <div class="container__slider-horizontal {% if taaktype.waarom_wel|length < 2 %}single-item{% endif %}">
            <ul class="list-slider">
                {% for voorbeeldsituatie in taaktype.waarom_niet %}
                    <li class="container__explained">
                        <figure class="container__image">
                            {% if voorbeeldsituatie.bijlagen|length > 0 %}
                                <img src="{{ voorbeeldsituatie.bijlagen.0.afbeelding }}" />
                                <figcaption>
                                    <div class="icon--negative"></div>
                                    {{ voorbeeldsituatie.toelichting }}
                                </figcaption>
                            {% endif %}
                        </figure>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a href="{{ taaktype.taakr_url }}" target="_blank">Meer weten over dit taak</a>
    </div>
{% endblock content %}
