{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from main_tags %}
{% load get_field_from_gebruiker_middels_email from gebruikers_tags %}
{% block title %}
    {{ object.email|get_field_from_gebruiker_middels_email }} | Profiel | FixeR
{% endblock title %}
{% block body %}
    <turbo-frame id="taak_basis">
    {% block messages %}
        {% if messages %}
            <div class="messages-container" data-controller="messages">
                <div class="wrapper">
                    <ul class="messages">
                        {% for message in messages %}<li class="message message-{{ message.tags }}">{{ message }}</li>{% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endblock messages %}
    <div class="page__beheer">
        <h1 data-testid="gebruikersnaam">
            {% include "icons/user.svg" %}
            {{ object.email|get_field_from_gebruiker_middels_email }}
        </h1>
        {% if object.profiel or object.groups.exists %}
            <h2 class="h3" data-testid="rechtengroep">
                {% if object.groups.exists %}{{ object.groups.first.name }} |{% endif %}
                {% if object.profiel.context %}{{ object.profiel.context }}{% endif %}
            </h2>
        {% endif %}
        <div class="grid-container">
            <div class="grid-item">
                <form action="." method="post">
                    {% csrf_token %}
                    <div>
                        <h2 class="h5">E-mailadres</h2>
                        <p class="no-margin-top" data-testid="email">{{ object.email }}</p>
                    </div>
                    {% if not form.first_name.field.widget.attrs.readonly or not form.last_name.field.widget.attrs.readonly or not form.telefoonnummer.field.widget.attrs.readonly %}
                        <fieldset class="no-margin-bottom">
                            {{ form.telefoonnummer|render_rotterdam_formulier }}
                            {{ form.first_name|render_rotterdam_formulier }}
                            {{ form.last_name|render_rotterdam_formulier }}
                        </fieldset>
                    {% elif object.telefoonnummer %}
                        <div>
                            <h2 class="h5 ">Telefoonnummer</h2>
                            <p class="no-margin-top" data-testid="telefoon">{{ object.telefoonnummer }}</p>
                        </div>
                    {% endif %}
                    {% include "snippets/alert_onboarding.html" %}
                    {% if email_beheer %}
                        <div class="alert alert--info">
                            <strong>
                                <span class="badge-count">i</span>Kloppen je gegevens niet?
                            </strong>
                            <p>
                                <a href="mailto:{{ email_beheer }}" target="_blank">Stuur ons een mail</a>.
                            </p>
                        </div>
                    {% endif %}
                    {% if not form.first_name.field.widget.attrs.readonly or not form.last_name.field.widget.attrs.readonly or not form.telefoonnummer.field.widget.attrs.readonly %}
                        <div class="form-row">
                            <button type="submit" class="btn btn-action">
                                <span>Opslaan</span>
                            </button>
                        </div>
                    {% endif %}
                </form>
            </div>
            <div class="grid-item"></div>
        </div>
    </div>
    </turbo-frame>
{% endblock body %}
