{% extends "base_beheer.html" %}
{% load rotterdam_formulier_html %}
{% block body %}
    <turbo-frame id="release_notes" data-turbo-action="advance">
    <div class="page__beheer" data-controller="row-search">
        <div>
            <div class="container__flex">
                <h1 class="pagetitle">Nieuw in FixeR</h1>
            </div>
            <ul class="list-clean">
                {% for release_note in release_notes %}
                    <li class="list-item">
                        <h2>{{ release_note.titel|capfirst }}</h2>
                        <p class="release-date">{{ release_note.publicatie_datum }}</p>
                        <div class="container__image" id="{{ release_note.afbeelding }}">
                            <img src="{{ release_note.afbeelding }}" alt="" />
                        </div>
                        <p class="description">
                            {{ release_note.beschrijving|truncate_text:200 }}
                            <br />
                            <small><a href="{% url 'release_note_detail' release_note.pk %}">Lees meer</a></small>
                        </p>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    </turbo-frame>
{% endblock body %}
