{% extends "base_beheer.html" %}
{% load rotterdam_formulier_html %}
{% block title %}
    {{ release_note.titel|capfirst }} | Nieuw in FixeR | FixeR
{% endblock title %}
{% block body %}
    <turbo-frame id="release_notes" data-turbo-action="advance">
    <div class="page__beheer" data-controller="row-search">
        <div>
            <a href="{% url origine %}" class="link--back">{% include "icons/arrow-long.svg" %}</a>
        </div>
        <h1 class="pagetitle">{{ release_note.titel|capfirst }}</h1>
        {% if release_note.publicatie_datum %}<p class="release-date">{{ release_note.publicatie_datum }}</p>{% endif %}
        <p class="description">{{ release_note.beschrijving|safe }}</p>
        <div class="container padding--bottom">
            <ul class="list--images">
                {% for bijlage in release_note.bijlagen.all %}
                    {% if bijlage.mimetype == "image/gif" and bijlage.bestand %}
                        <li>
                            <img src="{{ bijlage.bestand.url }}" alt="GIF">
                        </li>
                    {% elif bijlage.afbeelding %}
                        <li>
                            <img src="{{ bijlage.afbeelding.url }}" alt="Afbeelding">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <a href="{% url origine %}">Bekijk alle berichten</a>
    </div>
    </turbo-frame>
{% endblock body %}
